.page-404-wrap {
    background: #ededed;
}

.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 600px;*/
    height: calc(100vh - 200px);
}

@media (--mdMinus) {
    .page-404 {
        /*height: 570px;*/
    }
}

@media (--smMinus) {
    .page-404 {
        /*height: 370px;*/
    }
}

.page-404__row1 {
    font-family: 'Proxima';
    font-weight: 400;
    font-size: 14px;
    color: #19191a;
    text-align: center;
    text-transform: uppercase;
}

.page-404__row2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 100px;
    color: #19191a;
    text-align: center;
}

@media (--smMinus) {
    .page-404__row2 {
        font-size: 70px;
    }
}

.page-404__text {
    text-align: center;
}

.page-404__text p {
    font-family: 'Proxima';
    font-weight: 300;
    color: #19191a;
    font-size: 17px;
}

@media (--smMinus) {
    .page-404__text p {
        font-size: 14px;
    }
}

.page-404__text a {
    border: none;
    outline: none;
    background: none;
    font-weight: normal;
    color: #f7941e;
    margin: 0px;
    padding: 0px;
    font-family: 'Proxima Nova Semibold';
    font-size: 17px;
    color: #f7941e;
    position: relative;
    text-decoration: none;
    transition: color 0.4s ease-in;
}

@media (--smMinus) {
    .page-404__text a {
        font-size: 14px;
    }
}

.page-404__text a:hover:after {
    width: 0;
}

.page-404__text a:hover {
    color: #2b2634;
}

.page-404__text a:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #fde7d6;
    height: 1px;
    -webkit-transition: width 0.4s ease-in;
    -moz-transition: width 0.4s ease-in;
    -ms-transition: width 0.4s ease-in;
    -o-transition: width 0.4s ease-in;
    transition: width 0.4s ease-in;
}

.btn-call-inner_gray2:after {
    content: "";
    background: #ededed;
    width: 246px;
    height: 50px;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -123px;
    top: 50%;
    margin-top: -25px;
    z-index: 41;
}