.main-action-wrap {
    margin-top: 70px;
    background: #ededed;
}

.main-action-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

@media (--lgMinus) {
    .main-action-container {
        padding: 0 55px;
    }
}


.main-action-wrap__title {
    width: 25%;
    font-size: 40px;
    color: #19191a;
    font-family: 'Gilroy';
    font-weight: 400;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (--smMinus) {
    .main-action-wrap__title {
        font-size: 30px;
    }
}

.main-action-wrap__title span {
    margin-top: 30px;
}

.main-action-wrap__title:before {
    content: '';
    background: #319b6b;
    height: 1px;
    width: 80px;
    /*position: absolute;*/
    /*top:0;*/
    /*left:0;*/
    margin-top: 120px;
}


.main-action {
    background: #2b2634;
    width: 75%;
    position: relative;
}

.main-action__img {
    position: relative;
}

.main-action__img img {
    display: block;
}

.main-action__img:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity .5s ease;
}

.main-action:hover .main-action__img:after {
    opacity: 1;
}


.main-action__info {
    padding: 20px;
}

.main-action__time {
    background: url("../img/action/timer-mainAction.svg") no-repeat 0 2px;
    font-size: 16px;
    color: #929292;
    padding: 1px 0 0px 25px;
    font-family: 'Proxima Nova Light';
}

.main-action__title {
    font-family: 'Proxima Nova Regular';
    font-size: 28px;
    color: #f7931e;
    margin-top: 10px;
}

@media (--mdMinus) {
    .main-action__title {
        font-size: 25px;
    }
}

@media (--smMinus) {
    .main-action__title {
        font-size: 20px;
    }
}

.main-action__text p {
    font-family: 'Proxima Nova Light';
    font-size: 17px;
    color: #ffffff;
    margin-top: 10px;
}


@media (--smMinus) {
    .main-action__text {
        font-size: 16px;
    }
}

.main-action__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.action-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1170px;
    margin: 30px auto 0;
}

@media (--lgMinus) {
    .action-list {
        padding: 0 45px;
    }
}

.action-list:after {
    content: "";
    flex: auto;
    width: calc(50% - 20px);
}

.item-action-wrap {
    width: 50%;
    padding: 10px;
}

.item-action {
    position: relative;
    background: #fff;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd;
    height: 100%;
}

.item-action:hover {
    background: #ffffff;
    box-shadow: 0px 15px 25px 0px rgba(43, 38, 52, 0.15);
}

.item-action__info {
    padding: 20px;
}

.item-action__time {
    background: url("../img/action/timer-actionList_green.svg") no-repeat 0 2px;
    color: #929292;
    padding-left: 17px;
    font-size: 14px;
    font-family: 'Proxima Nova Light';
}

.item-action__title {
    font-family: 'Proxima Nova Regular';
    font-size: 25px;
    color: #000000;
    margin-top: 10px;
}

.item-action__img {
    position: relative;
}

.item-action__img img {
    display: block;
}

.item-action__img:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity .5s ease;
}

.item-action:hover .item-action__img:after {
    opacity: 1;
}

@media (--mdMinus) {
    .item-action__title {
        font-size: 20px;
    }
}

.item-action__text {
    font-family: 'Proxima Nova Light';
    font-size: 14px;
    color: #3c3c3c;
    margin-top: 10px;
}

.item-action__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (--mdMinus) {

    .main-action-wrap {
        background: transparent;
        padding: 0 40px;
    }

    .main-action-container {
        padding: 0;
    }

    .main-action-wrap__title {
        width: 100%;
        margin-top: 0;
        padding: 0px 0 30px;
        flex-direction: row;
    }

    .main-action-wrap__title span {
        margin-top: 50px;
    }

    .main-action-wrap__title:before {
        order: 2;
        margin-top: 92px;
        margin-left: 20px;
    }

    .main-action {
        width: 100%;
    }

    .action-list {
        padding: 0 30px;
    }
}

@media (--smMinus) {
    .item-action-wrap {
        width: 100%;
    }

    .main-action-wrap {
        padding: 0 20px;
    }

    .action-list {
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .main-action-wrap__title span {
        width: 100%;
        margin-top: 30px;
    }

    .main-action-wrap__title:before {
        margin-top: 20px;
        margin-left: 0;
    }
}


.action-nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 110px auto 0;
    padding: 0 55px;
}


.action-nav__link {
    width: calc(100% / 3);
    background-color: #ededed;
    font-size: 14px;
    color: #929292;
    font-family: 'Proxima Nova Light';
    text-decoration: none;
    padding: 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.action-nav__link span {
    margin-left: 13px;
}

.action-nav__link_next span {
    margin-left: 0;
    margin-right: 13px;
}

.action-nav__link:hover {
    background-color: #f6f6f6;
}

.action-nav__link_prev {
    justify-content: flex-start;
}

.action-nav__link_list {
    justify-content: center;
}


.action-nav__link_next {
    justify-content: flex-end;
}



.action-nav__link_list:before {
    content: '';
    background-image: url("../img/action-card/action-card-list.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 13px;
    height: 13px;
    display: block;
}

.action-nav__link_next:after {
    content: '';
    background-image: url("../img/action-card/action-card-next.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 8px;
    height: 13px;
    display: block;
}

.action-nav__link_prev:before {
    content: '';
    background-image: url("../img/action-card/action-card-prev.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 8px;
    height: 13px;
    display: block;
}

.action-card {
    max-width: 1170px;
    padding: 0 55px;
    margin: 45px auto;
}

.action-card__title {
    font-family: 'Proxima Nova Regular';
    font-weight: normal;
    font-size: 38px;
    color: #191919;
}

@media (--mdMinus) {
    .action-card__title {
        font-family: 'Proxima Nova Regular';
        font-size: 30px;
    }
}

@media (--smMinus) {
    .action-card__title {
        font-size: 25px;
    }
}

.action-card__subtitle {
    color: #3c3c3c;
    font-size: 20px;
    font-family: 'Proxima Nova Light';
    margin-top: 10px;
}

.action-card__img {
    margin-top: 35px;
    font-size: 0;
}

.action-card_infobar {
    background-color: #2b2634;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.action-card__time {
    color: #929292;
    font-size: 16px;
    font-family: 'Proxima Nova Light';
    background: url("../img/action-card/timer-fullAction.svg") no-repeat 0 4px;
    padding-left: 45px;
}

@media (--smMinus) {
    .action-card__time {
        font-size: 14px;
        padding-left: 35px;
        background-size: 16%;
    }
}

.action-card__time span {
    font-family: 'Proxima Nova Regular';
    font-size: 20px;
    color: #ffffff;
    display: block;
}

@media (--smMinus) {
    .action-card__time span {
        font-size: 16px;
    }
}

.action-card__btn {
    background-color: #f7941e;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 285px;
    text-align: center;
    transition: background-color 0.2s;
}

.action-card__btn:hover {
    background-color: #f69e36;
}

.action-card__btn_mobile {
    margin: 40px auto 0;
    display: none;
}

@media (--smMinus) {
    .action-card__btn_mobile {
        display: block;
    }
}


.action-card-content {
    margin-top: 60px;
}

.list-line {
    margin: 0;
    padding: 0;
}

.list-line li {
    position: relative;
    padding-left: 40px;
    list-style: none;
    color: #19191a;
    font-family: 'Proxima Nova Light';
    font-size: 17px;
    margin: 12px 0;
    line-height: 1.5;
}

@media (--smMinus) {
    .list-line li {
        font-size: 15px;
    }
}

.list-line li:before {
    content: '';
    background: #f8b470;
    width: 30px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 12px;
}

.list-circle li {
    list-style: none;
    padding-left: 20px;
}

.list-circle li:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #303030;
}

@media (--mdMinus) {

    .action-nav {
        padding: 0 40px;
    }

    .action-card {
        padding: 0 40px;
    }
}

@media (--smMinus) {

    .action-nav {
        padding: 0;
        margin-top: 70px;
    }

    .action-card {
        padding: 0 20px;
        margin: 25px auto 45px;
    }

    .action-card__btn_desktop {
        display: none;
    }

    .action-nav__link span {
        display: none;
    }
}

.action-card-content__title {
    font-size: 25px;
    font-family: 'Proxima Nova Semibold';
}

@media (--smMinus) {
    .action-card-content__title {
        font-size: 20px;
    }
}

.action-nav__link_disable {
    opacity: 0.7;
}

.action-nav__link_disable:hover {
    cursor: default;
    background: #ededed;
}