.building-process-header {
    margin-top: 70px;
    background: #ededed;
    padding: 0px 55px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
}

@media (--mdMinus) {
    .building-process-header {
        padding: 0 40px 0;
    }
}

@media (--smMinus) {
    .building-process-header {
        padding: 0 20px 0;
        height: 48px;
    }
}


.breadcrumbs {
    border-left: 1px solid#319b6b;
    padding-left: 20px;
}

@media (--smMinus) {
    .breadcrumbs {
        display: none;
    }
}

.breadcrumbs__item {
    color: #929292;
    font-family: 'Proxima Nova Light';
    font-size: 14px;
    text-decoration: none;
}

.breadcrumbs__item_active,
.breadcrumbs__item:hover {
    color: #19191a;
}


.breadcrumbs__item:after {
    content: "\203A";
    padding: 0 10px;
    font-size: 18px;
}

.breadcrumbs__item:last-child:after {
    display: none;
}


.building-process-header__links {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

@media (--smMinus) {
    .building-process-header__links {
        margin-top: 0;
        justify-content: space-between;
    }
}

.building-process__webcam,
.building-process__panorama {
    color: #f7941e;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Proxima Nova Semibold';
    text-decoration: none;
    padding-left: 22px;
    position: relative;
    outline: none;
}



.building-process__webcam {
    background: url("../img/building-process/webcam.svg") no-repeat 0 1px;
}

.building-process__panorama {
    margin-left: 80px;
    background: url("../img/building-process/panorama.svg") no-repeat 0 1px;
}


@media (--mdMinus) {
    .building-process__panorama {
        margin-left: 50px;
    }
}


@media (--smMinus) {
    .building-process__webcam {
        font-size: 12px;
    }

    .building-process__panorama {
        margin-left: 13px;
        font-size: 12px;
    }
}

.building-process__panorama:after,
.building-process__webcam:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #f0d9c7;
    display: block;
    transition: width 0.2s;
}

.building-process__panorama:hover:after,
.building-process__webcam:hover:after {
    width: 0;
}



.slider-months-wrap {
    position: relative;
    height: calc(100vh - 221px);
    overflow: hidden;
}

@media (--smMinus) {
    .slider-months-wrap {
        height: calc(100vh - 174px);
    }
}



.slider-months {
    width: 100%;
    /*height: 100%;*/
    position: relative;
}

.slider-months__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-months:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0px 50px 130px 0px rgba(50, 50, 50, 0.75);
    pointer-events: none;
}

.slider-months-slide {
    /*width: 689px;*/
    /*width: 975px;*/
}

.slider-months-slide__content {
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    height: calc(100vh - 221px);
    /*width: 689px;*/
    /*width: 975px;*/
    transition: opacity 0.4s ease;
    box-shadow: 0px 12px 25px 0px rgba(43, 38, 52, 0.25);
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-position: center center;
}

@media (--mdMinus) {
    .slider-months-slide__content {
        width: auto;
    }
}

@media (--smMinus) {
    .slider-months-slide__content {
        height: calc(100vh - 174px);
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

.slider-months-slide__content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2b2634;
    opacity: 0.8;
    transition: opacity 0.4s ease;
}

@media (--smMinus) {
    .slider-months-slide__content:before {
        opacity: 0;
    }
}


.slider-months-slide.swiper-slide-active .slider-months-slide__content:before {
    opacity: 0;
}



.slider-months-nav div {
    height: calc(100% - 20px);
    width: calc((100% - 975px) / 2);
    position: absolute;
    top: 0;
    transition: all 0.3s;
    z-index: 200;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
}

@media (--mdMinus) {
    .slider-months-nav div {
        width: auto;
        height: 50px;
        top:50%;
        margin-top: -25px;
        padding: 0 15px;
        opacity: 0.5;
    }
}


.slider-months-nav__next {
    right: 0;
}

.slider-months-nav__prev {
    left: 0;
}

.slider-months-nav__next:hover,
.slider-months-nav__prev:hover {
    cursor: pointer;
}

.slider-months-nav__next:hover svg path,
.slider-months-nav__prev:hover svg path {
    fill: #F7941E;
}

.slider-months-nav__prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}

.slider-months-nav__next.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}


.slider-months-fraction {
    /*position: absolute;*/
    /*bottom:25px;*/
    /*left:30px;*/
    width: auto;
    margin: 0 0 25px 30px;
    z-index: 120;
    color: #ffffff;
    font-family: 'Proxima Nova Thin';
    font-size: 24px;
    line-height: 1;
    font-weight: bold;

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        margin-right: -.05em;
    }
}


@media (--smMinus) {
    .slider-months-fraction {
        margin: 0 0 20px 20px;
    }
}

@media (max-width: 650px) AND (orientation: landscape) {
    .slider-months-fraction {
        margin: 0 0 10px 20px;
    }
}

.slider-months-fraction .swiper-pagination-current {
    font-size: 30px;
}

.slider-months-fraction .swiper-pagination-total {
    font-size: 17px;
}

.slider-months-fraction {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.slider-months-slide.swiper-slide-active .slider-months-slide__content .slider-months-fraction {
    opacity: 1;
}

.slider-months-slide__descr {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Proxima Nova Light';
    padding: 0 0 30px 30px;
    opacity: 0;
    position: relative;
    z-index: 10;
    transition: opacity 0.4s ease;
}

@media (--smMinus) {
    .slider-months-slide__descr {
        padding: 0 20px 30px 20px;
    }
}


@media (max-width: 650px) AND (orientation: landscape) {
    .slider-months-slide__descr {
        padding: 0 0 15px 20px;
    }
}

.slider-months-slide.swiper-slide-active .slider-months-slide__descr {
    opacity: 1;
}


.slider-months__title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 900;
    position: absolute;
    top: 40px;
    z-index: 120;
    width: 975px;
    left: 50%;
    margin-left: -487.5px;
    padding-left: 30px;
}

@media (--mdMinus) {
    .slider-months__title {
        left: 40px;
        width: auto;
        margin-left: 0;
        padding-left: 0;
    }
}

@media (--smMinus) {
    .slider-months__title {
        left: 20px;
        font-size: 30px;
    }
}


@media (max-width: 650px) AND (orientation: landscape) {
    .slider-months__title {
        top: 15px;
    }
}

.slider-months__title:before {
    content: '';
    background: #319b6b;
    width: 75px;
    height: 1px;
    display: block;
    margin-bottom: 10px;
}


.slider-thumbs-months {
    padding-left: 55px;
    height: 78px;
}

@media (--mdMinus) {
    .slider-thumbs-months {
        padding-left: 40px;
    }
}

@media (--smMinus) {
    .slider-thumbs-months {
        padding-left: 20px;
    }
}

.slider-thumbs-months__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.slider-thumbs-months__img {
    width: 120px;
    height: 54px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (--smMinus) {
    .slider-thumbs-months__img {
        width: 80px;
        height: 36px;
    }
}

.slider-thumbs-months__year {
    font-family: 'Proxima Nova Light';
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
}

@media (--smMinus) {
    .slider-thumbs-months__year {
        font-size: 12px;
    }
}

.slider-thumbs-months__content span {
    /*margin-left: 50px;*/
}

.slider-thumbs-months__slide {
    opacity: 0.5;
    width: 260px;
    height: 78px;
    font-size: 30px;
    position: relative;
    transition: opacity 0.4s ease;
}

@media (--smMinus) {
    .slider-thumbs-months__slide {
        width: 170px;
        height: 56px;
    }
}

.is-selected {
    opacity: 1;
}

.slider-thumbs-months__slide:hover {
    opacity: 1;
    cursor: pointer;
}



.webcam-modal,
.panorama-modal {
    width: 100%;
    height: calc(100% - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #2b2634;
}

.webcam-modal {
    background: rgba(0, 0, 0, 0.6);
}



@media (--smMinus) AND (orientation: landscape) {
    .webcam-modal,
    .panorama-modal {
        height: 100%;
        top: 0;
    }
}

.panorama-modal {
    background: url("../img/building-process/panorama.jpg") no-repeat center center;
    background-size: cover;
}



.webcam-modal-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}





@media (--mdMinus) {
    /*.webcam-modal-tabs {*/
    /*align-items: center;*/
    /*height: 100%;*/
    /*margin-top: 0;*/
    /*}*/
}


@media (--lgMinus) AND (orientation: landscape) {
    /*.webcam-modal-tabs {*/
    /*align-items: center;*/
    /*height: 100%;*/
    /*margin-top: 0;*/
    /*}*/
}

@media (--smMinus) AND (orientation: landscape) {
    .webcam-modal-tabs {
        align-items: flex-start;
    }
}

.webcam-modal-tabs.ui-widget.ui-widget-content {
    border: none;
}

@media (--mdMinus) {
    .webcam-modal-tabs.ui-widget.ui-widget-content {
        width: 100%;
    }
}

.webcam-modal-tabs {
    padding: 0;
    background: transparent;
}

@media (--mdMinus) {
    .webcam-modal-tab {
        width: 100%;
    }
}

.webcam-modal-tabs .webcam-modal-tabs-nav {
    background: transparent;
    padding: 0;
    margin: -50px 0 30px 0;
    border: none;
    height: 20px;
    display: flex;
    justify-content: center;
}

@media (--mdMinus) {
    /*.webcam-modal-tabs .webcam-modal-tabs-nav {*/
    /*position: absolute;*/
    /*bottom:25px;*/
    /*margin-top: 0;*/
    /*}*/
}


@media (--lgMinus) AND (orientation: landscape) {
    /*.webcam-modal-tabs .webcam-modal-tabs-nav {*/
    /*position: absolute;*/
    /*bottom:25px;*/
    /*margin-top: 0;*/
    /*}*/
}

@media (--smMinus) AND (orientation: landscape) {
    .webcam-modal-tabs {
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .webcam-modal-tabs .webcam-modal-tabs-nav {
        position: static;
        margin: 0 0 10px 0;
        flex-basis: 100%;
    }
}

.webcam-modal-tabs-nav.ui-tabs-nav li {
    background: transparent;
    border: none;
    margin: 0 10px;
    outline: none;
}

.webcam-modal-tabs-nav__anchor {
    position: relative;
    display: block;
}

.webcam-modal-tabs .webcam-modal-tabs-nav .webcam-modal-tabs-nav__anchor {
    padding: 0;
    margin: 0;
    float: none;
    font-family: 'Proxima Nova Light';
    font-size: 13px;
    color: #ffffff;
    outline: none;
    text-align: center;
}

.webcam-modal-tabs-nav li.ui-state-active a img:after {
    content: '';
    background: #000000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


.webcam-modal-tabs .webcam-modal-tabs__iframe {
    padding: 0;
    flex-basis: 100%;
    width: 800px;
    height: 450px;
}

.webcam-modal-tabs .webcam-modal-tabs__iframe iframe {
    width: 100%;
    height: 100%;
}

@media (--mdMinus) {
    .webcam-modal-tabs .webcam-modal-tabs__iframe {
        padding: 0 40px;
        width: 100%;
        height: 388px;
    }
}

@media (--smMinus) {
    .webcam-modal-tabs .webcam-modal-tabs__iframe {
        padding: 0;
        height: 180px;
    }
}


@media (--smMinus) AND (orientation: landscape) {
    .webcam-modal-tabs .webcam-modal-tabs__iframe {
        flex-basis: 65%;
        margin-top: 10px;
    }
}


.webcam-modal-tabs__iframe img {
    display: block;
    margin: auto;
}

.webcam-modal-tabs-nav__anchor:after {
    content: '';
    background: #f7941e;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: width 0.4s ease-in-out;
}

.webcam-modal-tabs-nav__anchor:hover::after {
    width: 100%;
    transition-delay: .2s;
}

.webcam-modal-tabs-nav li.ui-state-active a:after {
    width: 100%;
}

.close-gallery_webcam {
    background: #929292 url("../img/close-popup-dark.svg") no-repeat center center;
    padding: 20px;
    top: 0;
    right: -58px;
}

@media (--mdMinus) {
    .close-gallery_webcam {
        display: none;
    }
}

.close-gallery_mobile {
    display: none;
}

@media (--mdMinus) {
    .close-gallery_mobile {
        display: block;
    }
}

.slider-thumbs-months__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.slider-months-slide:after {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0 -50px 130px 0 rgba(50, 50, 50, .75);
}

.slider-months__videoLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.slider-months__videoLink:after {
    content: '';
    background: url("../img/youtube-play.svg") no-repeat;
    z-index: 11;
    display: block;
    width:60px;
    height: 60px;
    top:50%;
    left:50%;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    background-size: contain;
}


.slider-months .swiper-lazy-preloader {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #333;
    transform-origin:none;
    margin:0;
    z-index: 20;
    animation: none;

}

.slider-months .swiper-lazy-preloader:after {
    content: "";
    width: 100px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    height: 100px;
    background: url('../img/loading.gif') no-repeat center center;
}