.camera {
    .page__section {

        &:last-child {
            padding: 65px 0;
        }
    }
}

.camera-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &__tlt {
        display: inline-block;
        transition: ease .3s all;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__item {
        width: calc(50% - 15px);

        &:last-child {
            margin-bottom: 0;
            margin-left: 30px;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
                margin-left: 0;
            }
        }
    }
}
