.Commercial{
    &_tabs {
        display: flex;
        margin-bottom: 50px;

				@media (--smMinus) {
					flex-direction: column;
				}
    }
		&_download {
				text-decoration: none !important;
		}
		& .estate-container__table td {
				@media (--smMinus) {
						padding-left: 10px;
						padding-right: 10px;
				}
		}
		& .estate-container__table td:first-child {
				@media (--smMinus) {
						padding-left: 10px;
				}
		}
}

.CommercialTabs {
    display: flex;
		@media (--smMinus) {
			margin-bottom: 30px;
		}
    & li {
        list-style: none;
        padding-bottom: 5px;
        margin-right: 70px;
        position: relative;
        &:after {
             content: '';
             position: absolute;
             left: 0;
             bottom: 0;
             width: 0;
             height: 2px;
             background: #016d39;
             transition: all .3s ease;
        }
        & a {
            text-decoration: none;
        }
        &.ui-state-active {
            &:after {
                width: 100%;
            }
            & a {
                color: #016d39;

            }
        }
        &:hover{
            &:after {
                width: 100%;
            }
            & a {
                color: #016d39;
            }
        }
    }
}