.home-banner {
    height: calc(100vh - 70px);
    position: relative;
    z-index: 9;
}

.home-banner-list {
    position: relative;
}

.home-banner__timer {
    position: absolute;
    right: 55px;
    top: 0;
    z-index: 10;

    @media (max-width: 640px) {
        right: 20px;
    }
}


.home-banner-list__item {
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    align-items: flex-end;
    padding: 0 55px 120px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 40%);
    }

     @media(--lgMinus) {
         padding: 0 40px 155px;
     }

    @media(--mdMinus) {
        padding: 0 40px 140px;
    }

    @media(--smMinus) {
        padding: 0 20px 120px;
        /*padding: 0 20px 90px;*/
    }
}

@media (--smMinus) {
    .home-banner-list__item:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%);
    }
}

.home-banner .swiper-container {
    width: 100%;
    height: 100%;
}

.home-banner-list .swiper-pagination {
    position: relative;
    bottom: 75px;
    left: 55px;
    text-align: left;
    transition: opacity 0.2s ease;
}

@media (--mdMinus) {
    .home-banner-list .swiper-pagination {
        left: 40px;
        bottom: 90px;
    }
}

@media (--smMinus) {
    .home-banner-list .swiper-pagination {
        left: 20px;
    }
}

.home-banner-list .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: transparent;
    opacity: 1;
}

.home-banner-list .swiper-pagination-bullet-active {
    background: #ffffff;
}

.swiper-pagination_hidden {
    opacity:0;
    transition: opacity 0.2s ease;
}

.home-banner__date {
    position: absolute;
    top: 40px;
    right: 25px;
    background: #ffffff;
    padding: 10px 30px;
    color: #929292;
    font-family: "Proxima Nova Regular";
    z-index: 10;
    border-radius: 30px;
    text-align: right;
    line-height: 1;
    font-size: 14px;
}

@media (--mdMinus) {
    .home-banner__date {
        right: 0;
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        border-radius: 30px 0 0 30px;
    }
}

.home-banner__date span {
    display: block;
    font-family: "Proxima Nova Semibold";
    font-size: 18px;
    color: #3c3c3c;
    text-align: right;
}

.home-banner-list__text {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

.home-banner-list__textsmall {
    font-family: 'Proxima';
    font-size: 24px;
    color:#ffffff;
    text-decoration: underline;
}

@media (--mdMinus) {
    .home-banner-list__text {
        font-size: 30px;
        line-height: 1;
    }
}

@media (--smMinus) {
    .home-banner-list__text {
        font-size: 20px;
    }
}

.home-banner-list__text {
    opacity: 0;
    /*margin-left: 5%;*/
    transform: translateX(2em);
    transition: opacity 1s ease, transform 1s ease;
}

.swiper-slide-active .home-banner-list__text {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s;
}

.home-banner__scrolling {
    background: url("../img/icon_scroll.svg") no-repeat;
    width: 20px;
    height: 50px;
    background-size: contain;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -10px;
    z-index: 11;
    transition: opacity 0.2s ease;
    &_hidden {
        opacity:0;
        transition: opacity 0.2s ease;
    }
}

@media (--mdMinus) {
    .home-banner__scrolling {
        bottom: 40px;
    }
}

@media (--smMinus) {
    .home-banner__scrolling {
        bottom: 15px;
    }
}

.btn-border {
    display: block;
    width: 215px;
    height: 80px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-family: "Proxima Nova Regular";
    border: 1px solid #ffffff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s ease, border 0.4s ease;
}

.btn-border:hover {
    background: #f7941e;
    border: 1px solid #f7941e;
}

.btn-border_arrow:after {
    content: "";
    background: url("../img/arrow_more.svg") no-repeat;
    display: block;
    width: 30px;
    height: 15px;
    margin-left: 20px;
}

@media (--mdMinus) {
    .btn-border {
        display: none;
    }
}

.main-about-complex-wrap {
    margin: 100px 0 80px 0;
}

@media (--smMinus) {
    .main-about-complex-wrap {
        margin: 40px 0 40px 0;
    }
}

.main-about-complex {
    /*padding: 0 85px;*/
}

.main-about-complex__title {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 60px;
    color: #19191a;
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

@media (--mdMinus) {
    .main-about-complex__title {
        font-size: 45px;
    }
}

@media (--smMinus) {
    .main-about-complex__title {
        font-size: 30px;
    }
}

.main-about-complex__subtitle {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 20px;
    color: #989898;
    text-align: center;
}

@media (--smMinus) {
    .main-about-complex__subtitle {
        font-size: 17px;
    }
}

.main-about-complex__text {
    color: #19191a;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

@media (--mdMinus) {
    .main-about-complex__text {
        margin-top: 15px;
    }
}

.main-about-complex__col {
    width: 50%;
    padding-left: 30px;
    padding-right: 25px;
}

@media (--mdMinus) {
    .main-about-complex__col {
        width: 100%;
        padding: 0;
    }
}

.main-about-complex__text p {
    margin: 5px 0;
    line-height: 1.5;
}

@media (--mdMinus) {
    .main-about-complex__text p {
        margin: 15px 0;
    }
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    /*height: 100vh;*/
    min-height: 600px;
}

@media (--mdMinus) {
    .main-section {
        min-height: auto;
    }
}

.main-section__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f1f1f1;
    position: relative;
}

@media (--mdMinus) {
    .main-section__col {
        width: 100%;
    }
}

.main-section__col_first {
    order: 1;
    /*align-items: flex-end;*/
}

@media (--mdMinus) {
    .main-section__col_first {
        order: initial;
    }
}

.main-section__col_second {
    order: 2;
    align-items: flex-start;
}

@media (--mdMinus) {
    .main-section__col_second {
        order: initial;
    }
}

.main-section__col_full {
    width: 100%;
}

@media (--mdMinus) {
    .main-section__col_full {
        justify-content: flex-start;
    }
}

.main-section__img {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
}

@media (--mdMinus) {
    .main-section__img {
        height: 495px;
        position: relative;
    }
}

.main-section__content {
    min-width: 490px;
    max-width: 585px;
}

.main-section__content_right {
    padding-left: 0px;
    padding-right: 55px;
}

.main-section__content_left {
    padding-right: 0px;
    padding-left: 55px;
}

@media (--mdMinus) {
    .main-section__content {
        width: calc(100% - 0px);
        max-width: 100%;
        padding: 70px 40px;
    }
}

@media (--smMinus) {
    .main-section__content {
        padding: 40px 20px;
        min-width: auto;
    }
}

.main-section__content_container {
    max-width: 1170px;
    margin: auto;
    width: 100%;
}

.main-section__content_left {
    padding-right: 97px;
}

@media (--mdMinus) {
    .main-section__content_left {
        padding-right: 40px;
    }
}

@media (--smMinus) {
    .main-section__content_left {
        padding-right: 20px;
    }
}

.main-section__content_right {
    padding-left: 97px;
}

@media (--mdMinus) {
    .main-section__content_right {
        padding-left: 40px;
    }
}

@media (--smMinus) {
    .main-section__content_right {
        padding-left: 20px;
    }
}

@media (--xlPlus) {
    .main-section__content {
        min-width: 490px;
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-section__content_right {
        padding-left: 0px;
    }
    .main-section__content_left {
        padding-right: 0px;
    }
}

.main-section__content_longreadRight {
    padding-left: 97px;
    margin-left: 0;
    @media (--mdMinus) {
        padding: 60px 40px;
    }

    @media (--xs) {
        padding: 40px 20px;
    }
}

.main-section__content_longreadLeft {
    padding-right: 97px;
    margin-right: 0;
    @media (--mdMinus) {
        padding: 60px 40px;
    }

    @media (--xs) {
        padding: 40px 20px;
    }
}

.main-section__title {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 40px;
    color: #19191a;
    position: relative;
}

@media (--mdMinus) {
    .main-section__title {
        font-size: 30px;
    }
}

.main-section__title:after {
    content: "";
    height: 1px;
    width: 85px;
    background: #a8a8a8;
    display: block;
    margin-top: 30px;
}

.main-section__title_light {
    color: #ffffff;
}

.main-section__title_light:after {
    background: #ffffff;
    opacity: 0.5;
}

.main-section__title_longread {
    padding-left: 20px;
    &:after {
        display: none;
    }
}

.main-section__list {
    margin-top: 35px;
}

.main-section__list > li {
    line-height: 1.5;
    position: relative;
    color: #19191a;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 15px;
    list-style: none;
    &:before {
        content: "";
        width: 10px;
        height: 1px;
        background: #000000;
        position: absolute;
        top: 10px;
        left: 0;
    }
}

.main-section__list_light > li {
    color: #ffffff;
}

.main-section__list_light > li:before {
    background: #ffffff;
}

.main-section__list_circleOrange > li:before {
    width: 6px;
    height: 6px;
    background: #f7941e;
    border-radius: 50%;
    top: 10px;
}

.list_circleGreen > li:before {
    width: 10px;
    height: 10px;
    background: #40bf8d;
    border-radius: 50%;
    top: 7px;
}

.btn-more {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #319b6b;
    transition: all 0.4s ease;
    max-width: 192px;
    width: 100%;
    line-height: 50px;
    height: 50px;
    text-align: center;

    &--solid {
        background-color: #319b6b;
        color: #fff;
    }
}

@media (--smMinus) {
    .btn-more {
        max-width: 280px;
        margin: auto;
    }
}

.btn-more_default {
    margin-top: 32px;
}

.btn-more_light {
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 35px;
}

.btn-more:hover {
    background: #319b6b;
    color: #ffffff;
}

.btn-more_light:hover {
    background: #ffffff;
    color: #19191a;
}

.list-wrap {
    margin-top: 40px;
}

.list-wrap_sec1 {
    margin-top: 0;
}

@media (--mdMinus) {
    .list-wrap_sec1 {
        margin-top: 60px;
    }
}

@media (--smMinus) {
    .list-wrap_sec1 {
        margin-top: 30px;
    }
}

.list-wrap_sec7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (--smMinus) {
    .list-wrap_sec7 {
        margin-top: 30px;
    }
}

.list li {
    list-style: none;
    color: #19191a;
    font-family: "Proxima Nova Light";
    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
    line-height: 1.5;
    padding-left: 15px;

    &:before {
        content: "";
        width: 10px;
        height: 1px;
        background: #000000;
        position: absolute;
        top: 10px;
        left: 0;
    }
}

.list li:last-child {
    margin-bottom: 0;
}

.list_line li {
    /*padding-left: 50px;*/
    color: #ffffff;
}

@media (--mdMinus) {
    .list_line li {
        padding-left: 50px;
    }
}

@media (--smMinus) {
    .list_line li {
        padding-left: 39px;
    }
}

.list_line li:before {
    content: "";
    background: #fd7b23;
    position: absolute;
    left: -50px;
    top: 14px;
    width: 30px;
    height: 1px;
}

@media (--mdMinus) {
    .list_line li:before {
        left: 0px;
    }
}

@media (--smMinus) {
    .list_line li:before {
        width: 20px;
    }
}

.list_circle {
    margin-bottom: 15px;
}

.list_circle li {
    /*padding-left: 15px;*/
}

@media (--mdMinus) {
    .list_circle li {
        padding-left: 15px;
    }
}

.list_circle li:before {
    content: "";
    background: #f89e34;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: -15px;
}

@media (--mdMinus) {
    .list_circle li:before {
        left: 0px;
    }
}

@media (--mdMinus) {
    .list_mobile {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (--smMinus) {
    .list_mobile {
        display: block;
    }
}

.list_mobile li {
    flex-basis: 50%;
}

.list_2col {
    display: flex;
    flex-wrap: wrap;
}

.list_2col li {
    flex-basis: 50%;
}

.list_circleGreen li:before {
    width: 10px;
    height: 10px;
    background: #40bf8d;
    border-radius: 50%;
    top: 7px;
}

.br-mobile {
    display: none;
}

.br-tablet {
    display: none;
}

.br-desktop {
    display: block;
}

@media (--mdMinus) {
    .br-desktop {
        display: none;
    }
}

@media (--mdMinus) {
    .br-tablet {
        display: block;
    }
}

@media (--smMinus) {
    .br-tablet {
        display: none;
    }

    .br-mobile {
        display: block;
    }
}

.video-about-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova Bold";
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 10;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    outline: none;
}

.video-about-btn:before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/play.svg") no-repeat;
    margin-right: 10px;
}

@media (--mdMinus) {
    .video-about-btn {
        left: 40px;
    }
}

@media (--smMinus) {
    .video-about-btn {
        left: 20px;
        top: 50px;
    }

    .video-about-btn span {
        display: none;
    }
}

.main-section_technology {
    overflow: hidden;
}

.video-about-modal-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.video-about-modal-inner {
    height: 450px;
    width: 800px;
    position: relative;
    & > iframe {
        width: 100%;
        height: 100%;
    }
}

@media (--mdMinus) {
    .video-about-modal-inner {
    }
}

@media (--xs) {
    .video-about-modal-inner {
        width: 100%;
        height: 250px;
    }
}

@media (--smMinus) AND (orientation: landscape) {
    .video-about-modal-inner {
        width: 65%;
        height: 200px;
    }
}

.close-gallery_video {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    top: 0;
    right: 0px;
    width: auto;
    height: auto;
}

@media (--mdMinus) {
    .close-gallery_video {
        display: none;
    }
}

.video-about-modal__play {
    background: url("../img/play-video.svg") no-repeat center center;
    background-size: contain;
    color: #fff;
    border: none;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    z-index: 100;
}

.video-about-modal__play:hover {
    cursor: pointer;
}

.video-about-btn {
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova Bold";
    font-size: 18px;
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 10;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    outline: none;
}

.video-about-btn:before {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background: url("../img/play.svg") no-repeat;
    margin-right: 10px;
}

@media (--mdMinus) {
    .video-about-btn {
        left: 40px;
    }
}

@media (--smMinus) {
    .video-about-btn {
        left: 20px;
        top: 50px;
    }

    .video-about-btn span {
        display: none;
    }
}

.video-about-modal .fancybox-content {
    height: 450px;
    width: 800px;
    position: relative;
}

.main-section__col_firstTablet {
    @media (--mdMinus) {
        order: 1;
    }
}

.main-section__col_secondTablet {
    @media (--mdMinus) {
        order: 2;
    }
}

.home-banner-list__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 21;
}


.home-banner__sticker {
    position: absolute;
    z-index: 10;
    color: #fff;
    background: #016d39;
    padding: 12px 14px;
    right: 0;
    top: calc(50% * 0.8);
    transform: translateY(-50%);
    border-radius: 30px 0 0 30px;
    display: none;
    font-size: 15px;
    line-height: 27px;
    font-family: Proxima Nova Regular;
    font-weight: 300;

    @media(--smMinus) {
        display:block;
    }
}

.home-banner__time-to-buy {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 380px;
    height: 47px;
    background: url('../img/home-banner__time-to-buy/time_to_buy.svg') no-repeat center;
    background-size: contain;
    z-index: 10;

    @media(--mdMinus) {
        right: 0;
        width: 420px;
        height: 130px;
        background-image: url('../img/home-banner__time-to-buy/time_to_buy_768.svg');
    }
    @media(--smMinus) {
        top: 30px;
        width: 250px;
        height: 78px;
        background-image: url('../img/home-banner__time-to-buy/time_to_buy_320.svg');
    }
}

.main-flatsMinPrices {
    margin: 95px 0 15px;
    @media (--smMinus) {
        margin: 65px 0 -20px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        max-width: 1350px;
        margin: 0 auto;
        @media (max-width: 1439px) {
            max-width: 780px;
            flex-flow: row wrap;
        }
        @media (--mdMinus) {
            max-width: 720px;
        }
        @media (--smMinus) {
            max-width: 200px;
        }

        &Item {
            width: 200px;
            margin-bottom: 45px;
            text-align: center;
            @media (--smMinus) {
                margin-bottom: 55px;
            }

            &_centered {
                @media (max-width: 1439px) {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &ImgBox {
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            & a {
                width: 100%;
                height: 100%;
                
            }
            @media (max-width: 1439px) {
                margin-bottom: 34px;
            }
            @media (--smMinus) {
                height: auto;
            }
        }

        &Img {
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &Name {
            font: 16px/1 'Proxima Nova Regular';
            color: #19191a;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        &Price {
            font: 16px/1 'Proxima Nova Regular';
            color: #19191a;
            margin-bottom: 15px;
        }

        &Sqr {
            font: 16px/1 'Proxima Nova Regular';
            color: #908e97;
        }
    }

    &__glow {
        font-family: 'Proxima Nova Bold';
        color: #299968;
    }
}
.main-section__title_flatsMinPrices {
    text-align: center;

    &:after {
        width: 137px;
        background: #3da269;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 42px;
    }
}