.longread-banner {
    height: 330px;
    position: fixed;
    overflow: hidden;
    top: 70px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: height;
    transform: translateZ(0);
    text-align:center;

    &_n1 {
        background-image: url("../img/longread-1/banner.jpg");
        @media (--mdMinus) {
            background-image: url("../img/longread-1/banner_mobile.jpg");
        }
    }

    &_n3 {
        background-image: url("../img/longread-3/banner.jpg");
        @media (--mdMinus) {
            background-image: url("../img/longread-3/banner_mobile.jpg");
        }
    }

    &_n4 {
        background-image: url("../img/longread-4/banner.jpg");
    }

    &_technology {
      background-image: url("../img/technology/banner.jpg");
      background-size: 130%;
      background-position: center 60%;

      @media (--991) {
        background-image: url("../img/technology/mobile/bd_1.jpg");
        background-size: cover;
      }
    }

    &_n5 {
        background-image: url("../img/longread-5/banner.jpg");
        @media (--mdMinus) {
            background-image: url("../img/longread-5/banner_mobile.jpg");
        }
    }

    &_n6 {
        background-image: url("../img/longread-6/banner.jpg");
    }

    &_n7 {
        background-image: url("../img/longread-7/bg.jpg");
        @media (--mdMinus) {
            background-image: url("../img/longread-7/bg_mob.jpg");
        }
    }

    &_n8 {
        background-image: url("../img/longread-8/bg.jpg");
        @media (--mdMinus) {
            background-image: url("../img/longread-8/bg_mobile.jpg");
        }
    }

    &__title {
      font-family: "Gilroy";
      font-weight: 400;
      font-size: 100px;
      color: #e8e8e8;
      line-height:1;

      @media (--mdMinus) {
        font-size: 80px;
        padding: 0 40px;
      }

      @media (--xs) {
          font-size: 40px;
          padding: 0 20px;
      }

        &_L3 {
            font-size:80px;

            @media(--mdMinus) {
                font-size:70px;
            }
            @media(--xs) {
                font-size:40px;
            }
        }
    }

    @media (--991) {
      align-items: center;
    }
  }

.longread-section {
    position: relative;

    &_L4Sec1 {
        margin-top:500px;
        padding: 35px 0 55px 0;
        margin-bottom: -55px;
        overflow:hidden;
        @media(--mdMinus) {
            margin-top:470px;
        }
        @media(--xs) {
            margin-top:400px;
        }
    }

    &_L4Sec2 {
        position: relative;
        margin-top:185px;
        &:before {
            content:'';
            position: absolute;
            top:-185px;
            left:0;
            width:50%;
            height: calc(100% + 185px);
            background-image: linear-gradient(to bottom, #fdfdfd, #ededed);
            display: block;
            z-index: -2;

            @media(--mdMinus) {
                width:100%;
                height:100%;
                top:0;
            }
        }

        &:after {
             content:'';
             position: absolute;
             top:0px;
             right:0;
             width:50%;
             height: calc(100% + 165px);
             background-image: linear-gradient(to bottom, #fdfdfd, #ededed);
             display: block;
             z-index: -2;

            @media(--mdMinus) {
                display:none;
            }
        }

        @media(--mdMinus) {
            margin-top:0;
            padding-top:125px;
        }

        @media(--xs) {
            padding-top:35px;
        }
    }

    &_L4Sec3 {
        margin-top:130px;
        padding: 35px 0 55px 0;
        margin-bottom: -55px;
        overflow:hidden;
        @media(--mdMinus) {
            margin-top:70px;
        }
        @media(--xs) {
            margin-top:0;
        }
    }

    &_L4Sec4 {
        background: url('../img/longread-4/sec4.jpg') no-repeat;
        background-position: center center;
        background-size: cover;
        padding:144px 0;
        margin-top: 185px;
        @media(--lgMinus) {
            padding: 144px 55px;
        }
        @media(--mdMinus) {
            padding:50px 40px;
            margin-top:135px;
        }
        @media(--xs) {
            padding:1px 0px 40px;
            margin-top:85px;
        }
    }

    &_routes {
        background: #ededed;
        padding:45px 0 0;
    }

    &__footNote {
        font-family: 'Gilroy';
        font-size: 13px;
        color:#ffffff;
        margin-top:90px;

        @media(--mdMinus) {
            margin-top:60px;
        }
        @media(--xs) {
            margin-top:30px;
            padding:0 20px;
        }

        &:before {
            content:'';
            width:100%;
            height: 1px;
            opacity:0.21;
            position: relative;
            display: block;
            background: #ffffff;
            margin-bottom: 10px;
        }

    }

    &__containerChildren {
        max-width: 1170px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @media(--lgMinus) {
            padding:0 55px;
        }

        @media(--mdMinus) {
            padding:0;
        }
        &_nopadding {
            @media(--lgMinus) {
                padding:0;
            }
        }
    }

    &__container {
        max-width: 1280px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &_L1Sec3 {
            &:after {
                content: "";
                position: absolute;
                top: 27px;
                width: calc(100% - 110px);
                height: calc(100% - 27px);
                right: 27px;
                background: #ededed;
                z-index: -1;

                width:75%;

                @media(--lgMinus) {
                    /*width: calc(100% - 62px);*/
                    right:0;
                }

                @media (--mdMinus) {
                    width:75%;
                    right: 0;
                    top: 0;
                    height: 100%;
                }
                @media (--xs) {
                    display: none;
                }
            }
        }
        &_L1Sec4 {
            &:after {
                content: "";
                position: absolute;
                top: 0px;
                width: calc(100% - 110px);
                height: 50%;
                right: 27px;
                background: #ededed;
                z-index: -1;

                width:75%;

                @media(--lgMinus) {
                    /*width: calc(100% - 62px);*/
                    right:0;

                }
                @media (--mdMinus) {
                    width:75%;
                    right: 0;
                    height:44%;
                }
                @media (--xs) {
                    display: none;
                }
            }
        }
    }

    &__col {
        &_order1 {
            order: 1;
        }

        &_order2 {
            order: 2;
        }

        &_orderTablet1 {
            @media(--mdMinus) {
                order:1;
            }
        }

        &_orderRablet2 {
            @media(--mdMinus) {
                order:2;
            }
        }


        &_orderMobile1 {
            @media (--xs) {
                order: 1;
            }
        }
        &_orderMobile2 {
            @media (--xs) {
                order: 2;
            }
        }


        &_L1Sec4 {
            padding-left: 195px;
            @media(--lgMinus) {
                padding-left:168px;
            }
            @media (--mdMinus) {
                padding-left: 97px;
            }
            @media (--xs) {
                padding: 0;
            }
        }

        &_L1Sec4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_centerContent {
             display: flex;
             flex-direction: column;
             justify-content: center;
        }
    }

    &__col7 {
        width: 50%;
    }

    &__col5 {
        width: 50%;
    }

    &__col6 {
        width:50%;
         position: relative;
    }

    &__col6-md {
        @media (--mdMinus) {
            width: 50%;
        }
    }

    &__col12-md {
        @media(--mdMinus) {
            width:100%;
        }
    }

    &__col12-xs {
        @media (--xs) {
            width: 100%;
        }
    }

    &__img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &_L1Sec3 {
            height: 400px;
            max-width: 585px;
            margin-right: 97px;
            background-image: url("../img/longread-1/sec3.jpg");
            @media(--lgMinus) {
                max-width:510px;
                margin-right: 0;
            }
            @media (--mdMinus) {
                height: 260px;
                margin-top: 50px;
            }
            @media (--xs) {
                height: 260px;
                background-image: url("../img/longread-1/sec3_mobile.jpg");
                margin-top: 0;
            }
        }

        &_L1Sec4 {
            height: 592px;
            max-width: 292px;
            margin-left: 97px;
            position: relative;
            top: -100px;
            margin-bottom: -100px;
            background-image: url("../img/longread-1/sec4.jpg");
            @media (--lgMinus) {
                margin-left: 50px;
            }
            @media (--mdMinus) {
                margin-left: 50px;
                top: 0;
                margin-bottom: 0;
            }
            @media (--xs) {
                height: 260px;
                background-image: url("../img/longread-1/sec4_mobile.jpg");
                margin-left: 0;
                margin-top: 40px;
                max-width: 100%;
            }
        }

        &_L1Sec5 {
            height: 257px;
            max-width: 585px;
            background-image: url("../img/longread-1/sec5.jpg");
            margin-left: 97px;
            @media (--lgMinus) {
                margin-left: 0px;
                max-width:510px;
            }
            @media (--mdMinus) {
                height: 260px;
                margin-left: 0px;
            }
            @media (--xs) {
                height: 260px;
                background-image: url("../img/longread-1/sec5_mobile.jpg");
                margin-top: 40px;
            }
        }

        &_L4Sec1 {
            height:585px;
            background-image: url("../img/longread-4/sec1.jpg");


            @media(--mdMinus) {
                max-width:596px;
                margin:65px auto 0;
            }

            @media(--smMinus) {
                max-width:100%;
            }
            @media(--xs) {
                height:320px;
                margin-top:75px;
            }
        }

        &_L4Sec2 {
            height:585px;
            background-image: url("../img/longread-4/sec2.jpg");
            @media(--mdMinus) {
                margin:30px 40px 0;
            }

            @media(--xs) {
                height:320px;
                margin: 30px 0 0;
            }
        }

        &_L4Sec3 {
             height:654px;
             background-image: url("../img/longread-4/sec3.jpg");

            @media(--mdMinus) {
                max-width:596px;
                margin:65px auto 0;
            }

            @media(--smMinus) {
                max-width:100%;
            }

            @media(--xs) {
                height:357px;
                margin-top:85px;
            }
        }

        &_border1 {
            position:relative;
            &:before {
                 content:'';
                 width:125px;
                 height:125px;
                 background: #1d8e62;
                 top:-35px;
                 right:-55px;
                 position: absolute;
                 z-index: -1;
                @media(--mdMinus) {
                    width:168px;
                    right:-85px;
                }
                @media(--smMinus) {
                    right:0;
                    height:26px;
                    top:-26px;
                    width:170px;
                }
            }
            &:after {
                 content: '';
                 width: 125px;
                 height: 125px;
                 background: #1d8e62;
                 bottom: -55px;
                 left: -55px;
                 position: absolute;
                 z-index: -1;

                @media(--mdMinus) {
                    width:168px;
                    left:-85px;
                }

                @media(--smMinus) {
                    left:0;
                    height:26px;
                    bottom:-26px;
                    width:170px;
                }
            }
        }

        &_border2 {
            position:relative;
            &:before {
                content:'';
                width:125px;
                height:125px;
                background: #1d8e62;
                top:-35px;
                left:-55px;
                position: absolute;
                z-index: -1;

                @media(--mdMinus) {
                    width:168px;
                    left:-85px;
                }

                @media(--smMinus) {
                    left:0;
                    height:26px;
                    top:-26px;
                    width:170px;
                }
            }
            &:after {
                content: '';
                width: 125px;
                height: 125px;
                background: #1d8e62;
                bottom: -35px;
                right: -55px;
                position: absolute;
                z-index: -1;

                @media(--mdMinus) {
                    width:168px;
                    right:-85px;
                }

                @media(--smMinus) {
                    right:0;
                    height:26px;
                    bottom:-26px;
                    width:170px;
                }
             }
        }

    }

    &__descr {
        font-family: "Gilroy";
        font-weight: 300;
        font-size: 18px;
        color: #000000;
        & p {
            font-size: 18px;
            @media(--xs) {
                font-size:16px;
            }
        }
        &_L1Sec2 {
             text-align: center;
             max-width: 670px;
             font-size: 20px;
             margin: 0 auto;
             padding-top: 80px;
             padding-bottom: 80px;

            & p {
                 font-size: 20px;
                 font-weight:300;
                 font-family: 'Gilroy';
                @media(--mdMinus) {
                    font-size:18px;
                }
                @media(--xs) {
                    font-size:17px;
                }
            }

            @media (--mdMinus) {
                padding:60px 40px;
            }

            @media (--xs) {
                padding:40px 20px;

             }
        }

        &_L1Sec3 {
            max-width:380px;
            @media(--lgMinus) {
                padding-left: 50px;
            }
            @media (--mdMinus) {
                padding-left: 50px;
                padding-right: 40px;
            }
        }


        &_L1Sec5 {
            padding-left: 97px;
            max-width:387px;
            @media(--lgMinus) {
                padding-left: 50px;
                padding-right: 40px;
            }

        }

        &_L3Sec2 {
            max-width:460px;
            text-align: center;
            font-size: 20px;
            margin: 0 auto;
            padding-top: 80px;
            padding-bottom: 80px;
            position:relative;
            & p {
                font-size: 20px;
                font-weight:300;
                font-family: 'Gilroy';
                @media(--mdMinus) {
                    font-size:18px;
                }
                @media(--xs) {
                    font-size:17px;
                }
            }

            @media(--mdMinus) {
                padding-top:65px;
            }

            @media(--xs) {
                padding-top:55px;
                padding-bottom:0;
            }

            &:after {
                content:'';
                background: url("../img/longread-3/arrow.svg") no-repeat center center;
                width:358px;
                height: 6px;
                display:inline-block;
                margin-top: 90px;
                @media(--mdMinus) {
                    margin-top:60px;
                }
                @media(--xs) {
                    margin-top:50px;
                    max-width:calc(100% - 40px);
                }
            }
        }

        &_L3Sec3 {
            max-width:785px;
            text-align: center;
            font-size: 16px;
            margin: 0 auto 90px;
            & p {
                  font-size: 16px;
            }

            @media(--mdMinus) {
                padding:0 40px;
            }
            @media(--xs) {
                margin-bottom:50px;
            }
        }

        &_L4Sec1 {
            max-width: 585px;
            padding-right:100px;
            & p {
                  font-family: 'Gilroy';
                  font-size: 16px;
                  font-weight: 400;
            }
            @media(--mdMinus) {
                padding:0 40px;
                max-width:100%;
            }
        }

        &_L4Sec2 {
            max-width: 585px;
            padding-left:100px;
             & p {
                 font-family: 'Gilroy';
                 font-size: 16px;
                 font-weight: 400;
             }

            @media(--mdMinus) {
                padding:0 40px;
                max-width:100%;
            }
        }

        &_L4Sec3 {
            max-width: 585px;
            padding-right:100px;
            & p {
                font-family: 'Gilroy';
                font-size: 16px;
                font-weight: 400;
                margin:20px 0;
            }

            @media(--mdMinus) {
                padding:0 40px;
                max-width:100%;
            }
        }

        &_L4Sec4 {
            &-n1 {
                padding-right: 50px;
                @media(--mdMinus) {
                    padding:0;
                }
            }
            &-n2 {
                padding-left: 50px;
                @media(--mdMinus) {
                    padding:0;
                }
            }
            @media(--mdMinus) {
                max-width:100%;
            }
            & p {
                color:#ffffff;
                font-family: 'Gilroy';
                font-size: 16px;
                margin:20px 0;
            }

            & li {
                color:#ffffff;
                margin-bottom: 8px;
            }
        }

        &_L5Sec2 {
             text-align: center;
             max-width: 585px;
             font-size: 20px;
             margin: 0 auto;
             padding: 90px 0 60px;
            position: relative;

            & p {
                font-size: 20px;
                font-weight:300;
                font-family: 'Gilroy';
                @media(--mdMinus) {
                    font-size:18px;
                }
                @media(--xs) {
                    font-size:17px;
                }
            }



            @media (--mdMinus) {
                padding:80px 40px 60px;
            }

            @media (--xs) {
                padding:40px 20px;

            }
        }

        &_L6Sec2 {
            max-width:700px;
            margin: 0 auto;
            padding-top: 80px;
            padding-bottom: 80px;
            text-align:center;

            & p {
                font-size: 20px;
                font-weight:300;
                font-family: 'Gilroy';
                @media(--mdMinus) {
                    font-size:18px;
                }
                @media(--xs) {
                    font-size:17px;
                }
            }

            & .btn-more {
                max-width: 220px;
                margin: 30px auto 25px;
            }

            &:after {
                content:'';
                background: url("../img/longread-3/arrow.svg") no-repeat center center;
                width:220px;
                height: 6px;
                display:inline-block;
                margin-top: 0 /*90px*/;
                @media(--mdMinus) {
                    /*margin-top: 60px;*/
                }
                @media(--xs) {
                    /*margin-top:50px;*/
                    max-width:calc(100% - 40px);
                }
            }
        }

        @media (--xs) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__title {
        font-family: "Gilroy";
        font-weight: 400;
        font-size: 30px;
        color: #000000;
        margin-bottom: 15px;

        @media (--mdMinus) {
            font-size: 25px;
        }

        &_L1Sec3 {
            margin-top: 50px;
            @media(--lgMinus) {
                padding-left: 50px;
            }
            @media (--mdMinus) {
                padding-left: 50px;
                padding-right: 40px;
                margin-top: 80px;
            }
        }

        &_L1Sec5 {
            padding-left: 97px;
            padding-top: 60px;
            @media(--lgMinus) {
                padding: 80px 40px 0 50px;
            }
        }

        &_L3Sec3 {
            text-align: center;
            font-size: 29px;
            max-width:780px;
            margin: 0 auto 55px;

            @media(--mdMinus) {
                padding:0 40px;
            }
            @media(--xs) {
                font-size:23px;
                padding:0 20px;
                margin-bottom:30px;
            }
        }

        &_L4Sec1 {
            font-size: 40px;
            max-width: 499px;
            margin-bottom:30px;
            padding-right:100px;
            @media(--mdMinus) {
                padding:0 40px;
                max-width:100%;
            }
            @media(--xs) {
                font-size:30px;
            }
        }

        &_L4Sec2 {
            font-size: 40px;
            max-width: 613px;
            padding-left:101px;
            margin-bottom:30px;
            padding-right:100px;
            @media(--mdMinus) {
                padding:0 40px;
                max-width:100%;
            }
            @media(--xs) {
                font-size:30px;
            }
        }

        &_L4Sec3 {
             font-size: 40px;
             max-width: 511px;
             margin-bottom:30px;
             padding-right:100px;
            @media(--mdMinus) {
                padding:0 40px;
                max-width:100%;
            }
            @media(--xs) {
                font-size:30px;
            }
        }

         &_L4Sec4 {
            max-width: 520px;
            text-align: center;
            color:#ffffff;
            margin:0px auto 70px;
            font-size:40px;

            @media(--mdMinus) {
                margin: 0 auto 35px;
            }
            @media(--xs) {
                margin: 0 auto 15px;
                font-size:30px;
            }
         }

        @media (--xs) {
            padding: 0 20px;
            margin-top: 40px;
        }

        &_road {
            margin-bottom: 30px;
        }

    }

    &__content {
        &_L1Sec4 {
            margin: 40px 0;
            @media(--mdMinus) {
                margin: 85px 0;
            }
            @media (--xs) {
                margin: 0;
            }
        }
    }

    &__header {
        padding: 100px 0;
        max-width: 80%;
        margin: 0 auto;

        @media(--xlMinus) {
            max-width: 100%;
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 20px;
            text-align: center;

            @media(--mdMinus) {
                font-size: 18px;
            }

            @media(--smMinus) {
                font-size: 17px;
            }
        }

        @media(--smMinus) {
            max-width: none;
            padding: 60px 20px;
        }
    }

    &__road-wrapper {
        max-width: 975px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 70px 55px;


        @media(--mdMinus) {
            padding: 70px 40px;
            flex-wrap: wrap;
        }
        @media(--smMinus) {
            padding: 20px 20px 40px;
        }
    }

    &__road-img {
        text-align: center;
        max-width: 390px;

        & img {
            max-width:390px;
            width:100%;

            @media(--mdMinus) {
                max-width:390px;
                width:100%;
            }

        }

        @media(--mdMinus) {
            flex-basis: 100%;
            max-width: 100%;
        }

    }

    &__road-content {
        max-width: 435px;
        margin-left: 97px;

        @media(--mdMinus) {
            margin: 30px auto 0;
            text-align: center;
            margin-top:30px;
        }
        @media(--xs) {
            margin: 0 auto 0;
        }
    }
}

.longread-links {
    background: #f6f6f6;
    margin-top: 100px;

    @media (--xs) {
        margin-top: 40px;
    }

    &__inner {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0 20px;
    }

    &__title {
        font-family: "Proxima";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #2b2634;
        margin-bottom: 30px;
        text-align: center;
    }

    &__list {
        display:flex;
        justify-content:space-between;
        padding: 0 55px;
        @media (--lgMinus) {
            padding: 0 55px 20px;
        }
        @media (--mdMinus) {
            padding: 0 40px 20px;
            flex-direction:column;
            align-items: center;
        }
        @media (--xs) {
            padding: 0 0 20px;
        }
    }

    &__item {
        font-family: "Proxima";
        font-size: 16px;
        font-weight: 300;
        position: relative;
        width: auto;
        padding-bottom: 3px;
        color:#929292;

        @media(--mdMinus) {
            padding:10px 0;
        }

        &:after {
            content: "";
            background: #f7941e;
            height: 2px;
            width: 0;
            position: absolute;
            bottom: 0px;
            left: 0px;
            transition: width 0.2s ease-in-out;
        }

        &:hover:after {
            width: 100%;
        }

        &:hover {
            color:#2b2634;
        }

        &_active {
            color:#2b2634;
            &:after {
                content: "";
                background: #f7941e;
                height: 2px;
                width: 100%;
                position: absolute;
                bottom: 0px;
                left: 0px;
                transition: width 0.2s ease-in-out;

                @media(--mdMinus) {
                    bottom: 7px;
                }
            }
        }
    }

    &--no-margin {
      margin-top: 0;
    }
}

.main-section__content_longread {
    max-width:585px;
}


.longread-links-position-park {
    margin-top: -100px;
    @media(--xs) {
        margin-top:-40px;
    }
}

.p-line {
    position:relative;
    padding-left:20px;
    &:before {
        content:'';
        height: 100%;
        width:2px;
        background: #f79719;
        position: absolute;
        left:0;
        top:0;

    }
}

.list_L4Sec4 {
    @media(--mdMinus) {
        display:flex;
        flex-wrap:wrap;
        & li {
            width:50%;
            &:nth-child(2n) {
                padding-left:45px;
                &:before {
                    left:30px;
                    @media(--smMinus) {
                        left:0;
                    }
                }
                @media(--smMinus) {
                    padding-left:15px;
                }
            }
        }
    }

    @media(--smMinus) {
        & li {
            width:100%;
        }
    }
}

.longread-routes {
    max-width: 780px;
    margin: 0 auto;

    &__title {
        color:#19191a;
        font-family: 'Gilroy';
        font-size: 29px;
        font-weight:400;
        text-align: center;
        margin-bottom: 20px;

        @media(--mdMinus) {
            padding:0 40px;
        }
        @media(--xs) {
            font-size:23px;
            padding:0 20px;
        }
    }

    &__subtitle {
        font-family: 'Gilroy';
        fot-size: 16px;
        font-weight:400;
        text-align: center;
        &:after {
            content:'';
            background: url("../img/longread-3/arrow.svg") no-repeat center center;
            width:160px;
            margin: 60px auto 0;
            height: 6px;
            display:block;
            @media(--mdMinus) {
                margin-top:60px;
            }
            @media(--xs) {
                margin-top:50px;
                max-width:calc(100% - 40px);
            }
        }
    }

    &-links {
        justify-content: space-between;
        display:flex;
        flex-wrap:wrap;
        margin: 60px 0 0 0;
        text-align:center;

        @media(--mdMinus) {
            padding: 0 40px;
        }
        @media(--smMinus) {
            flex-wrap:nowrap;
        }
        @media(--xs) {
            padding:0 20px;
            flex-wrap:wrap;
            justify-content: space-around;
        }


        &__item {
            text-align:center;
            font-family: 'Proxima';
            font-size:16px;
            font-weight:400;
            color:#9f9ea1;
            text-transform: uppercase;
            position:relative;
            padding-bottom:4px;

            @media(--smMinus) {
                margin: 0 10px;
            }

            @media(--xs) {
                opacity:0.3;
                margin:0;
            }

            & span {
                @media(--xs) {
                    display:none;
                }
            }

            &:after {
                 content: "";
                 background: #f7941e;
                 height: 2px;
                 width: 0;
                 position: absolute;
                 bottom: 0px;
                 left: 0px;
                 transition: width 0.2s ease-in-out;
            }

            &:hover {
                 color:#2b2634;
            }

            &:hover:after {
                 width: 100%;
            }

            &_active {
                color:#2b2634;
                &:after {
                    content: "";
                    background: #f7941e;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    transition: width 0.2s ease-in-out;
                    @media(--xs) {
                        display:none;
                    }
                }
                @media(--xs) {
                    opacity:1;
                }

            }

            &:before {
                content:'';
                display:block;
                background-repeat: no-repeat;
                background-position: center bottom;
                margin: 0 auto 20px;
                height:44px;
            }

            &_auto {
                &:before {
                    width:29px;
                    background-image: url("../img/longread-5/auto.svg");
                }
            }
            &_transport {
                &:before {
                    width:25px;
                    background-image: url("../img/longread-5/transport.svg");
                }
            }
            &_railway {
                &:before {
                    width:26px;
                    background-image: url("../img/longread-5/railway.svg");
                }
            }
            &_metro {
                &:before {
                    width:50px;
                    background-image: url("../img/longread-5/metro.svg");
                }
            }
        }

        &__mobileText {
            display:none;
            @media(--xs) {
                flex-basis:100%;
            }
            &_active {
               position:relative;

                & span {
                    position:relative;
                    padding-bottom:4px;
                    font-family: 'Proxima';
                    font-size:16px;
                    font-weight:400;
                    color:#2b2634;
                    text-transform: uppercase;
                    &:after {
                         content: "";
                         background: #f7941e;
                         height: 2px;
                         width: 100%;
                         position: absolute;
                         bottom: 0px;
                         left: 0px;
                         transition: width 0.2s ease-in-out;
                    }
                }
               @media(--xs) {
                   display:inline-block;
               }

            }
        }
    }

    &__descr {
        display:none;
        color:#19191a;
        font-family: 'Gilroy';
        font-weight:400;
        text-align: center;
        font-size:16px;
        max-width:975px;
        line-height: 1.5;
        margin: 50px auto 0;
        @media(--mdMinus) {
            padding:0 40px;
        }
        @media(--xs) {
            padding:0 20px;
        }
        &_active {
            display:block;
        }
    }

    &__map {
        height:700px;
        margin-top:35px;

        @media(--xs) {
            height:500px;
        }
    }
}

.parking-grid-container {
    max-width: 1170px;
    width: 100%;
    margin:0 auto 210px;

    @media(--mdMinus) {
        max-width: 100%;
    }

    @media(--xs) {
        margin-bottom:0;
    }
}

.parking-grid {
    justify-content: space-between;
    display: flex;
    margin-bottom: 100px;
    position:relative;

    &__item {
        width:35%;
        position:relative;

        &_top {
             top:25px;
        }
        &_center {
            width: 35%;
            z-index: 2;
            position: absolute;
            left:50%;
            margin-left:-17.5%;

            & .parking-grid__text {
                padding: 0 50px;
            }
        }

        &_left {
            width: calc(52%);

            @media(--xs) {
                width:100%;
            }
        }
        &_right {
            width: calc(52%);
            position: absolute;
            right:0;
            top:50px;
            z-index:-1;

            & .parking-grid__text {
                padding: 0 30px 0 70px;
                @media(--xs) {
                    padding: 0 40px;
                }
            }

            @media(--xs) {
                width:100%;
                position: static;
            }
        }
        &_leftBottom {
           top:70px;
           margin-bottom:150px;
           @media(--xs) {
               top:0;
               margin-bottom:0px;
           }
        }

        &_rightBottom {
            top:0;
            z-index: 1;
        }
    }

    &__text {
        padding: 0 30px;
        font-family: 'Gilroy';
        font-size: 17px;
        font-weight: 300;
        margin-bottom:40px;
        line-height:1.5;

        & span {
            font-weight: 600;
        }

        @media(--mdMinus) {
            padding: 0 40px;
        }
    }

    &__img {
        height: 395px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media(--xs) {
            margin-bottom: 40px;
        }
    }

    &_desktop {
        @media(--mdMinus) {
            display:none;
        }
    }

    &_mobile {
        display: none;
        @media(--mdMinus) {
            display:block;
        }
        @media(--xs) {
            margin-bottom:0;
        }
        &:last-child {
            @media(--xs) {
                margin-bottom:40px;
            }
        }
    }
}

.longread-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    &:last-child {
        padding-bottom: 80px;
        min-height: 915px;

        @media(--smMinus) {
            padding-bottom: 55px;
        }
    }

    &._last {
        @media(--mdMinus) {
            flex-direction: column;

            .longread-col {
                &:last-child {
                    order: -1;
                    width: 100%;
                    min-height: 0;
                    margin-bottom: 80px;
                }

                &:first-child {
                    padding-bottom: 120px;
                    min-height: 705px;
                    margin-bottom: 0;
                }
            }
        }

        @media(--smMinus) {
            .longread-col {
                &:last-child {
                    margin-bottom: 40px;
                }

                &:first-child {
                    padding-bottom: 0;
                    min-height: 0;
                }
            }
        }
    }
}

.longread-col {
    position: relative;
    min-height: 585px;
    overflow: hidden;
    flex: 1;

    &:first-child {
        min-width: 490px;
    }
}

.longread-list {
    padding-left: 20%;
    list-style: none;

    @media(--mdMinus) {
        padding-left: 40px;
    }

    @media(--smMinus) {
        padding-left: 0;
    }

    li {
        padding-left: 30px;
        position: relative;
        margin-bottom: 35px;
        font-size: 26px;
        line-height: 40px;

        @media(--smMinus) {
            line-height: 30px;

            span {
                margin-top: 10px;
            }
        }

        span {
            font-size: 14px;
            display: block;
            max-width: 290px;
            line-height: 24px;

            @media(--mdMinus) {
                max-width: 560px;
            }

            &._num {
                font-size: 60px;
                display: inline-block;
                line-height: 1;

                @media(--smMinus) {
                    font-size: 50px;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #3da269;
            top: 15px;
            left: 0;
            border-radius: 50%;

            @media(--smMinus) {
                left: 10px;
            }
        }

        &._mob {
            display: none;
            padding-left: 0;

            @media(--smMinus) {
                display: block;
            }

            &:before {
                display: none;
            }
        }

        &._num {
            &:before {
                top: 40px;
                left: 0;

                @media(--smMinus) {
                    left: 10px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &._modified {
        padding-left: 70px;

        .longread-list__item {
            &:first-child {
                padding-left: 220px;
                padding-top: 60px;
                margin-bottom: 75px;

                &:before {
                    top: 100px;
                    left: 200px;
                }

                @media(--mdMinus) {
                    padding-left: 30px;
                    padding-top: 70px;
                    margin-bottom: 50px;

                    &:before {
                        top: 110px;
                        left: 0;
                    }
                }

                @media(--smMinus) {
                    padding-top: 0;
                    margin-bottom: 35px;

                    &:before {
                        left: 10px;
                        top: 40px;
                    }
                }
            }

            @media(--mdMinus) {
                &:last-child {
                    display: none;
                }

                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }
        }

        @media(--mdMinus) {
            padding-left: 40px;
        }

        @media(--smMinus) {
            padding-left: 0;
        }
    }

    &._tablet {
        display: none;

        @media(--mdMinus) {
            display: block;
            position: absolute;
            top: 640px;
        }

        @media(--smMinus) {
            position: static;
            top: auto;
        }
    }

    &:not(._modified, ._tablet) {
        padding-top: 60px;

        @media(--smMinus) {
            padding-top: 0;
            margin-bottom: 40px;
        }
    }
}

.longread-image {
    background-color: transparent;
    background-position: 0 0;
    background-size: cover;
    transition: ease .3s all;

    &._absolute {
        position: absolute;
    }

    &._small {
        width: 170px;
        height: 170px;
    }

    &._medium {
        width: 250px;
        height: 250px;

        @media(--mdMinus) {
            background-image: url('../img/longread-7/01.jpg');
        }
    }

    &._large {
        height: 585px;
        width: 585px;

        @media(--mdMinus) {
            width: 100%;
            background-size: cover;
        }
    }

    &._01 {
        background-image: url('../img/longread-7/01.jpg');
        top: 0;
        left: 0;
    }

    &._02 {
        background-image: url('../img/longread-7/02.jpg');
        right: 0;
        bottom: 0;
    }

    &._03 {
        background-image: url('../img/longread-7/03.jpg');
        right: 250px;
        bottom: 0;
    }

    &._04 {
        background-image: url('../img/longread-7/04.jpg');
        top: 0;
        left: 0;

        @media(--mdMinus) {
            display: none;
            left: auto;
            right: 0;
        }
    }

    &._05 {
        background-image: url('../img/longread-7/05.jpg');
        top: 0;
        left: 0;

        @media(--mdMinus) {
            right: 250px;
            left: auto;
        }
    }

    &._06 {
        background-image: url('../img/longread-7/06.jpg');
        top: 585px;
        right: 0;

        @media(--mdMinus) {
            top: 250px;
            width: 250px;
            height: 250px;
        }
    }

    &._07 {
        background-image: url('../img/longread-7/mobile/07.jpg');
        width: 100%;
    }

    &._pc {
        @media(--smMinus) {
            display: none;
        }
    }

    &._tablet {
        display: none;

        @media(--mdMinus) {
            display: block;

            @media(--smMinus) {
                display: none;
            }
        }
    }

    &._mob {
        display: none;

        @media(--smMinus) {
            display: block;
        }
    }
}

@media(--smMinus) {
    .longread-col {
        min-height: 0;
        flex: auto;
        margin-bottom: 40px;

        &:last-child {
            order: -1;
            width: 100%;
        }

        &:first-child {
            min-width: 0;
        }
    }

    .longread-row {
        flex-direction: column;
    }

    .longread-image {
        &._large,
        &._medium,
        &._small {
            height: 260px;

        }

        &._absolute {
            position: static;
        }

        &._01 {
            background-image: url('../img/longread-7/mobile/01.jpg');
            width: 100%;
        }

        &._04 {
            background-image: url('../img/longread-7/mobile/04.jpg');
            width: 100%;
        }

        &._05 {
            background-image: url('../img/longread-7/mobile/05.jpg');
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

.longread8 {
    ._green {
        color: #3da269;
    }

    sup {
        vertical-align: baseline;
        position: relative;
        font-size: .6em;
        top: -.5em;
    }

    &__tlt {
        font-size: 30px;
        margin-bottom: 20px;

        strong {
            display: block;
        }

        + p {
            font-size: 18px;
        }

        @media(--smMinus) {
            font-size: 24px;

            strong {
                display: inline;
            }
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 24px;
        color: #19191a;
    }

    p {
        margin: 0 0 25px 0;
    }

    blockquote {
        margin-top: 75px;
        padding-top: 60px;
        position: relative;
        color: rgba(25, 25, 25, .6);
        font-size: 16px;
        line-height: 22px;
        max-width: 390px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 85px;
            height: 1px;
            background-color: #000;
        }

        @media (max-width: 1120px) {
            max-width: 195px;
        }

        @media(--mdMinus) {
            max-width: none;
            margin-top: 30px;
            padding-top: 30px;
        }
    }

    &__square {
        position: absolute;
        z-index: 100;
        font-size: 20px;
        color: #fff;
        left: 10%;
        top: 180px;
        text-transform: uppercase;

        sup {
            top: -.8em;
        }

        div {
            font-size: 50px;
            font-weight: bold;
            text-transform: none;
        }

        br {
            display: none;

            @media(--mdMinus) {
                display: block;
            }
        }

        @media(--mdMinus) {
            left: 80px;
        }

        @media(--smMinus) {
            left: 20px;
            top: 70px;
        }
    }

    .longread-section__header {
        p {
            margin: 0;
            padding: 0 40px;

            br {
                display: none;

                @media(--mdMinus) {
                    display: block;
                }
            }

            @media(--smMinus) {
                padding: 0 20px;
            }
        }

        @media(--mdMinus) {
            position: relative;
            padding: 80px 0 125px;

            &:before {
                content: '';
                position: absolute;
                background: url("../img/longread-3/arrow.svg") no-repeat center center;
                width: 140px;
                height: 6px;
                bottom: 55px;
                left: 50%;
                margin-left: -70px;
            }
        }

        &._bottom {
            padding-top: 190px;
            padding-bottom: 90px;
            text-transform: uppercase;

            p {
                font-size: 18px;
                line-height: 22px;

                @media(--smMinus) {
                    font-size: 14px;
                    line-height: 1.2;
                }
            }

            &:before {
                content: '';
                position: absolute;
                background: url("../img/longread-3/arrow.svg") no-repeat center center;
                width: 360px;
                height: 6px;
                top: 100px;
                left: 50%;
                margin-left: -180px;

                @media(--mdMinus) {
                    width: 140px;
                    margin-left: -70px;
                }
            }

            @media(--mdMinus) {
                padding-top: 120px;
                padding-bottom: 50px;

                &:before {
                    top: 80px;
                }
            }

            @media(--smMinus) {
                padding: 70px 20px 35px;

                &:before {
                    bottom: auto;
                    top: 40px;
                }
            }
        }
    }

    .swiper-pagination {
        position: static;
        margin-bottom: 60px;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
        width: 50px;
        height: 1px;
        background: #a4a4a4;
        border-radius: 0;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #f77107;
        height: 3px;
    }

    .swiper-slide {
        width: 33%;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
        width: 15%;
    }

    .swiper-slide-active {
        width: 70%;
    }
}

.longread8-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &:nth-last-child(2) {
        z-index: 50;

        .longread8-col {
            min-height: 695px;
        }

        @media(--mdMinus) {
            display: block;

            .longread8-col {
                width: 100%;
                padding: 0 40px;
                min-height: 0;

                &:first-child {
                    margin-bottom: 40px;
                }

                &:last-child {
                    min-height: 420px;
                }
            }
        }

        @media(--smMinus) {
            margin-bottom: 80px;

            .longread8-col {
                padding: 0 20px;

                &:last-child {
                    padding: 0;
                }
            }
        }
    }

    &:last-child {
        margin-top: -50px;

        @media(--mdMinus) {
            margin-top: -120px;
        }

        @media(--smMinus) {
            margin-top: 0;
            display: block;
            width: 100%;

            .longread8-col {
                width: 100%;

                &:first-child {
                    padding-top: 66.6%;
                }
            }
        }
    }
}

.longread8-col {
    position: relative;
    width: 50%;

    &:first-child {
        padding-right: 8.33%;
        z-index: 10;

        @media(--smMinus) {
            padding-right: 0;
        }
    }
}

.longread8-image {
    position: absolute;

    &._large {
        height: 695px;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent url('../img/longread-8/01.jpg') 0 0 no-repeat;

        @media(--mdMinus) {
            background-image: url('../img/longread-8/01_mobile.jpg');
            width: 585px;
            height: 420px;
            left: 40px;
        }

        @media(--smMinus) {
            left: 0;
            width: 100%;
            background-size: cover;
        }
    }

    &._medium {
        width: 487px;
        height: 315px;
        background: transparent url('../img/longread-8/03.jpg') 0 0 no-repeat;
        bottom: 50px;
        right: 8.33%;

        @media(--mdMinus) {
            background-image: url('../img/longread-8/03_mobile.jpg');
            background-size: 100%;
            bottom: auto;
            top: 170px;
            height: 390px;
            right: 50px;
        }

        @media(--smMinus) {
            width: 100%;
            height: 100%;
            right: auto;
            left: 0;
            top: 0;
            bottom: auto;
        }
    }

    &._small {
        left: -16.66%;
        bottom: -70px;
        width: 340px;
        height: 340px;
        background: transparent url('../img/longread-8/02.jpg') 0 0 no-repeat;

        @media(--mdMinus) {
            bottom: auto;
            top: 40px;
            left: 345px;
        }

        @media(--smMinus) {
            width: 170px;
            height: 170px;
            bottom: -40px;
            left: 20px;
            top: auto;
            background-size: 100%;
        }
    }
}

.longread8-text {
    background-color: #ededed;
    margin-left: -50%;
    padding-left: 50%;
    padding-top: 190px;
    margin-right: 50px;
    padding-bottom: 70px;
    color: #19191a;
    padding-right: 13%;

    &__tlt {
        font-size: 30px;
        margin-bottom: 20px;

        @media(--smMinus) {
            font-size: 24px;
        }
    }

    p {
        margin-bottom: 20px;
        font-size: 16px;

        &._green {
            font-size: 18px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media(--mdMinus) {
        margin-right: 0;
        padding-left: 80%;
        margin-left: -80%;
        padding-bottom: 40px;
    }

    @media(--smMinus) {
        padding: 40px 20px;
        margin: 0;
    }
}

.longread-slider {
    position: relative;

    .swiper-scrollbar {
        width: 380px;
        height: 1px;
        background-color: #a4a4a4;
        margin: 0 auto 60px;
        position: static;

        @media(--smMinus) {
            width: 100%;
        }
    }

    .swiper-scrollbar-drag {
        background-color: #f67007;
        border-radius: 0;
        height: 3px;
        top: auto;
        bottom: 2px;
    }

    .swiper-wrapper {
        margin-bottom: 80px;
    }

    .slider-months-slide__content {
        box-shadow: none;
        height: auto;
        height: 900px;

        @media(--mdMinus) {
            height: auto;
            padding-top: 67%;
        }
    }

    &:before {
        content: '';
        position: absolute;
        height: 20px;
        width: 50%;
        box-shadow: 0 0 80px 15px rgba(0, 0, 0, .5);
        bottom: 170px;
        left: 50%;
        margin-left: -25%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        background: none;
        margin-top: 0;

        &:before {
            content: '';
            transform: translate(-50%, -50%);
            position: absolute;
            top: calc(50% - 60px);
            left: 50%;
            width: 15px;
            height: 24px;
            background: transparent url('../img/longread-8/svg/icon_left.svg') 0 0 no-repeat;
        }

        &:focus {
            outline: none;
        }

        @media(--mdMinus) {
            display: none;
        }
    }

    .swiper-button-prev {
        left: 0;
        right: auto;
    }

    .swiper-button-next {
        right: 0;

        &:before {
            transform: rotate(180deg);
        }
    }
}

.longread-routes-btns {
    margin-top:25px;

    &__item {
        font-family: 'Gilroy';
        font-weight: 400;
        font-size: 16px;
        color:#929292;
        padding:8px 23px;
        border:1px solid #3da269;
        border-radius:20px;
        transition:all 0.4s ease;
        margin: 0 7px;

        @media(--mdMinus) {
            margin: 0 5px;
        }

        @media(--smMinus) {
            display:inline-block;
            margin-bottom:10px;
            width:100%;
            max-width:280px;
        }


        &:hover {
            background: #3da269;
            color:#ffffff;
            border-radius:20px;
        }

        &_active {
            background: #3da269;
            color:#ffffff;
            border-radius:20px;
        }
    }
}

.metro-cols {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.metro-fast,
.metro-comfort {
    width: 50%;
    height: 700px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;

    @media(--mdMinus) {
        width:100%;
    }
    @media(--smMinus) {
        height:370px;
    }
}

.metro-fast,
.metro-comfort {
    background-size: cover;
    text-align: center;
}

.metro-fast {
    background: url("../img/longread-5/fast-bg.jpg") no-repeat center center;
}

.metro-comfort {
    background: url("../img/longread-5/comfort-bg.jpg") no-repeat center center;
}

.metro-cols__img {
    @media(--smMinus) {
        max-width:170px;
    }
}

.metro-cols__img,
.metro-cols__title,
.metro-cols__text {
    position: relative;
    z-index: 10;
}

.metro-cols__title {
    font-family: 'Gilroy';
    font-size: 50px;
    font-weight: 300;
    color:#ffffff;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;

    @media(--smMinus) {
        font-size: 30px;
    }
}

.metro-cols__text {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 20px;
    color:#ffffff;
    font-weight: normal;
    text-align: center;
    padding: 0px 100px;
    margin-top: 30px;

    @media(--smMinus) {
        padding: 0px 40px;
    }

    &_desktop {
        @media(--smMinus) {
            display: none;
        }
    }

    &_mobile {
        display: none;
        color:#333333;
        margin-bottom:40px;

        @media(--smMinus) {
            display: block;
        }
    }
}

.metro-cols__text_tablet {
    display: none;
}

.metro-info {
    max-width: 860px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto 50px;
    padding: 0 55px;

    @media(--mdMinus) {
        padding: 0 40px;
    }

    @media(--smMinus) {
        padding: 0 20px;
    }

    &:before {
        content: "";
        background: url(../img/longread-3/arrow.svg) no-repeat 50%;
        width: 160px;
        margin: 0px auto 60px;
        height: 6px;
        display: block;

        @media(--smMinus)  {
            margin: 0px auto 40px;
        }
    }

    &__title {
        color:#3da269;
        font-family: 'Gilroy';
        font-weight: 400;
        text-align: center;
        font-size:29px;

        @media(--smMinus) {
            font-size:20px;
        }

        & span {
            font-size:50px;
            display: block;

            @media(--smMinus) {
                font-size:29px;
            }
        }
    }

    &__descr {
        margin-top: 30px;
    }
}

.longread-showroom {
    margin-top: 50px;
    margin-bottom: 10px;/*320px*/
    @media (--smMinus) {
        margin-top: 40px;/*30px*/
        margin-bottom: 0;/*250px*/
    }
    /*@media (--xs) {
        margin-top: 10px;
        margin-bottom: 150px;
    }*/
}

.longread-section__header-controls {
    margin-top: 48px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;

    @media (--smMinus) {
        flex-direction: column;
        padding: 0 20px;
    }

    & .btn-more {
        width: 47%;
        max-width: none;
        color: #262627;
        font-weight: 600;
        &--solid {
            color: #fff;
            font-weight: 400;
        }

        &:hover {
            color: #fff;
        }

        @media (--smMinus) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}