.mat-cap {
    &__content {
        p, li {
            font-size: 20px;
            font-family: 'Proxima Nova Light';
            margin: 0;
        }

        p {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        strong {
            font-family: 'Proxima Nova Regular';
            font-weight: normal;
        }
    }

    .page__section {
        &:last-child {
            padding: 65px 0;
        }
    }
}

@media screen and (--smMinus) {
    .mat-cap .page__section:last-child {
        padding: 40px 0;
    }

    .mat-cap__content {
        padding: 30px 0;
    }
}
