.NewEmerald {
    color: #19191a;
    &_top {
        height: 580px;
        padding: 0 20px;
        margin-bottom: 67px;
        background: url("../img/newEmerald/top.jpg") center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        @media (--mdMinus) {
            background-image: url("../img/newEmerald/top_768.jpg");
        }
        @media (--smMinus) {
            margin-bottom: 47px;
            background-position: left center;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #2f2f2f;
            opacity: .46;
        }
        & img {
            position: relative;
            z-index: 1;
            @media (--smMinus) {
                /**/
            }
        }
    }
    &_container {
        max-width: 1280px;
        margin: 0 auto 115px;
        @media (--mdMinus) {
            margin-bottom: 110px;
        }
        @media (--smMinus) {
            margin-bottom: 50px;
        }
    }
    &_adv {
        padding: 0 20px;
        margin-bottom: 73px;
        text-align: center;
        @media (--mdMinus) {
            margin-bottom: 30px;
        }
        @media (--smMinus) {
            margin-bottom: 17px;
        }
        & .NewEmerald_tlt {
            @media (--lgMinus) {
                max-width: 600px;
                margin: 0 auto;
            }
        }
        & p {
            max-width: 670px;
            margin: 34px auto 0;
            font-family: Gilroy;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            @media (--smMinus) {
                margin-top: 27px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &_tlt {
        font: 400 40px/1 'Gilroy';
        @media (--smMinus) {
            font-size: 30px;
        }
    }
    &_infoList {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 67px;
            width: 69%;
            height: calc(100% - 67px);
            background: #ededed;
            @media (--mdMinus) {
                top: 0;
                width: 408px;
                height: 1182px;
            }
            @media (--smMinus) {
                width: 100%;
                height: 100%;
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 605px;
            height: 1362px;
            background: #ededed;
            display: none;
            @media (--mdMinus) {
                display: block;
            }
            @media (--smMinus) {
                display: none;
            }
        }
    }
    &_info {
        position: relative;
        z-index: 1;
    }
}

.NewEmeraldInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    position: relative;
    @media (--mdMinus) {
        flex-direction: column;
        padding: 0 0 0 50px;
    }
    @media (--smMinus) {
        padding: 0;
    }
    &_txt {
        width: calc(100% - 535px);
        padding: 0 30px 0 70px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #19191a;
        @media (--mdMinus) {
            width: auto;
        }
    }
    &_list {
        margin-top: 22px;
        & li {
            list-style: none;
            padding-left: 30px;
            margin-top: 10px;
            position: relative;
            @media (--mdMinus) {
                padding-left: 20px;
            }
            &:first-child {
                margin: 0;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 10px;
                height: 10px;
                background: #1d8e62;
                border-radius: 50%;
            }
        }
    }
    &_img {
        width: 535px;
        height: 535px;
        flex-basis: 535px;
        position: relative;
        @media (--smMinus) {
            width: calc(100% - 20px);
            height: auto;
            flex-basis: calc(100% - 20px);
        }
        &:before {
            content: '';
            position: absolute;
            width: 140px;
            height: 140px;
            background: #1d8e62;
        }
        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 1;
        }
    }
    &._block1 {
        & .NewEmeraldInfo_txt {
            padding-top: 163px;
            @media (--lgMinus) {
                padding-top: 140px;
                padding-left: 0;
            }
            @media (--mdMinus) {
                padding: 48px 20px 68px 0;
            }
            @media (--smMinus) {
                padding: 28px 20px 60px;
            }
        }
        & .NewEmeraldInfo_img {
            @media (--mdMinus) {
                margin-left: auto;
                margin-right: 70px;
            }
            @media (--smMinus) {
                margin-left: 0;
                margin-right: auto;
            }
            &:before {
                right: -70px;
                top: -70px;
                @media (--smMinus) {
                    right: -20px;
                    top: -20px;
                }
            }
        }
    }
    &._block2 {
        flex-direction: row-reverse;
        margin: -77px 0 -104px;
        @media (--lgMinus) {
            margin: 70px 0;
        }
        @media (--mdMinus) {
            flex-direction: column;
            margin: 0;
        }
        & .NewEmeraldInfo_txt {
            padding-top: 194px;
            @media (--lgMinus) {
                padding-top: 150px;
            }
            @media (--mdMinus) {
                padding: 58px 20px 112px 0;
            }
            @media (--smMinus) {
                padding: 48px 20px 60px;
            }
        }
        & .NewEmeraldInfo_img {
            @media (--mdMinus) {
                margin-left: 20px;
            }
            @media (--smMinus) {
                margin-left: auto;
            }
            &:before {
                left: -70px;
                top: -70px;
                @media (--smMinus) {
                    left: -20px;
                    top: -20px;
                }
            }
        }
    }
    &._block3 {
        & .NewEmeraldInfo_txt {
            padding-top: 182px;
            @media (--lgMinus) {
                padding-top: 130px;
                padding-left: 0;
            }
            @media (--mdMinus) {
                padding: 68px 20px 70px 0;
            }
            @media (--smMinus) {
                padding: 65px 20px 46px;
            }
        }
        & .NewEmeraldInfo_list {
            max-width: 440px;
            @media (--mdMinus) {
                max-width: 100%;
            }
        }
        & .NewEmeraldInfo_img {
            margin-right: -70px;
            @media (--mdMinus) {
                margin-left: auto;
                margin-right: 0;
            }
            &:before {
                 left: -70px;
                 bottom: -70px;
                @media (--smMinus) {
                    left: -20px;
                    bottom: -20px;
                }
             }
        }
    }
}