.news-detail {
    margin-top: 145px;
}

@media (--mdMinus) {
    .news-detail {
        display: flex;
        flex-direction: column-reverse;
        margin: 70px 0 40px;
    }
    .news-detail.news-detail--noimage {
        display: block;
        margin: 124px 0 40px;
    }
}

@media (--smMinus) {
    .news-detail {
        margin: 70px 0 30px;
    }
    .news-detail.news-detail--noimage {
        margin: 114px 0 30px;
    }
}

.news-detail__wrp {
    max-width: 880px;
    margin: 0 auto 80px;
}

@media (--mdMinus) {
    .news-detail__wrp {
        margin: 50px auto 0;
        padding: 0 40px;
        max-width: 100%;
    }
}

@media (--smMinus) {
    .news-detail__wrp {
        padding: 0 20px;
    }
}

.news-detail__head {
    text-align: right;
}

.news-detail__date {
    text-align: left;
    color: #028862;
    font-size: 15px;
    font-family: 'Proxima Nova Light';
    font-weight: 600;
    float: left;
}

.news-detail__back {
    text-decoration: none;
    outline: none;
    display: inline-block;
}

.news-detail__back .news-detail__back-arrow {
    height: 16px;
    width: 32px;
    background: url("../img/arrow_news_back.svg") no-repeat center / contain;
    display: inline-block;
}

.news-detail__back span {
    padding-left: 15px;
    color: #2b2634;
    font-size: 16px;
    font-family: 'Proxima Nova Light';
    font-weight: 600;
}

@media (--smMinus) {
    .news-detail__back span {
        display: none;
    }
}

.news-detail__content {
    padding-top: 60px;
    padding-bottom: 42px
}

@media (--smMinus) {
    .news-detail__content {
        padding-top: 30px;
        padding-bottom: 12px
    }
}

.news-detail__content h1 {
    font-family: "Proxima Nova Regular";
    font-size: 38px;
    margin-bottom: 32px;
}

@media (--mdMinus) {
    .news-detail__content h1 {
        font-size: 30px;
    }
}

@media (--smMinus) {
    .news-detail__content h1 {
        font-size: 25px;
    }
}

.news-detail__content p {
    font-family: "Proxima Nova Light";
    font-size: 17px;
    margin-bottom: 18px;
}

.news-detail__content p:last-of-type {
    margin-bottom: 0;
}

.news-detail__content>ul,
.news-detail__content>ol {
    font-family: "Proxima Nova Light";
    font-size: 16px;
    margin-bottom: 18px;
    margin-left: 0;
    &>li {
        padding-bottom: 4px;
    }
}

.news-detail__content>ul {
    padding-left: 14px;
    list-style: none;
    &>li {
        padding-left: 16px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            left: -2px;
            top: 9px;
            background: #f7941e;
        }
    }
}

.news-detail__content>ol {
    padding-left: 30px;
}

.news-detail__content a {
    text-decoration: underline;
    color: #f7941e;
    font-family: 'Proxima Nova Regular';
    &:hover {
        color: #fca742;
        text-decoration: none;
    }
}

@media (--smMinus) {
    .news-detail__content p {
        margin-bottom: 20px;
    }
}

.news-detail__btn {
    background: #f7941e;
    color: #fff!important;
    text-transform: uppercase;
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    border: none;
    outline: none;
    height: 50px;
    width: 200px;
    cursor: pointer;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        background-color: #f69e36;
    }
}

@media (--mdMinus) {
    .news-detail__btn {
        width: 100%;
        margin-top: 65px;
    }
}

@media (--smMinus) {
    .news-detail__btn {
        margin-top: 70px;
    }
}

.news-detail__img {
    max-width: 1170px;
    width: 100%;
    background: no-repeat center / cover;
    height: 420px;
    margin: 0 auto;
}

@media (--lgMinus) {
    .news-detail__img {
        height: auto;
        padding-bottom: 36%;
    }
}

@media (--smMinus) {
    .news-detail__img {
        padding-bottom: 33%;
    }
}

/*.news-detail-table {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15px;
    &__item {
        width: 25%;
        padding: 25px 30px;
        @media (--mdMinus) {
            width: 33%;
            padding: 15px 30px;
        }
        @media (--xs) {
            width: 50%;
            padding: 15px 20px;
        }
    }
    & img {
        width: 100%;
        max-width: none;
    }
}*/
