* {
    &:focus {
        outline: none;
    }
}

.parking__text {
    margin-top: -45px;
    padding: 0 0 20px 0;
}

.parking-form {
    max-width: 570px;

    .button {
        max-width: 270px;
        line-height: 50px;

        @media screen and (--xs) {
            max-width: none;
        }
    }

    .ws-errorbox {
        bottom: auto;
        top: 100%;
        right: auto;
        left: 0;

        .ws-errormessage {
            font-size: 10px;
            line-height: 16px;
            letter-spacing: .2px;
            color: #8e8e8e;
            white-space: nowrap;
        }
    }

    .ui-selectmenu-text {
        font-size: 14px;
    }

    .page-form__step {
        margin-bottom: 30px;
    }

    .page-form__inp {
        border: solid 1px #d6dade;
        color: #3b3b3b;
        padding: 0 10px;
        font-family: 'Proxima';
        line-height: 50px;
        height: 50px;

        &:focus {
            border-color: #db8e3c;
        }

        &.user-success {
            border-color: #d6dade;
        }
    }

    .ws-invalid {
        .page-form__inner-lbl {
            color: #d73d3d;
        }

        .page-form__inp {
            border-color: #d73d3d;
        }

        .select-wrap .ui-button {
            border-color: #d73d3d;
        }
    }

    h2 {
        text-align: left;
    }
}

.ui-menu {
    background-color: #fff;
}

.ui-state-disabled {
    display: none;
}

.download {
    position: relative;
    font-size: 12px;
    font-family: 'Proxima';
    font-weight: 500;
    display: inline-block;
    padding-right: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #28a56e;

    &:before {
        content: '';
        display: block;
        width: 17px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -12.5px;
        background: transparent url('../img/icon_download.svg') 0 0 no-repeat;
    }

    &:hover {
        &:before {
            background-image: url('../img/icon_download-hover.svg');
        }
    }

    @media (--640) {
        span {
            display: none;
        }
    }

    &_disabled {
        opacity:0;
        visibility: hidden;
    }
}

.parking {
    .page__section {
        &:nth-child(2n) {
            background-color: #fff;
        }

        &._button {
            padding-top: 0;
        }
    }

    &._inner {
        .page__section {
            padding: 65px 0;

            @media (--smMinus) {
                padding: 40px 0;
            }
        }
    }
    &-pagination {
        margin-top: 40px;
        @media(--sm) {
            margin-top: 20px;
        }
        @media(--xs) {
            margin-top: 20px;
        }
    }
    &-result {
        transition: opacity .3s ease;
        opacity: 1;
        &_loading {
            opacity: 0.4;
        }
    }
}

.parking-table {
    table {
        position: relative;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    tr {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        th,
        td {
            flex: auto;
            width: 20%;
            white-space: nowrap;

            @media (--640) {
                width: auto;
                min-width: 70px;
            }
        }
    }

    td {
        z-index: 1;
        font-size: 17px;
        line-height: 27px;
        font-family: 'Proxima';
        font-weight: 400;
        padding: 20px 30px;

        @media (--640) {
            padding: 20px 20px;
            font-size: 14px;
            height: 70px;
        }
    }

    tbody {
        tr {
            position: relative;
            transition: ease .3s all;
            background-color: #fff;
            z-index: 1;

            &:nth-child(2n - 1) {
                background-color: #f3f3f4;
            }

            &:hover {

                z-index: 10;

                td {
                    z-index: 10;
                }
            }
        }
    }

    @media(--640) {
        width: calc(100% + 40px);
        margin-left: -20px;

        th,
        td {
            padding: 20px 10px;

            &:first-child {
                padding-left: 20px;
            }
        }
    }
}

.parking-sorter {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    height: 62px;
    border-bottom: 1px solid #eaeaeb;
    color: hsla(240, 2%, 10%, 0.5);
    font-family: 'Proxima';
    font-weight: 400;

    @media (--640) {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    &__item {
        width:20%;
        padding: 10px 30px;

        @media (--640) {
            padding: 10px;
            width: auto;
            min-width: 65px;

            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                display: none;
            }
        }
    }

    & .Sorter_lbl {
        font-size: 13px;
        color: #000;
    }
}


.parking {
    font-family: 'Gilroy';

    &__tlt {
        font-size: 40px;
        font-family: 'Gilroy';
        font-weight: 400;
        letter-spacing: -0.6px;
        line-height: 1.2;
        margin-bottom: 70px;

        @media (max-width: 890px) {
            max-width: 500px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        &._small {
            width: 250px;
            height: 250px;
            left: -50px;
            bottom: -50px;
            top: auto;

            @media (max-width: 890px) {
                top: -210px;
                bottom: auto;
                left: auto;
                right: 40px;
            }

            @media (max-width: 767px) {
                width: 150px;
                height: 150px;
                right: 20px;
                top: auto;
                bottom: -20px;
            }
        }

        @media (max-width: 890px) {
            &:not(._small) {
                width: calc(100% + 80px);
                margin-left: -40px;

                @media (max-width: 767px) {
                    width: calc(100% + 40px);
                    margin-left: -20px;
                }
            }
        }
    }
}

.parking-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;

    @media (--890) {
        display: block;
    }

    &__block {
        min-height: 488px;

        &:first-child {
            width: 55%;
            padding-top: 55px;
            padding-right: 100px;
        }

        &:last-child {
            position: relative;
            width: 45%;
        }

        @media (--890) {
            min-height: 510px;

            &:first-child,
            &:last-child {
                width: 100%;
                padding: 0;
            }

            &:first-child {
                min-height: 0;
                margin-bottom: 40px;
            }

            &:last-child {
                z-index: 100;
            }
        }

        @media (--640) {
            min-height: 250px;
        }
    }
}

.parking-list {
    position: relative;
    padding-top: 40px;
    margin-bottom: 30px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 75px;
        height: 2px;
        background-color: #008fd5;
    }
}

.parking-banner {
    background: transparent url('../img/parking/parking3.jpg') 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 55px;
    width: calc(100% + 110px);
    margin-left: -55px;
    color: #fff;

    &__tlt {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 300;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    &__footer {
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @media(--640) {
            line-height: 1.4;
        }
    }

    @media(--mdMinus) {
        width: calc(100% + 80px);
        margin-left: -40px;
    }

    @media(--smMinus) {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    @media(--640) {
        padding: 30px 20px;
    }
}

.parking-benefits {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 30px;

    &__item {
        margin-right: 75px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__val {
        font-size: 87px;
        letter-spacing: -.7px;
        font-weight: 900;
    }

    &__percent {
        font-size: 50px;
    }

    &__key {
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.5px;
        max-width: 135px;
    }

    @media(--640) {
        display: block;

        &__item {
            display: flex;
            flex-direction: row;
            margin-right: 0;
            align-items: flex-end;
        }

        &__val {
            font-size: 77px;
            margin-right: 30px;
        }

        &__key {
            margin-bottom: 15px;
        }

        &__percent {
            font-size: 44px;
        }
    }
}

.link {
    transition: ease .3s all;
    display: inline-block;
    line-height: 1.2;
    color: #9a330c;
    text-decoration: none;
    border-bottom: solid 1px rgba(154, 51, 12, .5);

    &:hover {
        border-bottom-color: transparent;
    }
}

.parking-slider {
    .swiper-slide {
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;

        p {
            padding: 0;
        }

        @media (max-width: 890px) {
            p {
                max-width: 60%;
            }
        }

        @media (max-width: 767px) {
            p {
                max-width: 100%;
            }
        }
    }
}

.parking-slider-thumbs {
    margin-bottom: 30px;

    .swiper-slide {
        cursor: pointer;
        transition: ease .3s all;
        display: inline-block;
        width: auto;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 30px;
        border-bottom: solid 2px transparent;

        &.swiper-slide-thumb-active {
            cursor: text;
            border-bottom-color: #f59331;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 890px) {
        .swiper-wrapper {
            justify-content: center;

            @media (--640) {
                justify-content: flex-start;
            }
        }
    }
}

.parking-button {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #379a6c;
    }

    .button {
        position: relative;
        z-index: 100;
        width: 320px;
        margin: 0 auto;
        line-height: 50px;

        &:hover {
            background-color: #379a6c;
            text-decoration: underline;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 100%;
            top: 0;
            background-color: #fff;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }

    @media (--640) {
        &:before {
            display: none;
        }

        .button {
            width: calc(100% - 40px);
        }
    }
}

@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.parking-preloader {
    display:flex;
    margin-top:50px;
    justify-content: center;

    &__ring {
         position: relative;
         width: 60px !important;
         height: 60px !important;
         -webkit-transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);
         transform: translate(-30px, -30px) scale(0.3) translate(30px, 30px);

        & div {
              position: absolute;
              width: 160px;
              height: 160px;
              top: 20px;
              left: 20px;
              border-radius: 50%;
              border: 8px solid #000;
              border-color: #b51827 transparent #b51827 transparent;
              -webkit-animation: lds-double-ring 1s linear infinite;
              animation: lds-double-ring 1s linear infinite;

            &:nth-child(2) {
                 width: 140px;
                 height: 140px;
                 top: 30px;
                 left: 30px;
                 border-color: transparent #22282f transparent #22282f;
                 -webkit-animation: lds-double-ring_reverse 1s linear infinite;
                 animation: lds-double-ring_reverse 1s linear infinite;
            }
        }
    }
    &_disabled {
        display:none;
    }
}

.parking-choiceBld {
    display: flex;
    width: 40%;
    margin-bottom: 10px;

    @media (--mdMinus) {
        width: auto;
    }

    &__label {
        width: 50%;
        padding: 6px 30px 8px;
        margin-right: 15px;
        font: 17px/1.59 'Proxima Nova Bold';
        white-space: nowrap;

        @media (--mdMinus) {
            width: auto;
            margin-right: 0;
        }
        @media (--640) {
            padding-left: 0;
            font-size: 14px;
        }
    }

    & .ui-selectmenu-button {
        width: 135px;
        padding: 6px 30px 8px 15px;
        font: 17px/1.59 'Proxima Nova Regular';
        position: relative;
        z-index: 101;

        @media (--640) {
            font-size: 14px;
        }

        &:before {
            content: '';
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -3px;
            border: 5px solid transparent;
            border-top: 5px solid #000;
        }
        &:after {
            content: '';
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 0;
            height: 1px;
            background: #d8d8d8;
        }

        &-open:before {
            margin-top: -9px;
            transform: rotate(180deg);
        }
    }
}
.ui-selectmenu-open {

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: -41px;
        width: 100%;
        height: calc(100% + 41px);
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}
.ui-selectmenu-menu .ui-menu {
    padding-bottom: 0;
}
.ui-menu .ui-menu-item-wrapper {
    padding: 6px 35px 8px 15px;
    font: 17px/1.59 'Proxima Nova Regular';
    white-space: nowrap;

    @media (--640) {
        font-size: 14px;
    }

    &:hover {
        color: #000;
        background: #f3f3f4 !important;
    }
}
.ui-menu .ui-state-active, .ui-menu .ui-state-focus {
    margin: 0;
    color: #fff;
    background: #369a6c;
}