.technology {
    &_section {
        margin-bottom: 80px;

        &--mb {
            margin-bottom: 164px;

            @media (--smMinus) {
                margin-bottom: 100px;
            }
        }

        &--gray {
            position: relative;
            min-height: 880px;
            background-color: #ededed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 80px;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 430px;
                background: url("../img/technology/bg_2.jpg") no-repeat center bottom / cover;

                @media (--smMinus) {
                    background: none;
                }
            }

            @media (--991) {
                .technology_col-6--pl {
                    padding-left: 20px;
                }
                .technology_col-6--pt {
                    padding-top: 20px;
                }
            }

            @media (--smMinus) {
                img {
                    position: relative;
                    left: auto;
                    width: 100%;
                    height: auto;
                }

                .technology_col-6--pt {
                    padding-top: 0;
                }

                .technology_title,
                .technology_text {
                    color: #000;
                }
            }
        }
    }

    &_section-water {
        @media (--991) {
            .technology_col-6 {
                &:last-of-type {
                    order: -1;
                    margin-bottom: 55px;
                }
            }
            .technology_wrp--secOne {
                justify-content: flex-end;
            }
        }

        &.technology_section--mb {
            @media (--smMinus) {
                margin-bottom: 50px;
            }
        }
    }

    &_section-materials {
        @media (--smMinus) {
            margin-bottom: 0;
            .technology_col-6 {
                &:last-of-type {
                    order: -1;
                    margin-bottom: 55px;
                }
            }
        }
    }

    &_section-end {
        display: flex;
        align-items: flex-end;
        height: 470px;
        padding-bottom: 75px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("../img/technology/bg_3.jpg");

        @media (--xs) {
            display: none;
        }
    }

    &_section-end-mobile {
        display: none;

        @media (--xs) {
            display: block;
            position: relative;
            min-height: 860px;

            .technology_text {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }

    &_section-end-mobileImg {
        width: 100%;
        height: 470px;
        background-position: top center;
        background-size: cover;
        background-image: url("../img/technology/mobile/bd_3.jpg");
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_container {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @media (--md) {
            padding: 0 40px;
        }

        @media (--lg) {
            padding: 0 40px;
        }

        &--start {
            align-items: flex-start;
            @media (--md) {
                padding-bottom: 40px;
            }
            & .technology_col-6:first-child {
                position: relative;
                z-index: 100;
                overflow: visible;

                @media (--smMinus) {
                    margin-bottom: 0 !important;
                    max-height: 76vw;
                }

                @media (--md) {
                    margin-bottom: 0 !important;
                    max-height: 76vw;
                }
            }
        }

        &--row {
            @media (--991) {
                flex-direction: column;

                .technology_col-5 {
                    max-width: none;

                    &--pr {
                        padding-right: 0;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 55px;
                    }
                }

                .technology_col-6 {
                    max-width: none;

                    &--pt {
                        padding-top: 75px;
                    }

                    &--pr {
                        padding-right: 0;
                    }

                    &--pl {
                        padding-left: 0px;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 55px;
                    }
                }

                .technology_col-7 {
                    max-width: none;

                    &:not(:last-of-type) {
                        margin-bottom: 55px;
                    }
                }
            }
        }

        &--row-mobile {
            @media (--smMinus) {
                flex-direction: column;

                .technology_col-5 {
                    max-width: none;

                    &--pr {
                        padding-right: 0;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 55px;
                    }
                }

                .technology_col-6 {
                    max-width: none;

                    &--pt {
                        padding-top: 75px;
                    }

                    &--pr {
                        padding-right: 0;
                    }

                    &--pl {
                        padding-left: 0px;
                    }

                    &:not(:last-of-type) {
                        margin-bottom: 55px;
                    }
                }

                .technology_col-7 {
                    max-width: none;

                    &:not(:last-of-type) {
                        margin-bottom: 55px;
                    }
                }
            }
        }
    }

    &_title {
        font-family: Gilroy;
        font-size: 40px;
        letter-spacing: 1px;
        color: #0a0a0a;
        margin-bottom: 47px;

        &--small {
            font-size: 24px;
            margin-bottom: 25px;
        }

        &--center {
            text-align: center;

            @media (--991) {
                text-align: left;
            }
        }

        &--white {
            color: #fff;
        }

        @media (--smMinus) {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 30px;
        }
    }

    &_text {
        font-family: Gilroy;
        font-size: 16px;
        line-height: 1.63;
        color: #19191a;

        &--italic {
            font-size: 18px;
            font-weight: 300;
            font-style: italic;
            line-height: 1.5;
        }

        &--white {
            color: #fff;
        }

        &:not(:last-of-type) {
            margin-bottom: 35px;
        }

        @media (--smMinus) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &_wrp {
        position: relative;
        display: flex;

        &--row {
            flex-direction: column;
        }

        &--secOne {
            justify-content: flex-end;

            @media (--991) {
                justify-content: flex-start;
            }
        }
    }

    &_img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &_img1-secOne {
        width: 100%;
        max-width: 585px;
        height: 585px;
        background-image: url("../img/technology/01.jpg");

        @media (--991) {
            max-width: 554px;
            height: 260px;
            background-image: url("../img/technology/mobile/01.jpg");
        }

        @media (--smMinus) {
            max-width: 100%;
            height: 260px;
        }
    }

    &_img2-secOne {
        position: absolute;
        left: 0;
        bottom: -90px;
        width: 100%;
        max-width: 340px;
        height: 332px;
        background-image: url("../img/technology/02.jpg");

        @media (--991) {
            left: auto;
            right: 0;
            bottom: -120px;
        }

        @media (--smMinus) {
            width: 170px;
            height: 170px;
            right: auto;
            left: 20px;
            bottom: -40px;
        }
    }

    &_img1-secTwo {
        width: 100%;
        max-width: 585px;
        height: 400px;
        background-image: url("../img/technology/03.jpg");

        @media (--smMinus) {
            max-width: 100%;
            height: 260px;
        }
    }

    &_img1-secThree {
        width: 100%;
        max-width: 487px;
        height: 475px;
        background-image: url("../img/technology/04.jpg");

        @media (--991) {
            max-width: 585px;
            height: 260px;
            background-image: url("../img/technology/mobile/04.jpg");
        }

        @media (--smMinus) {
            max-width: 100%;
            height: 260px;
        }
    }

    &_img2-secThree {
        position: absolute;
        right: 0;
        bottom: -100px;
        width: 100%;
        max-width: 340px;
        height: 340px;
        background-image: url("../img/technology/05.jpg");

        @media (--991) {
            bottom: -120px;
        }

        @media (--smMinus) {
            width: 170px;
            height: 170px;
            right: auto;
            left: 20px;
            bottom: -40px;
        }
    }

    &_img1-secFour {
        width: 100%;
        max-width: 488px;
        height: 400px;
        background-image: url("../img/technology/06.jpg");

        @media (--991) {
            max-width: 585px;
            height: 260px;
            background-image: url("../img/technology/mobile/06.jpg");
        }

        @media (--smMinus) {
            max-width: 100%;
            height: 260px;
        }
    }

    &_img2-secFour {
        position: absolute;
        left: 0;
        bottom: -100px;
        width: 100%;
        max-width: 340px;
        height: 340px;
        background-image: url("../img/technology/07.jpg");

        @media (--991) {
            bottom: -120px;
        }

        @media (--smMinus) {
            width: 170px;
            height: 170px;
            right: auto;
            left: 20px;
            bottom: -40px;
        }
    }

    &_img1-secFive {
        width: 100%;
        max-width: 487px;
        height: 475px;
        background-image: url("../img/technology/08.jpg");

        @media (--991) {
            max-width: 585px;
            height: 260px;
            background-image: url("../img/technology/mobile/08.jpg");
        }

        @media (--smMinus) {
            max-width: 100%;
            height: 260px;
        }
    }

    &_img2-secFive {
        position: absolute;
        right: 0;
        bottom: -100px;
        width: 100%;
        max-width: 340px;
        height: 340px;
        background-image: url("../img/technology/09.jpg");

        @media (--991) {
            bottom: -120px;
        }

        @media (--smMinus) {
            width: 170px;
            height: 170px;
            right: auto;
            left: 20px;
            bottom: -40px;
        }
    }

    &_col-5 {
        max-width: 41.6%;
        width: 100%;

        &--pr {
            padding-right: 70px;
        }

        @media (--smMinus) {
            max-width: none;
        }
    }

    &_col-6 {
        max-width: 50%;
        width: 100%;
        z-index: 10;

        &--pt {
            padding-top: 45px;
        }

        &--pr {
            padding-right: 98px;
        }

        &--pl {
            padding-left: 90px;

            @media (--991) {
                padding-left: 40px;
            }
        }

        @media (--smMinus) {
            max-width: none;
        }
    }

    &_col-7 {
        max-width: 58.4%;
        width: 100%;

        @media (--smMinus) {
            max-width: none;
        }
    }

    &_bg-mobile {
        @media (--smMinus) {
            background: url("../img/technology/bg_2.jpg") no-repeat center bottom / cover;
            padding-bottom: 50px;
            margin-bottom: 45px;

            .technology_title,
            .technology_text {
                color: #fff;
            }
        }
    }
}
