{% set title = "Дневник стройки" %}
{% extends "layout.njk" %}

{% block content %}
<div class="page-404-wrap">
    <div class="wrapper">
        <div class="page-404">
            <div class="page-404__inner">
                <div class="page-404__row1">Ошибка</div>
                <div class="page-404__row2">404</div>
                <div class="page-404__text">
                    <p>Такой страницы не существует</p>
                    <p>Попробуйте перейти на <span class="br-mobile"></span> <a href="/">главную страницу</a></p>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/blocks/btn-call_gray.njk" %}
</div>


{% endblock %}

{% block page_bottom %}
{% endblock %}