{% set title = "Список акций" %}
{% extends "layout.njk" %}
{% block content %}

<section class="main-action-wrap">
    <div class="main-action-container">
        <div class="main-action-wrap__title">
            <span>Акции в феврале</span>
        </div>
        <div class="main-action">
            <div class="main-action__img">
                <img src="img/action/ac2.jpg" alt="">
            </div>
            <div class="main-action__info">
                <div class="main-action__time">до 31 марта 2019</div>
                <div class="main-action__title">Квартиры: беспроцентная рассрочка!</div>
                <div class="main-action__text">
                    <p>Только до марта 2019 </p>
                </div>
            </div>
            <a href="#" class="main-action__link"></a>
        </div>
    </div>
</section>
<section class="action-list">
    <div class="item-action-wrap">
        <div class="item-action">
            <div class="item-action__img">
                <img src="img/action/ac1.jpg" alt="">
            </div>
            <div class="item-action__info">
                <div class="item-action__time">акция бессрочная</div>
                <div class="item-action__title">Эталон – мой выбор!</div>
                <div class="item-action__text">Скидка 1% за видеоотзыв</div>
            </div>
            <a href="#" class="item-action__link"></a>
        </div>
    </div>
    <div class="item-action-wrap">
        <div class="item-action">
            <div class="item-action__img">
                <img src="img/action/ac3.jpg" alt="">
            </div>
            <div class="item-action__info">
                <div class="item-action__time">акция бессрочная</div>
                <div class="item-action__title">Программа Trade-in</div>
                <div class="item-action__text">Для тех, кто хочет улучшить свои жилищные условия.</div>
            </div>
            <a href="#" class="item-action__link"></a>
        </div>
    </div>
    <div class="item-action-wrap">
        <div class="item-action">
            <div class="item-action__img">
                <img src="img/action/ac4.jpg" alt="">
            </div>
            <div class="item-action__info">
                <div class="item-action__time">акция бессрочная</div>
                <div class="item-action__title">Паркинг: беспроцентная рассрочка</div>
                <div class="item-action__text">Приятный сюрприз при покупке квартиры.</div>
            </div>
            <a href="#" class="item-action__link"></a>
        </div>
    </div>
    <div class="item-action-wrap">
        <div class="item-action">
            <div class="item-action__img">
                <img src="img/action/ac5.jpg" alt="">
            </div>
            <div class="item-action__info">
                <div class="item-action__time">акция бессрочная</div>
                <div class="item-action__title">Первый взнос 0%</div>
                <div class="item-action__text">Скидка 1% за видеоотзыв</div>
            </div>
            <a href="#" class="item-action__link"></a>
        </div>
    </div>
</section>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}