{% set title = "Веб-камера" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Информация</a>
                <a href="mortgage.html" class="breadcrumbs__item breadcrumbs__item_active">Веб-камера</a>
            </div>
        </div>
    </section>

    <div class="camera">
        <section class="page__section">
            <div class="container">
                <div class="camera-list">
                    <div class="camera-list__item" data-camera>
                        <div class="camera-list__tlt">Веб-камера 1</div>
                        <div class="camera-list__iframe">
                            <iframe src="http://webcam.exdesign.ru/summer-garden-1/?500x300" frameborder="no" scrolling="no" allowfullscreen ></iframe>
                        </div>
                    </div>
                    <div class="camera-list__item" data-camera>
                        <div class="camera-list__tlt">Веб-камера 2</div>
                        <div class="camera-list__iframe">
                            <iframe src="http://webcam.exdesign.ru/summer-garden-2/?500x300" frameborder="no" scrolling="no" allowfullscreen ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block page_bottom %}
<script src="js/camera.js"></script>
{% endblock %}
