{% set title = "Коммерческая недвижимость" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="gallery-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="/commercial/" class="breadcrumbs__item breadcrumbs__item_active">Коммерческая недвижимость</a>
            </div>
            <h1 class="title-page">Коммерческая недвижимость</h1>
        </div>
    </section>

    <div class="container Commercial">
        <div class="news-detail__content" id="CommercialTabs">

            <div class="Commercial_tabs">
                <ul class="CommercialTabs">
                    <li><a href="#Tab-1">Продажа</a></li>
                    <li><a href="#Tab-2">Аренда</a></li>
                </ul>
                <a class="common-link Commercial_download" href="../files/estate-presentation.pdf" target="_blank" rel="noopener noreferrer">Загрузить презентацию{#Скачать презентацию по&nbsp;коммерческой недвижимости#}</a>
            </div>

            <div id="Tab-1" data-hash="Sale">
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 16</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>Тип</td>
                                <td>Площадь</td>
                                <td>Цена за м<sup>2</sup></td>
                                <td>Цена</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-12-16.5</td>
                                <td>118.6 м<sup>2</sup></td>
                                <td>85 000 р.</td>
                                <td>10 081 000 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-16-16.5</td>
                                <td>94 м<sup>2</sup></td>
                                <td>85 000 р.</td>
                                <td>7 990 000 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 17</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>Тип</td>
                                <td>Площадь</td>
                                <td>Цена за м<sup>2</sup></td>
                                <td>Цена</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-2-17.1</td>
                                <td>90.3 м<sup>2</sup></td>
                                <td>90 359 р.</td>
                                <td>8 159 499 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-9-17.2</td>
                                <td>69.6 м<sup>2</sup></td>
                                <td>90 671 р.</td>
                                <td>6 310 710 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-16-17.5</td>
                                <td>76.3 м<sup>2</sup></td>
                                <td>90 551 р.</td>
                                <td>6 909 111 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 18</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>Тип</td>
                                <td>Площадь</td>
                                <td>Цена за м<sup>2</sup></td>
                                <td>Цена</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-2-18</td>
                                <td>49 м<sup>2</sup></td>
                                <td>89 662 р.</td>
                                <td>4 393 449 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-1-18</td>
                                <td>43.8 м<sup>2</sup></td>
                                <td>86 752 р.</td>
                                <td>3 799 771 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-5-18</td>
                                <td>40.1 м<sup>2</sup></td>
                                <td>95 272 р.</td>
                                <td>3 820 409 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-7-18</td>
                                <td>31.7 м<sup>2</sup></td>
                                <td>94 126 р.</td>
                                <td>2 983 810 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-8-18</td>
                                <td>32.7 м<sup>2</sup></td>
                                <td>94 078 р.</td>
                                <td>3 076 375 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-9-18</td>
                                <td>33.1 м<sup>2</sup></td>
                                <td>95 322 р.</td>
                                <td>3 155 182 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-10-18</td>
                                <td>64.2 м<sup>2</sup></td>
                                <td>82 859 р.</td>
                                <td>5 319 570 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 19</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>Тип</td>
                                <td>Площадь</td>
                                <td>Цена за м<sup>2</sup></td>
                                <td>Цена</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-3-19</td>
                                <td>67 м<sup>2</sup></td>
                                <td>89 138 р.</td>
                                <td>5 972 271 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-4-19</td>
                                <td>32.2 м<sup>2</sup></td>
                                <td>94 102 р.</td>
                                <td>3 030 093 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-5-19</td>
                                <td>34.2 м<sup>2</sup></td>
                                <td>94 012 р.</td>
                                <td>3 215 223 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-6-19</td>
                                <td>59.7 м<sup>2</sup></td>
                                <td>84 179 р.</td>
                                <td>5 025 528 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-7-19</td>
                                <td>64.7 м<sup>2</sup></td>
                                <td>82 853 р.</td>
                                <td>5 360 614 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-8-19</td>
                                <td>42.9 м<sup>2</sup></td>
                                <td>89 805 р.</td>
                                <td>3 852 672 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-9-19</td>
                                <td>37.5 м<sup>2</sup></td>
                                <td>86 942 р.</td>
                                <td>3 260 348 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-10-19</td>
                                <td>55.9 м<sup>2</sup></td>
                                <td>90 294 р.</td>
                                <td>5 047 484 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-11-19</td>
                                <td>43.4 м<sup>2</sup></td>
                                <td>84 238 р.</td>
                                <td>3 655 958 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-12-19</td>
                                <td>60.7 м<sup>2</sup></td>
                                <td>90 729 р.</td>
                                <td>5 507 296 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 20</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>Тип</td>
                                <td>Площадь</td>
                                <td>Цена за м<sup>2</sup></td>
                                <td>Цена</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-2-20</td>
                                <td>56.1 м<sup>2</sup></td>
                                <td>91 069 р.</td>
                                <td>5 108 976 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-3-20</td>
                                <td>65.4 м<sup>2</sup></td>
                                <td>81 150 р.</td>
                                <td>5 307 257 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-4-20</td>
                                <td>37.9 м<sup>2</sup></td>
                                <td>83 959 р.</td>
                                <td>3 182 076 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-5-20</td>
                                <td>35 м<sup>2</sup></td>
                                <td>94 739 р.</td>
                                <td>3 315 892 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-6-20</td>
                                <td>35.7 м<sup>2</sup></td>
                                <td>91 573 р.</td>
                                <td>3 269 167 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-7-20</td>
                                <td>55.1 м<sup>2</sup></td>
                                <td>83 552 р.</td>
                                <td>4 603 721 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-8-20</td>
                                <td>41.5 м<sup>2</sup></td>
                                <td>90 626 р.</td>
                                <td>3 760 988 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-9-20</td>
                                <td>33.6 м<sup>2</sup></td>
                                <td>92 789 р.</td>
                                <td>3 117 741 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-11-20</td>
                                <td>34.8 м<sup>2</sup></td>
                                <td>92 739 р.</td>
                                <td>3 227 320 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-12-20</td>
                                <td>31.6 м<sup>2</sup></td>
                                <td>92 883 р.</td>
                                <td>2 935 107 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>В-10-20</td>
                                <td>33.1 м<sup>2</sup></td>
                                <td>92 812 р.</td>
                                <td>3 072 082 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.1-20.1</td>
                                <td>63.4 м<sup>2</sup></td>
                                <td>81 222 р.</td>
                                <td>5 149 522 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.2-20.1</td>
                                <td>40.9 м<sup>2</sup></td>
                                <td>83 059 р.</td>
                                <td>3 397 149 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.3-20.1</td>
                                <td>42.5 м<sup>2</sup></td>
                                <td>81 192 р.</td>
                                <td>3 450 690 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.4-20.1</td>
                                <td>41.3 м<sup>2</sup></td>
                                <td>80 812 р.</td>
                                <td>3 337 558 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.5-20.1</td>
                                <td>38.1 м<sup>2</sup></td>
                                <td>80 085 р.</td>
                                <td>3 051 246 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.6-20.1</td>
                                <td>36.4 м<sup>2</sup></td>
                                <td>81 801 р.</td>
                                <td>2 977 588 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.7-20.1</td>
                                <td>35.8 м<sup>2</sup></td>
                                <td>82 238 р.</td>
                                <td>2 944 144 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.8-20.1</td>
                                <td>32 м<sup>2</sup></td>
                                <td>81 160 р.</td>
                                <td>2 597 148 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.9-20.1</td>
                                <td>35.3 м<sup>2</sup></td>
                                <td>82 423 р.</td>
                                <td>2 909 562 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.15-20.1</td>
                                <td>33.4 м<sup>2</sup></td>
                                <td>80 682 р.</td>
                                <td>2 694 780 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.16-20.1</td>
                                <td>30.2 м<sup>2</sup></td>
                                <td>80 839 р.</td>
                                <td>2 441 340 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.17-20.1</td>
                                <td>51.4 м<sup>2</sup></td>
                                <td>80 991 р.</td>
                                <td>4 162 939 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.18-20.1</td>
                                <td>55.3 м<sup>2</sup></td>
                                <td>81 502 р.</td>
                                <td>4 507 100 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.10-20.1</td>
                                <td>30.6 м<sup>2</sup></td>
                                <td>80 817 р.</td>
                                <td>2 473 020 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.11-20.1</td>
                                <td>32.8 м<sup>2</sup></td>
                                <td>81 702 р.</td>
                                <td>2 679 849 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.12-20.1</td>
                                <td>61.6 м<sup>2</sup></td>
                                <td>81 245 р.</td>
                                <td>5 004 727 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.13-20.1</td>
                                <td>32 м<sup>2</sup></td>
                                <td>80 746 р.</td>
                                <td>2 583 900 р.</td>
                            </tr>
                            <tr>
                                <td>2 этаж</td>
                                <td>В-15.14-20.1</td>
                                <td>31.1 м<sup>2</sup></td>
                                <td>80 791 р.</td>
                                <td>2 512 620 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="Tab-2" data-hash="Rent">
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 1</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>№ помещения</td>
                                <td>Площадь</td>
                                <td>Цена м<sup>2</sup>/год</td>
                                <td>Цена в месяц</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>11</td>
                                <td>90.5 м<sup>2</sup></td>
                                <td>12 000 р.</td>
                                <td>90 500 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>3</td>
                                <td>59.30 м<sup>2</sup></td>
                                <td>12 000 р.</td>
                                <td>59 300 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="estates">
                    <div class="estate-container">
                        <p class="estate-container__title">
                            <strong>Корпус 16</strong>
                        </p>
                        <table class="estate-container__table">
                            <thead>
                            <tr>
                                <td>Этаж</td>
                                <td>№ помещения</td>
                                <td>Площадь</td>
                                <td>Цена м<sup>2</sup>/год</td>
                                <td>Цена в месяц</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 этаж</td>
                                <td>16</td>
                                <td>94 м<sup>2</sup></td>
                                <td>12 000 р.</td>
                                <td>94 000 р.</td>
                            </tr>
                            <tr>
                                <td>1 этаж</td>
                                <td>14</td>
                                <td>118.60 м<sup>2</sup></td>
                                <td>11 500 р.</td>
                                <td>113 658 р.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
<script src="js/commercial.js"></script>
{% endblock %}
