{% set title = "Контакты" %}
{% extends "layout.njk" %}
{% block content %}
<div class="contacts-page-wrapper">
    <div class="wrapper">
        <div class="contacts-page">
            <div class="contacts-wrap">
                <div class="contact-map"></div>
                <div class="contact-offices">
                    <div class="contact-offices__title">Офисы продаж</div>
                    <div class="contact-offices-types">
                        <ul>
                            <li>
                                <a href="#office-object" id="office-object-link" class="contact-offices-types__link">на объекте</a>
                            </li>
                            <li>
                                <a href="#office-team" id="office-object-link" class="contact-offices-types__link">Команда проекта</a>
                            </li>
                            <li>
                                <a href="#office-center" id="office-center-link" class="contact-offices-types__link">центральный</a>
                            </li>
                            <li>
                                <a href="#office-region" id="office-region-link" class="contact-offices-types__link">региональные</a>
                            </li>
                        </ul>

                        <div id="office-object" class="contact-offices-item contact-offices-item_type">

                            <div class="contact-offices-item__img" style="background-image: url('img/contacts/office-object-img.jpg')"></div>
                            <div class="contact-form-link">
                                <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                            </div>
                            <a href="" data-lat="55.83531559999999" data-lng="37.281612" class="contact-offices-item__accordionLink contact-offices-item__accordionLink_green"><span>Офис продаж на объекте</span></a>
                            <div id="object-office-1" class="contact-offices-item__type">
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Телефон: </span>+7 (495) 132-33-50</p>
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>г. Москва, Дмитровское шоссе, вл. 107
                                        Заезд в офис продаж через заправку
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы кассы: </span>Ежедневно с 09.00 до 21.00 (без перерыва)</p>
                                    <p><span class="contact-offices-item__text_bold">Проезд общественным транспортом: </span>
                                      уэн эталон
                                </div>
                            </div>
                            <a href="" data-lat="55.831941048929814" data-lng="37.275794389657605" class="contact-offices-item__accordionLink contact-offices-item__accordionLink_blue"><span>УЗН	&#171;Эталон&#187;</span></a>
                            <div id="object-office-2" class="contact-offices-item__type">
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Телефон: </span>+7 (495) 132-33-50</p>
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>г. Москва, Дмитровское шоссе, вл. 107
                                        Заезд в офис продаж через заправку
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы кассы: </span>Ежедневно с 09.00 до 21.00 (без перерыва)</p>
                                    <p><span class="contact-offices-item__text_bold">Проезд общественным транспортом: </span>
                                        ст. м. «Петровско-Разумовская», выход на Дмитровское шоссе,
                                        в сторону области Вы можете доехать на автобусе № 763, 763к, 167, 63 или на маршрутном такси № 134м, 735м, 179м, 167м, 665м. Остановка «Висхом», перейти на противоположную сторону.</p>
                                    в сторону области Вы можете доехать на автобусе № 763, 763к, 167, 63 или на маршрутном такси № 134м, 735м, 179м, 167м, 665м. Остановка «Висхом», перейти на противоположную сторону.</p>
                                    в сторону области Вы можете доехать на автобусе № 763, 763к, 167, 63 или на маршрутном такси № 134м, 735м, 179м, 167м, 665м. Остановка «Висхом», перейти на противоположную сторону.</p>
                                    в сторону области Вы можете доехать на автобусе № 763, 763к, 167, 63 или на маршрутном такси № 134м, 735м, 179м, 167м, 665м. Остановка «Висхом», перейти на противоположную сторону.</p>
                                </div>
                            </div>
                            <a href="" data-lat="55.831941048929814" data-lng="37.275794389657605"  class="contact-offices-item__accordionLink contact-offices-item__accordionLink_orange"><span>ООО &#171;СПМ — жилстрой&#187;</span></a>
                            <div id="object-office-3" class="contact-offices-item__type">
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Телефон: </span>+7 (495) 132-33-50</p>
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>г. Москва, Дмитровское шоссе, вл. 107
                                        Заезд в офис продаж через заправку
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы кассы: </span>Ежедневно с 09.00 до 21.00 (без перерыва)</p>
                                    <p><span class="contact-offices-item__text_bold">Проезд общественным транспортом: </span>
                                       жилстрой
                                </div>
                            </div>


                            <div class="office-object-links">
                                <a href="" class="office-object-links__item office-object-links__item_office1" data-office="object-office-1" data-lat="55.835906" data-lng="37.282262" data-icon="/img/contacts/marker-object.png">офис на объекте</a>
                                <a href="" class="office-object-links__item office-object-links__item_office2" data-office="object-office-2" data-lat="55.832033" data-lng="37.275916" data-icon="/img/contacts/marker-orange.png">УЭН "Эталон"</a>
                                <a href="" class="office-object-links__item office-object-links__item_office3" data-office="object-office-3" data-lat="55.832068" data-lng="37.275881" data-icon="/img/contacts/marker-blue.png">СМП-Жилстрой</a>
                            </div>
                        </div>

                        <div id="office-team" class="contact-offices-item">
                            <div class="contact-team" data-team>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/markovich.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Маркович Игорь</div>
                                        <a href="mailto:igor.markovich@etalongroup.com" class="contact-team-item__mail">igor.markovich@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/sapon.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Сапон Артем</div>
                                        <a href="mailto:Artem.Sapon@etalongroup.com" class="contact-team-item__mail">Artem.Sapon@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/esina.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Есина Алина</div>
                                        <a href="mailto:Alina.Esina@etalongroup.com" class="contact-team-item__mail">Alina.Esina@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/no_foto_m.svg" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Сыма Денис</div>
                                        <a href="mailto:Alina.Esina@etalongroup.com" class="contact-team-item__mail">Denis.Syma@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/antonov.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Антонов Алексей</div>
                                        <a href="mailto:Alexey.Antonov@etalongroup.com" class="contact-team-item__mail">Alexey.Antonov@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/no_foto_w.svg" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Морозкин Александр</div>
                                        <a href="mailto:Alexander.Morozkin@etalongroup.com" class="contact-team-item__mail">Alexander.Morozkin@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/popov.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Попов Константин</div>
                                        <a href="mailto:konstantin.popov@etalongroup.com" class="contact-team-item__mail">konstantin.popov@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/urlov.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Юрлов Сергей</div>
                                        <a href="mailto:sergey.yurlov@etalongroup.com" class="contact-team-item__mail">sergey.yurlov@etalongroup.com</a>
                                    </div>
                                </div>
                                <div class="contact-team-item">
                                    <div class="contact-team-item__img">
                                        <img src="img/team/shabanova.png" alt="">
                                    </div>
                                    <div class="contact-team-item__txt">
                                        <div class="contact-team-item__name">Шабанова Татьяна</div>
                                        <a href="mailto:Tatyana.Shabanova@etalongroup.com" class="contact-team-item__mail">Tatyana.Shabanova@etalongroup.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="office-center" class="contact-offices-item">
                            <div class="contact-offices-item__img" style="background-image: url('img/contacts/office-center-img.jpg')"></div>
                            <div id="office-1" class="contact-offices-item__type">
                                <div class="contact-form-link">
                                    <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                                </div>
                                <div class="contact-offices-item__title contact-offices-item__title_orange">Центральный офис продаж</div>
                                <div class="contact-offices-item__text">{#contact-offices-item__text_noImg#}
                                    <p><span class="contact-offices-item__text_bold">Телефон: </span><span class="phone">+7 495 324-44-21</span></p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы: </span>пн.-пт. 9:00–20:00 (без перерыва на обед) сб., вс. 10:00–17:00</p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы кассы: </span>пн-пт. 09:00-19:30 (перерыв на обед с 13-14) сб. 10:00-16:30 (без перерыва на обед) вс. выходной</p>
                                </div>
                            </div>

                            <div id="office-2" class="contact-offices-item__type" style="display: none;">
                                <div class="contact-form-link">
                                    <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                                </div>
                                <div class="contact-offices-item__title contact-offices-item__title_green">Отдел оформления и регистрации недвижимого имущества</div>
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>127051, г. Москва, Цветной бульвар, д. 26</p>
                                    <p><span class="contact-offices-item__text_bold">Метро: </span>ветной бульвар
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы: </span>пн.-пт. 09:00-18:00 (перерыв на обед с 13:00-14:00)</p>
                                    <p><span class="contact-offices-item__text_bold">Запись на прием осуществляется по тел.: </span>8 (495) 685-93-06 (консультации по вопросам оформления прав собственности) пн.-пт. 09:00-18:00 (перерыв на обед 13:00-14:00)</p>
                                </div>
                            </div>

                            <div id="office-3" class="contact-offices-item__type" style="display: none;">
                                <div class="contact-form-link">
                                    <a href="#" data-sidebar-toggle="contact-form">Помогите нам стать лучше</a>
                                </div>
                                <div class="contact-offices-item__title contact-offices-item__title_blue">Отдел постпродажного обслуживания</div>
                                <div class="contact-offices-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span>г. Москва, Цветной бульвар 30 стр.1
                                        Деловой центр «Цветной 30» (Группа «Эталон»)</p>
                                    <p><span class="contact-offices-item__text_bold">Режим работы: </span>Пн -пт. 8.30 – 19.00
                                        Суб. 10.00 – 17.00 (без перерыва на обед)
                                    </p>
                                    <p><span class="contact-offices-item__text_bold">Запись на прием осуществляется по тел.: </span>
                                        (495) 378-88-88</p>

                                </div>
                            </div>
                            <div class="office-center-links">
                                <a href="" class="office-center-links__item" data-office="office-1" data-lat="55.770851" data-lng="37.622462" data-icon="/img/contacts/marker-orange.png">Центральный офис</a>
                                <a href="" class="office-center-links__item" data-office="office-2" data-lat="55.771305" data-lng="37.622914" data-icon="/img/contacts/marker-green.png">Отдел оформления</a>
                                <a href="" class="office-center-links__item" data-office="office-3" data-lat="55.772197" data-lng="37.622830" data-icon="/img/contacts/marker-blue.png">Отдел постпродажного обслуживания</a>
                            </div>
                        </div>
                        <div id="office-region" class="contact-offices-item">
                            <div class="region-list">
                                <div class="region-list__col">
                                    <a href="" class="region-list__link" data-city-link="city-1" data-lat="64.546652" data-lng="40.519613"><span>Архангельск</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-2" data-lat="43.1182292" data-lng="131.888609"><span>Владивосток</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-3" data-lat="56.836222" data-lng="60.614485"><span>Екатеринбург</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-4" data-lat="52.271471" data-lng="104.318589"><span>Иркутск</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-5" data-lat="45.037001" data-lng="38.975646"><span>Краснодар</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-6" data-lat="59.567286" data-lng="150.809539"><span>Магадан</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-7" data-lat="68.969755" data-lng="33.072690"><span>Мурманск</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-8" data-lat="60.939928" data-lng="76.556283"><span>Нижневартовск</span></a>

                                </div>
                                <div class="region-list__col">
                                    <a href="" class="region-list__link" data-city-link="city-9" data-lat="66.084846" data-lng="76.660717"><span>Новый Уренгой</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-10" data-lat="69.346190" data-lng="88.204679"><span>Норильск</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-11" data-lat="53.054338" data-lng="158.638777"><span>Петропавловск-Камчатский</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-12" data-lat="61.254670" data-lng="73.386277"><span>Сургут</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-13" data-lat="48.468809" data-lng="135.063788"><span>Хабаровск</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-14" data-lat="46.958149" data-lng="142.730903"><span>Южно-Сахалинск</span></a>
                                    <a href="" class="region-list__link" data-city-link="city-15" data-lat="62.029324" data-lng="129.727776"><span>Якутск</span></a>
                                </div>
                            </div>
                            <div class="region-item" id="city-1">
                                <div class="region-item__title">Архангельск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-2">
                                <div class="region-item__title">Владивосток</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-3">
                                <div class="region-item__title">Екатеринбург</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-4">
                                <div class="region-item__title">Иркутск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-5">
                                <div class="region-item__title">Краснодар</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-6">
                                <div class="region-item__title">Магадан</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-7">
                                <div class="region-item__title">Мурманск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-8">
                                <div class="region-item__title">Нижневартовск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-9">
                                <div class="region-item__title">Новый Уренгой</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-10">
                                <div class="region-item__title">Норильск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-11">
                                <div class="region-item__title">Петропавловск-Камчатский</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-12">
                                <div class="region-item__title">Сургут</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-13">
                                <div class="region-item__title">Хабаровск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-14">
                                <div class="region-item__title">Южно-Сахалинск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                            <div class="region-item" id="city-15">
                                <div class="region-item__title">Якутск</div>
                                <div class="region-item__text">
                                    <p><span class="contact-offices-item__text_bold">Адрес: </span> <br>
                                        683000, г. Петропавловск-Камчатский, проспект 50 лет Октября, дом 14/2, ДЦ «Орион», 3 этаж</p>
                                    <p><span class="contact-offices-item__text_bold">Тел:</span>(4152) 26-00-36</p>
                                    <p><span class="contact-offices-item__text_bold">График работы:</span> <br>
                                        Пн – Пт с 10:00 до 19:00 (без перерыва)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="close-region-office"><img src="img/arrow_news_back.svg" alt=""></button>
                </div>
            </div>
            <section class="contacts-header">
                <div class="breadcrumbs">
                    <a href="#" class="breadcrumbs__item">Главная</a>
                    <a href="#" class="breadcrumbs__item">Информация</a>
                    <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Контакты</a>
                </div>
                <div class="contacts-header-inner">
                    <div class="title-page">Контакты</div>
                    <div class="contacts-header-links">
                        <a data-tomap="yandex" href="http://maps.yandex.ru/?text=55.835936,37.282224" class="contacts-header-links__item contacts-header-links__item_ynav">
                            <span class="contacts-header-links__desktop">Маршрут в Яндекс-Навигаторе</span>
                            <span class="contacts-header-links__tablet">Навигатор</span>
                        </a>
                        <a data-tomap="yandex-nav" href="yandexnavi://build_route_on_map?lat_to=55.835936&lon_to=37.282224" class="contacts-header-links__item contacts-header-links__item_ynav _mob">
                            <span class="contacts-header-links__desktop">Маршрут в Яндекс-Навигаторе</span>
                            <span class="contacts-header-links__tablet">Навигатор</span>
                        </a>
                        <a data-tomap="yandex" href="http://maps.yandex.ru/?text=55.835936,37.282224" class="contacts-header-links__item contacts-header-links__item_ymap">
                            <span class="contacts-header-links__desktop">Смотреть на Яндекс-Картах</span>
                            <span class="contacts-header-links__tablet">Яндекс-карты</span>
                        </a>
                        <a data-tomap="google" href="https://maps.google.com/?daddr=55.835936,37.282224" class="contacts-header-links__item contacts-header-links__item_gmap">
                            <span class="contacts-header-links__desktop">Смотреть на Google-Картах</span>
                            <span class="contacts-header-links__tablet">Google-Карты</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>

    {% include "includes/blocks/btn-call.njk" %}
</div>

{% endblock %}
{% block page_bottom %}
<script src="js/contacts.js"></script>
{% include "includes/blocks/contact-form.njk" %}
{% endblock %}
