{% set title = "Дневник стройки" %}
{% extends "layout.njk" %}

{% block content %}
<section class="building-process-header">
    <div class="breadcrumbs">
        <a href="#" class="breadcrumbs__item">Главная</a>
        <a href="#" class="breadcrumbs__item">Информация</a>
        <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Ход строительства</a>
    </div>
    <div class="building-process-header__links">
        <a href="javascript:;" class="building-process__webcam" data-src="#webcam-modal">Веб-камера</a>
        <a href="javascript:;" class="building-process__panorama" data-src="#panorama-modal">Панорама</a>
    </div>
</section>

<section class="slider-months-wrap">
    <div class="slider-months-list swiper-container">
        <div class="swiper-wrapper">
            <div class="slider-months-list__item swiper-slide">
                <div class="slider-months swiper-container">
                    <div class="swiper-wrapper">
                        <div class="slider-months-slide swiper-slide" data-hash="1">
                            <div class="slider-months-slide__content" style="background-image: url('img/building-process/slider1.jpg')">
                                <div class="slider-months-fraction">
                                    <span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">3</span>
                                </div>
                                <div class="slider-months-slide__descr">Начальная школа и встроенный детский сад</div>
                            </div>
                        </div>
                        <div class="slider-months-slide swiper-slide" data-hash="2">
                            <div class="slider-months-slide__content" style="background-image: url('img/building-process/slider2.jpg')">
                                <div class="slider-months-fraction">
                                    <span class="swiper-pagination-current">2</span> / <span class="swiper-pagination-total">3</span>
                                </div>
                                <div class="slider-months-slide__descr">Начальная школа и встроенный детский сад</div>
                            </div>
                        </div>
                        <div class="slider-months-slide swiper-slide" data-hash="3">
                            <div class="slider-months-slide__content" style="background-image: url('img/building-process/slider2.jpg')">
                                <div class="slider-months-fraction">
                                    <span class="swiper-pagination-current">3</span> / <span class="swiper-pagination-total">3</span>
                                </div>
                                <div class="slider-months-slide__descr">Начальная школа и встроенный детский сад</div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-months__title">Февраль 2018</div>
                    <div class="slider-months-fraction"></div>
                    <div class="slider-months-nav">
                        <div class="slider-months-nav__next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16" viewBox="0 0 35 16"><path fill="#ffffff" d="M34.5 7L27.6.1c-.2-.2-.7 0-1.1.4-.4.4-.6.9-.4 1.1L31.5 7H.5c-.3 0-.5.2-.5.5v1c0 .3.2.5.5.5h31l-5.4 5.4c-.2.2 0 .7.4 1.1.4.4.9.6 1.1.4L34.5 9c.3 0 .5-.2.5-.5v-1c0-.3-.2-.5-.5-.5z"/></svg>
                        </div>
                        <div class="slider-months-nav__prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="16" viewBox="0 0 35 16"><path fill="#ffffff" d="M.5 7L7.4.1c.2-.2.7 0 1.1.4.4.4.6.9.4 1.1L3.5 7h31c.3 0 .5.2.5.5v1c0 .3-.2.5-.5.5h-31l5.4 5.4c.2.2 0 .7-.4 1.1-.4.4-.9.6-1.1.4L.5 9C.2 9 0 8.8 0 8.5v-1c0-.3.2-.5.5-.5z"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="slider-thumbs-months swiper-container">
    <div class="swiper-wrapper">
        <div class="slider-thumbs-months__slide swiper-slide">
            <div class="slider-thumbs-months__content">
                <div class="slider-thumbs-months__img" style="background-image: url('img/building-process/thumb1.jpg')"></div>
                <div class="slider-thumbs-months__year">Март</div>
            </div>
            <a href="/building-process.html" class="slider-thumbs-months__link"></a>
        </div>
        <div class="slider-thumbs-months__slide swiper-slide is-selected">
            <div class="slider-thumbs-months__content">
                <div class="slider-thumbs-months__img" style="background-image: url('img/building-process/thumb2.jpg')"></div>
                <div class="slider-thumbs-months__year">Февраль</div>
            </div>
            <a href="/diary-album2.html" class="slider-thumbs-months__link"></a>
        </div>
        <div class="slider-thumbs-months__slide swiper-slide">
            <div class="slider-thumbs-months__content">
                <div class="slider-thumbs-months__img" style="background-image: url('img/building-process/thumb3.jpg')"></div>
                <div class="slider-thumbs-months__year">Январь</div>
            </div>
            <a href="/diary-album3.html" class="slider-thumbs-months__link"></a>
        </div>
        <div class="slider-thumbs-months__slide swiper-slide">
            <div class="slider-thumbs-months__content">
                <div class="slider-thumbs-months__img" style="background-image: url('img/building-process/thumb4.jpg')"></div>
                <div class="slider-thumbs-months__year">Декабрь <br> 2017</div>
            </div>
            <a href="/diary-album4.html" class="slider-thumbs-months__link"></a>
        </div>
    </div>
</div>

<div style="display: none;" id="panorama-modal" class="panorama-modal">
    <button data-fancybox-close class="close-gallery"><img src="img/arrow_slide_back.svg" alt=""></button>
</div>

<div style="display: none;" id="webcam-modal" class="webcam-modal">
    <div class="webcam-modal-inner">
        <div id="tabs">
            <ul class="webcam-modal-tabs-nav">
                <li>
                    <a class="webcam-modal-tabs-nav__anchor" href="#tabs-1">Веб-камера 1</a>
                </li>
                <li>
                    <a class="webcam-modal-tabs-nav__anchor" href="#tabs-2">Веб-камера 2</a>
                </li>
            </ul>
            <div id="tabs-1">
                <img src="img/building-process/webcam.jpg" alt="">
            </div>
            <div id="tabs-2">
                <img style="opacity: 0.5" src="img/building-process/webcam.jpg" alt="">
            </div>
            <button data-fancybox-close class="close-gallery close-gallery_webcam"></button>
        </div>
    </div>
    <button data-fancybox-close class="close-gallery  close-gallery_mobile"><img src="img/arrow_slide_back.svg" alt=""></button>
</div>
{% endblock %}

{% block page_bottom %}
<script src="js/building-process.js"></script>
{% endblock %}