{% set title = "Корпус 2а" %}
{% extends "layout.njk" %}

{% block content %}
<div class="floor">
    <nav class="TopNav">
        <div class="TopNav_inner">
            <div class="TopNav_leaf TopNav_leaf-active"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
            <div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
            <div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
            <div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
        </div>
    </nav>
	<div class="floor__head">
		<a href="floor.html" class="floor__back">
			<div class="floor__back-arrow"></div>
			<span>Вернуться</span>
		</a>
		<div class="floor__title">Корпус <span>2а</span></div>
		<div class="floor__number">Этаж</div>
	</div>
	<div class="floor__main">
		<div class="floor__info">
			<div class="floor__section">
				<a href="#" class="floor__section-link floor__section-link--prev">
					{% include "includes/svg/arrow.svg" %}
				</a>
				<div class="floor__current">
					<span>3</span>
					<div>секция</div>
				</div>
				<a href="#" class="floor__section-link floor__section-link--next">
					{% include "includes/svg/arrow.svg" %}
				</a>
			</div>
			<div class="floor__compass">
				{% include "includes/svg/compass.svg" %}
			</div>
			<div class="floor__scheme">
			    <div class="floor__scheme-text floor__scheme-text--vertical">дмитровское ш.</div>
			    {% include "includes/svg/blds_mini_plan.svg" %}
			    <div class="floor__scheme-text">яхромский пр.</div>
			</div>
		</div>

		<div class="floor__plan">
			<svg version="1.1" id="floor-plan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1186.6 171.9 561.4 498" style="enable-background:new 1186.6 171.9 561.4 498;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#F7941E;}
					.st1{fill:#0DB14B;}
					.st2{opacity:0.2;}
					.st3{fill:none;stroke:#2B2634;stroke-miterlimit:10;}
					.st4{fill:#2B2634;}
				</style>
				<g class="floor__plan-item" id="floor__plan-1" data-url="/flat.html">
					<polygon class="st0" points="1212,378.9 1212,205.9 1219,205.9 1219,175.9 1239,175.9 1239,205.9 1292,205.9 1292,235.9 
						1335,235.9 1335,225.9 1302,225.9 1302,200.9 1372,200.9 1372,393.9 1258,393.9 1258,378.9 	"/>
				</g>
				<g class="floor__plan-item" id="floor__plan-2" data-url="/flat.html">
					<polygon class="st0" points="1375,200.9 1375,393.9 1489,393.9 1489,378.9 1535,378.9 1535,205.9 1455,205.9 1455,235.9 
						1412,235.9 1412,225.9 1445,225.9 1445,200.9 	"/>
				</g>
				<g class="floor__plan-item" id="floor__plan-3" data-url="/flat.html">
					<polygon class="st1" points="1594,393.9 1594,436.9 1701,436.9 1701,352.9 1735,352.9 1735,235.9 1653,235.9 1653,225.9 
						1740,225.9 1740,200.9 1628,200.9 1628,205.9 1569,205.9 1569,175.9 1549,175.9 1549,205.9 1542,205.9 1542,393.9 	"/>
				</g>
				<g class="floor__plan-item" id="floor__plan-4" data-url="/flat.html">
					<polygon class="st1" points="1460,443.9 1460,635.9 1672,635.9 1672,571.9 1682,571.9 1682,640.9 1706,640.9 1706,538.9 
						1701,538.9 1701,443.9 	"/>
				</g>
				<g class="floor__plan-item" id="floor__plan-5" data-url="/flat.html">
					<polygon class="st1" points="1212,443.9 1212,640.9 1284,640.9 1284,635.9 1383,635.9 1383,665.9 1403,665.9 1403,635.9 
						1453,635.9 1453,443.9 	"/>
				</g>
				<g id="plan">
					<g id="plan_x5F_20" class="st2">
						<g>
						</g>
					</g>
					<g>
						<path class="st4" d="M1573,195.9v-24h-28v24h-302v-24h-28v24h-15c-0.2,3.3-0.4,6.7-0.5,10h5.4v133v3v37c0,0,0,4.7,0,7h46v15h39v-7
							h-32v-31h-3v16h-43v-37h43v4h3v-4h12v-3h-58v-133h7v-30h20v30h53v133h-4v3h11v-3h-4v-103h40v-10h-33v-25h70v25h-21v10h19v86h-52
							v17h-3v3h3v6h3v-23h49v52h-49v-13h-3v30h-4v7h119v-7h-4v-30h-3v13h-49v-52h49v23h3v-23h2v-3h-54v-86h19v-10h-21v-25h70v25h-33v10
							h40v86h-4v3h11v-3h-4v-116h80v116h-58v3h12v16h3v-16h43v54h-43v-21h-3v36h-32v7h39v-15h39v15h52v5h7v-48h-3v17h-49v-56h49v22h3
							v-22h5v-3h-57v-110h7v-30h20v30h49v30h4v80h-5v3h5v3h3v-86h11v-10h-8v-25h112v25h-87v10h48v110h-76v-4h-3v23h3v-16h76v88h-76v-55
							h-3v55h-28v-8h-7v8h-45v7h8v19h3v-19h38v51h-38v-16h-3v19h56v8h3v-11h-15v-51h107v85h-92v-4h-3v4h-4v3h70v22h10v-15h24v102h-24
							v-69h-10v64h-94v-104h4v-3h-32v3h25v104h-115v-96h52v-8h3v-3h-3v-3h-3v11h-37v-32h37v4h3v-23h-3v16h-37v-34h-12v-24h49v25h3v-25h6
							v-7h-149v7h32v25h3v-25h49v24h-12v34h-37v-16h-3v23h3v-4h37v32h-37v-11h-3v11h-6v3h58v96h-50v30h-20v-30h-9v-96h3v-3h-3v-46h-34v3
							h31v142h-77v-142h27v-3h-27v-11h-3v126h-50v10h43v25h-69v-25h8v-10h-11v-162h79v17h3v-17h51v-7h-140v209h174v24h28v-24h304v-283
							h34v-167H1573z M1242,195.9h-2v-21h-22v21h-2v-23h26V195.9z M1280,204.9h-37v-4h37V204.9z M1280,199.9h-37v-3h37V199.9z
							 M1306,226.9h28v3h-28V226.9z M1306,230.9h28v4h-28V230.9z M1350,393.9h-29v-14h29V393.9z M1370,393.9h-17v-14h17V393.9z
							 M1372,199.9h-70v-3h70V199.9z M1397,379.9h29v14h-29V379.9z M1377,379.9h17v14h-17V379.9z M1441,234.9h-28v-4h28V234.9z
							 M1441,229.9h-28v-3h28V229.9z M1445,199.9h-70v-3h70V199.9z M1528,204.9h-39v-4h39V204.9z M1528,199.9h-39v-3h39V199.9z
							 M1562,377.9h29v16h-29V377.9z M1559,377.9v16h-17v-16H1559z M1572,195.9h-2v-21h-22v21h-2v-23h26V195.9z M1611,204.9h-38v-4h38
							V204.9z M1611,199.9h-38v-3h38V199.9z M1684,234.9h-30v-4h30V234.9z M1684,229.9h-30v-3h30V229.9z M1460,470.9h9v46h-9V470.9z
							 M1460,519.9h9v17h-9V519.9z M1270,614.9h-28v-3h28V614.9z M1270,610.9h-28v-4h28V610.9z M1284,644.9h-69v-3h69V644.9z
							 M1361,644.9h-39v-3h39V644.9z M1361,640.9h-39v-4h39V640.9z M1406,668.9h-26v-23h2v21h22v-21h2V668.9z M1444,644.9h-37v-3h37
							V644.9z M1444,640.9h-37v-4h37V640.9z M1453,536.9h-9v-17h9V536.9z M1453,516.9h-9v-46h9V516.9z M1526,644.9h-39v-3h39V644.9z
							 M1526,640.9h-39v-4h39V640.9z M1609,644.9h-25v-3h25V644.9z M1609,640.9h-25v-4h25V640.9z M1677,610.9h-4v-38h4V610.9z
							 M1681,610.9h-3v-38h3V610.9z M1702,379.9h3v39h-3V379.9z M1702,498.9v-39h4v39H1702z M1710,644.9h-28v-3h25v-103h3V644.9z
							 M1710,498.9h-3v-39h3V498.9z M1710,418.9h-4v-39h4V418.9z M1735,352.9h-27v-117h27V352.9z M1744,225.9h-3v-26h-113v-3h116V225.9z
							"/>
					</g>
					<g>
						<line class="st3" x1="1288.5" y1="339.4" x2="1274.5" y2="325.4"/>
						<line class="st3" x1="1298.5" y1="339.4" x2="1312.5" y2="325.4"/>
						<line class="st3" x1="1255.5" y1="345.4" x2="1241.5" y2="359.4"/>
						<line class="st3" x1="1300.5" y1="380.4" x2="1314.5" y2="394.4"/>
						<line class="st3" x1="1351.5" y1="235.4" x2="1337.5" y2="249.4"/>
						<line class="st3" x1="1334.5" y1="361.4" x2="1320.5" y2="347.4"/>
						<line class="st3" x1="1218.5" y1="205.4" x2="1232.5" y2="219.4"/>
						<line class="st3" x1="1458.5" y1="322.4" x2="1472.5" y2="308.4"/>
						<line class="st3" x1="1448.5" y1="322.4" x2="1434.5" y2="308.4"/>
						<line class="st3" x1="1491.5" y1="340.4" x2="1505.5" y2="354.4"/>
						<line class="st3" x1="1446.5" y1="380.4" x2="1432.5" y2="394.4"/>
						<line class="st3" x1="1395.5" y1="235.4" x2="1409.5" y2="249.4"/>
						<line class="st3" x1="1412.5" y1="361.4" x2="1426.5" y2="347.4"/>
						<line class="st3" x1="1617.5" y1="316.4" x2="1603.5" y2="302.4"/>
						<line class="st3" x1="1624.5" y1="342.4" x2="1638.5" y2="328.4"/>
						<line class="st3" x1="1591.5" y1="340.4" x2="1577.5" y2="354.4"/>
						<line class="st3" x1="1607.5" y1="415.4" x2="1593.5" y2="429.4"/>
						<line class="st3" x1="1635.5" y1="235.4" x2="1649.5" y2="249.4"/>
						<line class="st3" x1="1548.5" y1="205.4" x2="1562.5" y2="219.4"/>
						<line class="st3" x1="1638.5" y1="378.4" x2="1624.5" y2="364.4"/>
						<line class="st3" x1="1566.5" y1="465.4" x2="1552.5" y2="479.4"/>
						<line class="st3" x1="1622.5" y1="511.4" x2="1608.5" y2="525.4"/>
						<line class="st3" x1="1509.5" y1="468.4" x2="1495.5" y2="482.4"/>
						<line class="st3" x1="1509.5" y1="508.4" x2="1495.5" y2="522.4"/>
						<line class="st3" x1="1550.5" y1="531.4" x2="1536.5" y2="545.4"/>
						<line class="st3" x1="1531.5" y1="457.4" x2="1517.5" y2="443.4"/>
						<line class="st3" x1="1658.5" y1="567.4" x2="1672.5" y2="553.4"/>
						<line class="st3" x1="1528.5" y1="545.4" x2="1514.5" y2="531.4"/>
						<line class="st3" x1="1581.5" y1="531.4" x2="1595.5" y2="545.4"/>
						<line class="st3" x1="1320.5" y1="493.4" x2="1334.5" y2="507.4"/>
						<line class="st3" x1="1403.5" y1="468.4" x2="1417.5" y2="482.4"/>
						<line class="st3" x1="1403.5" y1="508.4" x2="1417.5" y2="522.4"/>
						<line class="st3" x1="1376.5" y1="539.4" x2="1390.5" y2="553.4"/>
						<line class="st3" x1="1358.5" y1="457.4" x2="1344.5" y2="443.4"/>
						<line class="st3" x1="1222.5" y1="606.4" x2="1236.5" y2="592.4"/>
						<line class="st3" x1="1382.5" y1="636.4" x2="1396.5" y2="622.4"/>
						<line class="st3" x1="1291.5" y1="460.4" x2="1277.5" y2="474.4"/>
					</g>
				</g>
			</svg>
			<script>
					window.floorTolltips = [
						{
							"id": 1,
							"num": 27,
							"rooms": 1,
							"area": '23,4',
							"price": '7 950 000',
						},
						{
							"id": 2,
							"num": 28,
							"rooms": 1,
							"area": '39,7',
							"price": '6 990 000',
						},
						{
							"id": 3,
							"num": 29,
							"rooms": 3,
							"area": '94,3',
							"price": '8 850 000',
						},
						{
							"id": 4,
							"num": 30,
							"rooms": 3,
							"area": '61,5',
							"price": '16 900 000',
						},
						{
							"id": 5,
							"num": 31,
							"rooms": 6,
							"area": '151,5',
							"price": '169 000 000',
						}
					];
				</script>
		</div>

		<div class="floor__select">
			<ul>
				<li class="floor__select-item floor__select-item--more">
					<a href="">21</a>
				</li>
				<li class="floor__select-item floor__select-item--active">
					<a href="">20</a>
				</li>
				<li class="floor__select-item">
					<a href="">19</a>
				</li>
				<li class="floor__select-item">
					<a href="">18</a>
				</li>
				<li class="floor__select-item">
					<a href="">17</a>
				</li>
				<li class="floor__select-item">
					<a href="">16</a>
				</li>
				<li class="floor__select-item">
					<a href="">15</a>
				</li>
				<li class="floor__select-item floor__select-item--more">
					<a href="">14</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="floor__text">Резерв не фиксирует стоимость и условия оплаты. Цена с учетом скидок</div>
</div>
{% endblock %}


{% block page_bottom %}
<script src="js/floor.js"></script>
{% endblock %}