{% set title = "Квартиры с отделкой" %}
{% extends "layout.njk" %}

{% block content %}
<div class="wrapper">
    <div class="furnish">
        <section class="furnish_title">
            <div class="furnish_title_text">
                Квартиры с&nbsp;отделкой
            </div>
            <a href="" class="btn-arrow">Подробнее</a>
        </section>
        <section class="furnish_banner">
            <div class="furnish_banner_list swiper-container">
                <div class="swiper-wrapper">
                    <div class="furnish_banner_list_item swiper-slide" style="background-image: url('img/furnish/bg6.jpg')">
                    </div>
                    <div class="furnish_banner_list_item swiper-slide" style="background-image: url('img/furnish/bg1.jpg')">
                    </div>
                    <div class="furnish_banner_list_item swiper-slide" style="background-image: url('img/furnish/bg2.jpg')">
                    </div>
                    <div class="furnish_banner_list_item swiper-slide" style="background-image: url('img/furnish/bg3.jpg')">
                    </div>
                    <div class="furnish_banner_list_item swiper-slide" style="background-image: url('img/furnish/bg4.jpg')">
                    </div>
                </div>
            </div>
            <div class="furnish_banner_controls">
                <div class="furnish_banner_pagination"></div>
                <div class="furnish_banner_arrow">
                    <div class="furnish_banner_arrow_left"></div>
                    <div class="furnish_banner_arrow_right"></div>
                </div>
            </div>
            <div class="furnish_banners_arrow">
                <div class="furnish_banners_arrow_left"></div>
                <div class="furnish_banners_arrow_right"></div>
            </div>
            {% include "includes/blocks/btn-call.njk" %}
        </section>
        <section class="furnish_description">
            <div class="furnish_description_more-text">
                <div class="title-h1">
                    Квартиры с&nbsp;отделкой
                </div>
                <p class="fbl_bold">В ЖК «Летний сад» можно купить квартиры, где уже полностью выполнены все отделочные работы, Вам останется только выбрать мебель и оформить интерьер.
                </p>
                <p>Оформление интерьера - это интересная и творческая задача, и, возможно, какие-то идеи, Вы сможете найти в примерах, подготовленных нашими дизайнерами на основе базовой отделки одной из стандартных квартир.
                </p>
                <p>На примерах интерьеров, предложенных нашими дизайнерами, видно, как за счет оригинальных решений в подборе мебели, текстиля, светильников и аксессуаров можно придать изначально нейтральному помещению свой индивидуальный стиль. Цветовые акценты помогут выделить определенные зоны даже в помещении небольшой площади. При помощи активных форм мебели, люстр или, например, ковриков, можно сделать интерьер более динамичным и менее зависимым от общего нейтрального фона базовой отделки.
                </p>
                <div class="title-h1">
                    Что входит в&nbsp;отделку
                </div>
                <ul>
                    <li>керамическая плитка (кухня + лоджия)</li>
                    <li>ламинат</li>
                    <li>плинтус напольный</li>
                    <li>керамическая плитка (санузел)</li>
                    <li>обои</li>
                    <li>ванна</li>
                    <li>унитаз</li>
                    <li>раковина</li>
                    <li>электрические розетки</li>
                    <li>ТВ розетка</li>
                    <li>выключатели</li>
                    <li>двери межкомнатные</li>
                    <li>дверь входная</li>
                    <li>конвектор отопления</li>
                </ul>
            </div>
            <div class="furnish_description_close"></div>
        </section>
        <section class="furnish_call">
            {% include "includes/blocks/btn-call.njk" %}
        </section>
    </div>
</div>


{% endblock %}


{% block page_bottom %}
<script src="js/furnish.js"></script>
{% endblock %}