{% set title = "Подбор по параметрам" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
	<div class="timer-date _inner" data-timer="2019,00,12,0,0">
        <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
        <div class="timer-date__date">
            <span class="timer-date__hours"></span>
            <span class="timer-date__date-type"></span>
        </div>
    </div>
	<nav class="TopNav">
		<div class="TopNav_inner">
			<div class="TopNav_leaf TopNav_leaf-active"><a href="genplan.html" class="TopNav_link">На генплане</a></div>
			<div class="TopNav_leaf"><a href="filters.html" class="TopNav_link">По параметрам</a></div>
			<div class="TopNav_leaf"><a href="filters-parking.html" class="TopNav_link">Паркинг</a></div>
			<div class="TopNav_leaf"><a href="filters-commercial.html" class="TopNav_link">Нежилые помещения</a></div>
		</div>
	</nav>

	<div class="genplan">
    	<div class="genplan__content">
      		<img class="genplan__img-common" src="/img/genplan/genplan.jpg" alt="" />
			<div class="genplan__renders">
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_23" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
					<path fill="#2B2634" d="M0,0v1081h1922V0H0z M258.7,539.5l-7.8,3.3l-1.9,1.9l7.1,37.8L214,600h-6l-6-4l-13-68l31-13l-2-14l6-4l6,2
	v-3l8-2l5,2v5h5l4-2l5,2v5h3l5-2l5,2l4.4,26.8L258.7,539.5z"/>
				</svg>

			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_24" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M323.8,529.9l-3.3,1.1l2.4,14.8l-9.3,3.7l7.3,42.1
			            l-2.4,1.6l1.7,1.1l-15.4,8.7l-2.6-0.6l-13.1,6.2v1L282,613l-3.4-0.7l-8.3,4l-2.4-0.9l-1.5,1l-3-1.3l-4.9,2.4l-5.1-2.5l-0.6-4
			            l7.1-2.8L248,544.7l1.9-1.9l7.8-3.3l28.2-12l-0.2-6.9l-0.8-0.3l-0.1-4.3l4.1-1.2l-0.2-1.6l2.9-1.6l3.7,0.4l-0.1,2.1l1.6-0.1v-2.7
			            l1.9-1.3l2.2-0.3l0.5,1.3l1.9-0.5l-0.2-0.7l4.4-0.7l3.9,2.7l-0.4,1.4l-0.5,0.3l0.2,1.2l4.2,0.3l3.8-1.3l5.4,1.6L324,518l-1,0.3
			            l0.7,3l2.9,3.1l0.1,3l-3.1,0.9L323.8,529.9z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_25" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M375.3,546.6l-3.5,1.3l-0.3,0.5v1.4l-2.6,1.1l1.6,15
			            l-3.6,1.9l-1.8,1.4l7.2,44.8l-9.7-4.6l-13.6,8.4h-0.9l-2.7,2.1l-3.1-0.6l-1.2,1.2l-2.9-0.4l-1.6,1.2l-10.1-3.3l-1.4-2l-11.5-66.5
			            l9.3-3.7l-2.4-14.8l3.3-1.1l-0.2-1.6l3.4-1l1.1,0.6l3.5-1.4v-1.2l2.9-1l1.7,0.2l4.4-1.5l5.4,2.1l0.1,2.5l-0.9,0.8l0.2,2.4l2.4,0.3
			            l0.2-0.8l2-0.8l0.6,0.8l5.2-1.8l5.5,2l0.1,2.8l-1.1,0.3l0.2,3l1.2,0.4v-1.1l2.8-0.6l1.1,0.4l4.9-2l4.9,2.2l0.1,3.6l-1,0.4l0.4,2.1
			            l1.1-0.6l0.7,6L375.3,546.6z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_26" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M445.2,606.5l-1.7,0.8l-11.9-4.9v-1.3l-3.8-1.4
			            l-3.6,1.6l0.2,1.3L408,613l-2.5,0.2l-7.6,5.4l0.3,1.4l2.4,0.5l2.5,16.5l-5.9,3.4l-3.4-0.4l-2.8,0.7l-2.3,1.8L385,641l-2.1-0.2
			            l-4.6-3l-2.5-2l-10.7-66.6l1.8-1.4l3.6-1.9l-1.6-15l2.6-1.1v-1.4l0.3-0.5l3.5-1.3l1.4,0.8l2.9-1.4v-0.9l2.9-1.2l1.2,0.5l0.7,0.1
			            l3.9-2l5.8,1.7l0.1,3l-0.9,0.4l0.2,1.3l0.6,0.5l0.5,1.3l2.2,0.4l0.1-1.2l2.9-0.4l0.8,0.3l3.5-1.2l3,0.2l3.1,1.8l-0.1,2.7l-0.9,0.1
			            v1.3l1,0.3l0.1,1.7l0.6,0.2l0.3-1.1l2.2-0.4l1.7,0.1l4.9-1.7l5.2,2.2l-0.1,5.8l1,0.4v-1.1l2.7-0.8l1.2,0.6l4.2-2l6,2.5l-0.1,2.5
			            l-0.9,0.7l0.1,1.1l0.7-0.3l0.4,2.2l1-0.1l5.5,40L445.2,606.5z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_27" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M587.9,601.1l-2.5,0.9l-0.1,5l-2.5,0.4l0.1-0.9
			            l-5.2,0.4l0.1,1.4l-18.5,0.9l-0.1-3.5l-10.9,0.8l0.2,6.4l-3.4,0.2l0.2,1.5l-2.3-0.1v-1.8h-6.2v1.9l-8.6,0.5L524,616l-7.2-1.9
			            l-5.8,3.5l-0.1,4.4l-4.3,3.2l0.4,6.4l0.2,4.2l-0.7,1.2l-0.7,3.8l-4.8,3.9l-4.1-0.6l-29,16.7l-10.9-2.7l-1.8-14.8l-0.7-0.3
			            l-4.2-30.6l1.5-1l-0.4-1.4l-2.3-1.3l-3.1-22.6l6.7-4.5v-5.2l4-2.5l7.6-0.3l2.7,0.3l1.1,0.8l4.5-2.7l-0.2-2.5l8.2-4.5l7.3-1.2
			            l-0.1-3.4l4.2-2l6.6,0.5l-0.1,4l5.6,0.1l7.9,2.6l2.8-0.1l0.1-4.8l2-0.8l8.3,0.1l0.1,3.6l3.8-0.1l-0.1-1.2l4.2-2.3l-0.3-4.9l4.9-3.4
			            l4.7,0.6l0.1,0.7l3.7-0.3l1.8,0.2l3.6-1.9l2,0.1l5.1-3.2l4.2-1.2l-0.2-4.7l5.6-1.3l3.8,0.2l1.3,1.7l-0.2,1.7l8.1-0.6l5.9,2.8
			            l5.5,54.6H587.9z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_31" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M568.7,687.8l-3.3,0.6v1.9l19.3-1.8l0.1-0.7l4.4-0.7v0.6l3.5-0.5l0.1-2.1l-10,0.9L568.7,687.8z"/>
			        <path d="M-0.3,0v1080h1920V0H-0.3z M657.9,739.5l-54.1,6.8l-0.2,0.3l-12.5,1.4l-12.9,1.5l0.1,1.1l-7.8,1.1l-0.5-1.1
			            l-22,3.9l0,0l-4-12.1l-4.9-36.5l-0.6-3l0.1-6.4l1.5-3.4l7.2-0.5l0.2-1l6.1-0.2l-0.1-1.4l-13.2,2l-3.7,2.3l0.7,7.1l0.3,7.6
			            l-2.4-0.2l-2.3,6.9l-3.2,0.4l-1.4,1.2l-12.4,0.5l-0.5-1.6l-1.9,0.1l-8.3-66.1l-0.1-7.1l1.1-6.3l0.8-1.2l-0.3-4.2l-0.4-6.3l4.3-3.2
			            l0.1-4.4l5.8-3.5l7.2,1.8l4.2-0.9l8.6-0.5v-1.8h6.3v1.8l2.2,0.1l-0.1-1.5l3.3-0.2l-0.2-6.4l10.9-0.8l0.2,3.5l18.4-1l-0.1-1.4
			            l5.3-0.4l-0.1,0.9l2.4-0.5l0.1-5l2.5-0.9l8.4-0.1v4.2l8.2-0.8c5.4-0.2,10.7-0.3,16-0.4v-2l3.9-0.2l1.8-1.6l10.8,3.2l0.9,3.8l3,1.1
			            l0.9,4.6l3.5,0.7l2.2,14.6l0.6,10.3l1.3,0.3l0.7,4.2l0.1,3.6l0.9,1.6l0.8,10.3l0.5,11.6h2L657,684l5,51.3L657.9,739.5z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_32" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M873.1,632.9l-1.7,0.1v-0.7l-1.3-0.1l-1.6-2.4
			            l-9.7,0.3l-0.2,3.8l-6.8,0.5l-1.2-2.7l-10.9,0.7l0.1-1.2l-1.7-2.3l0,0h-8.7l-1.7,1.2l0.2,4.8l-13.4,0.9l-0.1-3.1l-1.5-1.4l-6.6,0.1
			            l-0.2-1.9l-3.6-0.7l-6.9,0.4v1.8l-4.9,0.1l0.1,0.9h-3.1l1.3,21.8c-1.2-1.8-3.1-4.6-3.1-4.6l-3.5-5.9l-0.9-2.6l-0.6-7.2l-1.1-1.2
			            l-2.9-48.9l-0.1-4.2l-1.2-2.5l0.1-6l2.8-1.7v-5l3.5-3.1h5.7l0.3,1h0.7l0.8-0.9h1.9l0.6,1.4l11.7-0.8v-1.5l3-0.2l-0.1-3.7l2.6-1.1
			            l7-0.2v2.1l3.7-0.1l0.2,2.1l1.8,0.1l-0.5-1l2.9-0.1l0.4,0.6l6.3-0.3V556h2.3l-0.3-1.1l1,0.1l-0.3-2.7l10.3-0.5l0.2,2.2l3.2-0.1v1.4
			            l9.4-0.3l-0.1-6l4.6-2.5l5.9,1.1l1.8-1.3l10.6,0.2l2.2,3.2l0.5,1.9l2.4,73.1L873.1,632.9z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_36" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M1229.3,540.1l-4.6,2l-2.7,0.2l-4.8,1.3l-1.2,51
			            l-16,5.4l-6.4-0.1l-1.5-0.8l-2-0.4l-44.2-28.6l0.1-70.1l5.9-1.6l0.1-4.1l6.6-1.6l5.3,2.7l3-0.5l0.2-1.2l0.7-0.6l0.3-4l7.9-1.5
			            l5,3.4l5.3-1l-0.8-1.1l1.4-0.1v-4.4l7.6-1.8l5.6,3.4l4.5-1.2l0.3-1.3l1.8-0.4l0.1-4.1l7.8-1.4l2.8,2.6h2.3l1.9-1.4h1.2l0.8,0.7
			            l1,0.4l-0.1,1.8l5.8,4.1L1229.3,540.1z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_37" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M1355.3,554.3l-16.6,7.5l-4.8,0.1l-3-1.3l-5.2-3.9
			            l0.2-12.9l-3.7-0.7l0.1-3.4h-2.1l0.1-1.1l-13.1-9.1l-1.8,0.6l-8.6-6.1l-1.3,0.3l-4.1-2.5l-13.2,5v25l-1.8,0.8l-5,1.9l-3.1-0.5
			            l-5.1,0.2l-0.1,1.7h-4.5l-0.2-0.9l-2.7-2.2h-3.5l-3.8-3l0.1-5.4l-3-1.8l1.2-61.9l4.3-0.5l-0.1-4l7.9-1.4l4,2.7l2.7-0.2l0.1-1.5h1.2
			            l0.2-4.5l7.2-1.8l4.7,3.6l5.1-0.8l0.2-1.6l0.9-0.2v-4.1l7.1-1.5l5,3.3l5-1.2l-0.8-0.7l2.6-0.7V462l6.4-1.2l2.4,0.9l3.7-0.3l0.9,0.9
			            l2.5-0.3l2.1,2v1.3l9.5,4.1l1.4,0.6l2.7-0.2l4.6-1.1l4.4,2.7l-0.1,4.2l1.8,1.4l3.7-0.2v1.2l8,5.3l0.2,1.6L1355.3,554.3z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_38" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M1319.5,616.4l-4.8,2.3l-5.3,1.4l-5.9,2.1l0.1,1.9
			            l-4.1,0.9l-0.1,3l-8.2,2.2l-4.7-1.2l-8.3,3.5l-2.3-0.9l-3,0.9l-4.8-0.1l-2.9,1.5l-1.5,1.9l-9.1-0.3l-4.8-3.2l-3.9,0.6l-6.1-3.9
			            v-1.8l-5,0.5l-12.5-9.6l1.6-0.5l-8.3-6.2l1.6-67.8l4.8-1.3l2.7-0.2l5.4-2.3l5.2,2.6l6.9-1.7l6.3,3.7l-0.1,5.4l3.8,3h3.5l2.7,2.2
			            l0.2,0.9h4.5l0.1-1.7l5.1-0.2l3.1,0.5l5-1.9l1.8-0.8v-25l13.2-5l4.1,2.5l1.3-0.3l8.6,6.1l1.8-0.6l13.1,9.1l-0.1,1.1h2.1
			            L1319.5,616.4z"/>
			    </svg>
			    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__render" data-id="genplan-object_39" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			        <path d="M-0.3,0v1080h1920V0H-0.3z M1485.2,469.7l-1.4,7.2l-2.7,0.7l-2.1,25.8l-2.8,2.3
			            l-1.6,0.2l-1.2,1.1l-3.9,0.6l-4.3,2l-5.9,0.5l-4.7-1.3l-3.9-3.1l0.3-7.8l0,0l-8-4.8l-2.4,0.1l-14.9-9.1l3.3-65.8l4.8-0.9l0.2-3.5
			            l3.4-1.2l4.3,0.3l1.9,1.7l4.9,0.1l0.1-1.1h1.2v-4.8l5.4-1l6.9,1v2.3l1.8-0.2l2-1.9l-0.1-4.2l3.5-1.2l4.8,0.2l0.3,1.1l4.6-0.4
			            l-0.1,2l4.1,0.4l3.1,1.1l3.4,3.5L1485.2,469.7z M1552.1,475l-0.5,0.2l-0.1,4.5l-8.6,3l-3.5,2.9l-4,1.4l-3-0.1l-1,0.9h-4.3l-4.3-1.2
			            l-4-2.5V483l-10.2-3.9l-2.3,0.8l-5.3-2.7l0.1-1.8l-3.2-1.1l0,0l0,0l0,0l4.8-66.1l9.8-4.4l6,3.3l2.1-0.7l4.8,3.5l1.1-0.3l2,1.4
			            l-0.3,0.7l0.7,0.3l3.8-0.7v-1.2l4.1-0.5l2.7,1.8l-0.1,1.3l1,0.5l2.5-0.5v-0.5l2.2-0.3V411l2.4-0.4l2.2,0.7l-0.1,1l5.9,4L1552.1,475
			            z"/>
			    </svg>

                <svg class="genplan__render" data-id="genplan-object_46" xmlns="http://www.w3.org/2000/svg" width="1922" height="1081" viewBox="0 0 1922 1081">
                    <path d="M0,0V1081H1922V0ZM1654,504l-25,7-6-3V497l-8-4,5-66,14-4,25,15Z" fill="#2b2634"/>
                </svg>
				<svg class="genplan__render" data-id="genplan-object_47" xmlns="http://www.w3.org/2000/svg" width="1922" height="1081" viewBox="0 0 1922 1081">
					<path d="M0,0V1081H1922V0ZM1709,490l-20,7h-4l-19-12-3,1-6-4,6-64,11-3h8l4,2v3l10,5,12-3,7.5,3Z" fill="#2b2634"/>
				</svg>
				<svg class="genplan__render" data-id="genplan-object_48" xmlns="http://www.w3.org/2000/svg" width="1922" height="1081" viewBox="0 0 1922 1081">
					<path d="M0,0V1081H1922V0ZM1755.5,483l-22.5,6.5L1715,479l6.5-65,10.5-2.5,12,6,13-4,7,3.5Z" fill="#2b2634"/>
				</svg>

				<svg class="genplan__render" data-id="genplan-object_46-48" xmlns="http://www.w3.org/2000/svg" width="1922" height="1081" viewBox="0 0 1922 1081">
					<g id="Page-1">
						<g transform="translate(-1418.000000, -446.000000)">
							<g id="Line-7">
								<path fill="#F7941C" d="M3047.1,959.9c-0.2,0-0.5-0.1-0.7-0.2l-7.2-3.8c-0.5-0.3-0.8-0.8-0.8-1.4l0.4-9.7l-6.6-4
				c-0.5-0.3-0.8-0.8-0.7-1.4l4.7-65.7c0-0.7,0.5-1.2,1.1-1.4l15.6-3.7c0.4-0.1,0.8,0,1.1,0.2l23.7,14.8l1.6-19.8
				c0.1-0.7,0.6-1.2,1.2-1.4l13.8-2.4c0.3-0.1,0.7,0,1,0.1l18.7,9.8l11.4-3.1c0.4-0.1,0.9,0,1.2,0.2l5.8,4.1
				c0.4,0.3,0.7,0.8,0.6,1.3l-3.1,50.8l3-0.9l5.3-61.1c0.1-0.6,0.5-1.2,1.1-1.3l10.3-2.8c0.3-0.1,0.7-0.1,1,0.1l11.4,5.5l12-3.9
				c0.5-0.1,1-0.1,1.3,0.2l6.2,4.5c0.4,0.3,0.7,0.8,0.6,1.4l-6.2,65.5c-0.1,0.6-0.5,1.1-1.1,1.3l-24.5,6.5c-0.4,0.1-0.8,0-1.2-0.2
				l-15.8-9.9l-3.7,0.8v6c0,0.6-0.4,1.2-1,1.4l-23.8,8.4c-0.4,0.1-0.8,0.1-1.2-0.1l-21-11.3h-7.2l-1.4,18c0,0.6-0.5,1.2-1.1,1.3
				l-25.7,6.8C3047.3,959.9,3047.2,959.9,3047.1,959.9z M3041.4,953.8l5.8,3.1l24.1-6.4l1.4-18.3c0.1-0.8,0.7-1.4,1.5-1.4h9
				c0.2,0,0.5,0.1,0.7,0.2l20.8,11.1l22.2-7.8v-6.2c0-0.6,0.3-1.1,0.8-1.3c-0.1,0-0.2-0.1-0.3-0.2c-0.4-0.3-0.6-0.8-0.6-1.3
				l3.2-52.1l-4.6-3.2l-11.3,3c-0.4,0.1-0.8,0.1-1.1-0.1l-18.8-9.8l-12.1,2.2l-1.7,21.1c0,0.5-0.4,1-0.8,1.2c-0.5,0.2-1,0.2-1.5-0.1
				l-25.2-15.7l-14,3.3l-4.6,63.7l6.6,4c0.5,0.3,0.7,0.8,0.7,1.3L3041.4,953.8z M3134,925.3c0.2,0,0.5,0.1,0.7,0.2l15.7,9.8
				l22.9-6.1l6-63.6l-4.9-3.6l-11.8,3.8c-0.4,0.1-0.8,0.1-1.1-0.1l-11.5-5.5l-8.7,2.3l-5.3,61.1c-0.1,0.6-0.5,1.1-1.1,1.3
				L3134,925.3z"/>
							</g>
						</g>
					</g>
				</svg>

			</div>
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="genplan__objects" version="1.1" x="0px" y="0px" viewBox="0 0 1922 1080" enable-background="new 0 0 1922 1080" xml:space="preserve">
			    <g xmlns="" class="genplan__object" data-id="genplan-object_23" data-bld-url="/choose/">
			        <path d="m 188.10448,528.9 13,64.5 6,5.3 4.5,-0.3 5.6,-2.6 1.7,0.5 3.9,-1.6 3.1,-2.6 11.9,-5.3 1.7,0.7 8.4,-4.7 -0.2,-0.9 c 0,0 4.6,-2.2 6.7,-3.1 l -6.4,-34.2 2,-1.9 7.8,-3.3 15.9,-6.8 -3,-19 -1.2,-0.7 -0.7,-7 -4,-2.1 -4.7,1.9 -1.8,-1 -2.7,1 -0.3,-2.1 1.1,-0.4 0,-2.1 -4.4,-1.7 -4.5,1.5 -2.7,-0.5 -2.2,0.3 0,-4.3 -3.8,-2.5 -5.4,1.5 -2,-0.5 -2.3,0.8 -0.2,3.3 -2,-0.6 -0.1,-0.8 -1.7,-1.3 -4,1.3 0,2.1 -4.5,1.2 2.7,14 -2,0.9 -1,-0.1 -4,1.4 0,0.7 -21.9,8.5 -1.5,1.1 -0.8,1.5 z"></path>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_24" data-bld-url="/choose/">
			        <polygon points="260.8,608.2 253.7,611 254.3,615 259.4,617.5 264.3,615.1 267.3,616.4 268.8,615.4 271.2,616.3 279.5,612.3 282.9,613 290,609.6 290,608.6 303.1,602.4 305.7,603 321.1,594.3 319.4,593.2 321.8,591.6 314.5,549.5 323.8,545.8 321.4,531 324.7,529.9 324.5,528.3 327.6,527.4 327.5,524.4 324.6,521.3 323.9,518.3 324.9,518 325,515.3 319.6,513.7 315.8,515 311.6,514.7 311.4,513.5 311.9,513.2 312.3,511.8 308.4,509.1 304,509.8 304.2,510.5 302.3,511 301.8,509.7 299.6,510 297.7,511.3 297.7,514 296.1,514.1 296.2,512 292.5,511.6 289.6,513.2 289.8,514.8 285.7,516 285.8,520.3 286.6,520.6 286.8,527.5 258.6,539.5 250.8,542.8 248.9,544.7 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_25" data-bld-url="/choose/">
			        <polygon points="326,616 327.4,618 337.5,621.3 339.1,620.1 342,620.5 343.2,619.3 346.3,619.9 349,617.8 349.9,617.8 363.5,609.4 373.2,614 366,569.2 367.8,567.8 371.4,565.9 369.8,550.9 372.4,549.8 372.4,548.4 372.7,547.9 376.2,546.6 377.6,547.4 376.9,541.4 375.8,542 375.4,539.9 376.4,539.5 376.3,535.9 371.4,533.7 366.5,535.7 365.4,535.3 362.6,535.9 362.6,537 361.4,536.6 361.2,533.6 362.3,533.3 362.2,530.5 356.7,528.5 351.5,530.3 350.9,529.5 348.9,530.3 348.7,531.1 346.3,530.8 346.1,528.4 347,527.6 346.9,525.1 341.5,523 337.1,524.5 335.4,524.3 332.5,525.3 332.5,526.5 329,527.9 327.9,527.3 324.5,528.3 324.7,529.9 321.4,531 323.8,545.8 314.5,549.5 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_26" data-bld-url="/choose/">
			        <polygon points="376.7,635.8 379.2,637.8 383.8,640.8 385.9,641 389.6,642.5 391.9,640.7 394.7,640 398.1,640.4 404,637 401.5,620.5 399.1,620 398.8,618.6 406.4,613.2 408.9,613 425.3,602.6 425.1,601.3 428.7,599.7 432.5,601.1 432.5,602.4 444.4,607.3 446.1,606.5 447.8,607.5 442.3,567.5 441.3,567.6 440.9,565.4 440.2,565.7 440.1,564.6 441,563.9 441.1,561.4 435.1,558.9 430.9,560.9 429.7,560.3 427,561.1 427,562.2 426,561.8 426.1,556 420.9,553.8 416,555.5 414.3,555.4 412.1,555.8 411.8,556.9 411.2,556.7 411.1,555 410.1,554.7 410.1,553.4 411,553.3 411.1,550.6 408,548.8 405,548.6 401.5,549.8 400.7,549.5 397.8,549.9 397.7,551.1 395.5,550.7 395,549.4 394.4,548.9 394.2,547.6 395.1,547.2 395,544.2 389.2,542.5 385.3,544.5 384.6,544.4 383.4,543.9 380.5,545.1 380.5,546 377.6,547.4 376.2,546.6 372.7,547.9 372.4,548.4 372.4,549.8 369.8,550.9 371.4,565.9 367.8,567.8 366,569.2 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_27" data-bld-url="/choose/">
			        <polygon points="455.4,643 456.1,643.3 457.9,658.1 468.8,660.8 497.8,644.1 501.9,644.7 506.7,640.8 507.4,637 508.1,635.8 507.9,631.6 507.5,625.2 511.8,622 511.9,617.6 517.7,614.1 524.9,616 529.1,615.1 537.7,614.6 537.7,612.7 543.9,612.7 543.9,614.5 546.2,614.6 546,613.1 549.4,612.9 549.2,606.5 560.1,605.7 560.2,609.2 578.7,608.3 578.6,606.9 583.8,606.5 583.7,607.4 586.2,607 586.3,602 588.8,601.1 593.7,601.1 588.2,546.5 582.3,543.7 574.2,544.3 574.4,542.6 573.1,540.9 569.3,540.7 563.7,542 563.9,546.7 559.7,547.9 554.6,551.1 552.6,551 549,552.9 547.2,552.7 543.5,553 543.4,552.3 538.7,551.7 533.8,555.1 534.1,560 529.9,562.3 530,563.5 526.2,563.6 526.1,560 517.8,559.9 515.8,560.7 515.7,565.5 512.9,565.6 505,563 499.4,562.9 499.5,558.9 492.9,558.4 488.7,560.4 488.8,563.8 481.5,565 473.3,569.5 473.5,572 469,574.7 467.9,573.9 465.2,573.6 457.6,573.9 453.6,576.4 453.6,581.6 446.9,586.1 450,608.7 452.3,610 452.7,611.4 451.2,612.4 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_31" data-bld-url="/choose/">
			        <path d="m 592.80448,685.1 -0.1,2.1 -3.5,0.5 0,-0.6 -4.4,0.7 -0.1,0.7 -19.3,1.8 0,-1.9 3.3,-0.6 14.1,-1.8 10,-0.9 z m -44.8,69.4 22,-3.9 0.5,1.1 7.8,-1.1 -0.1,-1.1 12.9,-1.5 12.5,-1.4 0.2,-0.3 54.1,-6.8 4.1,-4.2 -5,-51.3 -2.9,-14.2 -2,0 -0.5,-11.6 -0.8,-10.3 -0.9,-1.6 -0.1,-3.6 -0.7,-4.2 -1.3,-0.3 -0.6,-10.3 -2.2,-14.6 -3.5,-0.7 -0.9,-4.6 -3,-1.1 -0.9,-3.8 -10.8,-3.2 -1.8,1.6 -3.9,0.2 0,2 c -5.3,0.1 -10.6,0.2 -16,0.4 l -8.2,0.8 0,-4.2 -8.4,0.1 -2.5,0.9 -0.1,5 -2.4,0.5 0.1,-0.9 -5.3,0.4 0.1,1.4 -18.4,1 -0.2,-3.5 -10.9,0.8 0.2,6.4 -3.3,0.2 0.1,1.5 -2.2,-0.1 0,-1.8 -6.3,0 0,1.8 -8.6,0.5 -4.2,0.9 -7.2,-1.8 -5.8,3.5 -0.1,4.4 -4.3,3.2 0.4,6.3 0.3,4.2 -0.8,1.2 -1.1,6.3 0.1,7.1 8.3,66.1 1.9,-0.1 0.5,1.6 12.4,-0.5 1.4,-1.2 3.2,-0.4 2.3,-6.9 2.4,0.2 -0.3,-7.6 -0.7,-7.1 3.7,-2.3 13.2,-2 0.1,1.4 -6.1,0.2 -0.2,1 -7.2,0.5 -1.5,3.4 -0.1,6.4 0.6,3 4.9,36.5 4,12.1 z"></path>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_32" data-bld-url="/choose/">
			        <path d="m 838.10448,628.9 1.7,2.3 -0.1,1.2 10.9,-0.7 1.2,2.7 6.8,-0.5 0.2,-3.8 9.7,-0.3 1.6,2.4 1.3,0.1 0,0.7 1.7,-0.1 11.6,-8.2 -2.4,-73.1 -0.5,-1.9 -2.2,-3.2 -10.6,-0.2 -1.8,1.3 -5.9,-1.1 -4.6,2.5 0.1,6 -9.4,0.3 0,-1.4 -3.2,0.1 -0.2,-2.2 -10.3,0.5 0.3,2.7 -1,-0.1 0.3,1.1 -2.3,0 0,2.3 -6.3,0.3 -0.4,-0.6 -2.9,0.1 0.5,1 -1.8,-0.1 -0.2,-2.1 -3.7,0.1 0,-2.1 -7,0.2 -2.6,1.1 0.1,3.7 -3,0.2 0,1.5 -11.7,0.8 -0.6,-1.4 -1.9,0 -0.8,0.9 -0.7,0 -0.3,-1 -5.7,0 -3.5,3.1 0,5 -2.8,1.7 -0.1,6 1.2,2.5 0.1,4.2 2.9,48.9 1.1,1.2 0.6,7.2 0.9,2.6 3.5,5.9 c 0,0 1.9,2.8 3.1,4.6 l -1.3,-21.8 3.1,0 -0.1,-0.9 4.9,-0.1 0,-1.8 6.9,-0.4 3.6,0.7 0.2,1.9 6.6,-0.1 1.5,1.4 0.1,3.1 13.4,-0.9 -0.2,-4.8 1.7,-1.2 8.7,0 z"></path>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_36" data-bld-url="/choose/">
			        <polygon points="1218.1,543.6 1222.9,542.3 1225.6,542.1 1230.2,540.1 1231.2,485.8 1225.4,481.7 1225.5,479.9 1224.5,479.5 1223.7,478.8 1222.5,478.8 1220.6,480.2 1218.3,480.2 1215.5,477.6 1207.7,479 1207.6,483.1 1205.8,483.5 1205.5,484.8 1201,486 1195.4,482.6 1187.8,484.4 1187.8,488.8 1186.4,488.9 1187.2,490 1181.9,491 1176.9,487.6 1169,489.1 1168.7,493.1 1168,493.7 1167.8,494.9 1164.8,495.4 1159.5,492.7 1152.9,494.3 1152.8,498.4 1146.9,500 1146.8,570.1 1191,598.7 1193,599.1 1194.5,599.9 1200.9,600 1216.9,594.6 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_37" data-bld-url="/choose/">
			        <polygon points="1321.2,538.6 1321.1,539.7 1323.2,539.7 1323.1,543.1 1326.8,543.8 1326.6,556.7 1331.8,560.6 1334.8,561.9 1339.6,561.8 1356.2,554.3 1359.1,484.9 1358.9,483.3 1350.9,478 1350.9,476.8 1347.2,477 1345.4,475.6 1345.5,471.4 1341.1,468.7 1336.5,469.8 1333.8,470 1332.4,469.4 1322.9,465.3 1322.9,464 1320.8,462 1318.3,462.3 1317.4,461.4 1313.7,461.7 1311.3,460.8 1304.9,462 1304.9,465.6 1302.3,466.3 1303.1,467 1298.1,468.2 1293.1,464.9 1286,466.4 1286,470.5 1285.1,470.7 1284.9,472.3 1279.8,473.1 1275.1,469.5 1267.9,471.3 1267.7,475.8 1266.5,475.8 1266.4,477.3 1263.7,477.5 1259.7,474.8 1251.8,476.2 1251.9,480.2 1247.6,480.7 1246.4,542.6 1249.4,544.4 1249.3,549.8 1253.1,552.8 1256.6,552.8 1259.3,555 1259.5,555.9 1264,555.9 1264.1,554.2 1269.2,554 1272.3,554.5 1277.3,552.6 1279.1,551.8 1279.1,526.8 1292.3,521.8 1296.4,524.3 1297.7,524 1306.3,530.1 1308.1,529.5 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_38" data-bld-url="/choose/">
			        <polygon points="1236.2,542.4 1243.1,540.7 1249.4,544.4 1249.3,549.8 1253.1,552.8 1256.6,552.8 1259.3,555 1259.5,555.9 1264,555.9 1264.1,554.2 1269.2,554 1272.3,554.5 1277.3,552.6 1279.1,551.8 1279.1,526.8 1292.3,521.8 1296.4,524.3 1297.7,524 1306.3,530.1 1308.1,529.5 1321.2,538.6 1321.1,539.7 1323.2,539.7 1320.4,616.4 1315.6,618.7 1310.3,620.1 1304.4,622.2 1304.5,624.1 1300.4,625 1300.3,628 1292.1,630.2 1287.4,629 1279.1,632.5 1276.8,631.6 1273.8,632.5 1269,632.4 1266.1,633.9 1264.6,635.8 1255.5,635.5 1250.7,632.3 1246.8,632.9 1240.7,629 1240.7,627.2 1235.7,627.7 1223.2,618.1 1224.8,617.6 1216.5,611.4 1218.1,543.6 1222.9,542.3 1225.6,542.1 1231,539.8 "></polygon>
			    </g>
			    <g xmlns="" class="genplan__object" data-id="genplan-object_39" data-bld-url="/choose/">
			        <path d="m 1497.9045,474.3 4.8,-66.1 9.8,-4.4 6,3.3 2.1,-0.7 4.8,3.5 1.1,-0.3 2,1.4 -0.3,0.7 0.7,0.3 3.8,-0.7 0,-1.2 4.1,-0.5 2.7,1.8 -0.1,1.3 1,0.5 2.5,-0.5 0,-0.5 2.2,-0.3 0,-0.9 2.4,-0.4 2.2,0.7 -0.1,1 5.9,4 -3.4,58.7 -0.5,0.2 -0.1,4.5 -8.6,3 -3.5,2.9 -4,1.4 -3,-0.1 -1,0.9 -4.3,0 -4.3,-1.2 -4,-2.5 0,-1.1 -10.2,-3.9 -2.3,0.8 -5.3,-2.7 0.1,-1.8 -3.2,-1.1 z m -46.9,23.6 -8,-4.8 -2.4,0.1 -14.9,-9.1 3.3,-65.8 4.8,-0.9 0.2,-3.5 3.4,-1.2 4.3,0.3 1.9,1.7 4.9,0.1 0.1,-1.1 1.2,0 0,-4.8 5.4,-1 6.9,1 0,2.3 1.8,-0.2 2,-1.9 -0.1,-4.2 3.5,-1.2 4.8,0.2 0.3,1.1 4.6,-0.4 -0.1,2 4.1,0.4 3.1,1.1 3.4,3.5 -4.3,58.1 -1.4,7.2 -2.7,0.7 -2.1,25.8 -2.8,2.3 -1.6,0.2 -1.2,1.1 -3.9,0.6 -4.3,2 -5.9,0.5 -4.7,-1.3 -3.9,-3.1 0.3,-7.8 z"></path>
			    </g>

				{#<g xmlns="" class="genplan__object" data-id="genplan-object_46" data-bld-url="/choose/">
					<g transform="translate(-1418.000000, -446.000000)">
						<polygon points="3053.6,870.1 3038,873.8 3033.3,939.2 3040.6,943.6 3040.2,954.1 3047.3,957.9
		3072.9,951.1 3074.4,931.8 3083.3,931.8 3104.6,943.2 3128.2,934.9 3128.2,927.7 3133.7,926.4 3149.9,936.6 3174.3,930.1
		3180.4,864.9 3174.3,860.4 3161.8,864.5 3149.9,858.7 3139.6,861.5 3134.2,923.3 3128.2,925 3131.4,872.4 3125.7,868.3
		3113.8,871.5 3094.6,861.5 3080.9,863.9 3079.2,886.1"/>
					</g>
				</g>#}

			    <g xmlns="" class="genplan__object" data-id="genplan-object_46" data-bld-url="/choose/">
					<path d="M1654,504l-25,7-6-3V497l-8-4,5-66,14-4,25,15Z"></path>
				</g>
				<g xmlns="" class="genplan__object" data-id="genplan-object_47" data-bld-url="/choose/">
					<path d="M1709,490l-20,7h-4l-19-12-3,1-6-4,6-64,11-3h8l4,2v3l10,5,12-3,7.5,3Z"></path>
				</g>
				<g xmlns="" class="genplan__object" data-id="genplan-object_48" data-bld-url="/choose/">
				    <path d="M1755.5,483l-22.5,6.5L1715,479l6.5-65,10.5-2.5,12,6,13-4,7,3.5Z"></path>
				</g>
			</svg>
		    <div class="genplan__number" data-id="genplan-object_23" style="top:41.5%; left:12%;">
		        <div class="genplan__number-icon">
		            <span>1</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_24" style="top:43%; left:15.9%;">
		        <div class="genplan__number-icon">
		            <span>2</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_25" style="top: 44.5%; left: 18.3%;">
		        <div class="genplan__number-icon">
		            <span>3</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_26" style="top: 46.7%; left: 21.1%;">
		        <div class="genplan__number-icon">
		            <span>4</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_27" style="top: 47.9%; left: 27.2%;">
		        <div class="genplan__number-icon">
		            <span>5</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_28" style="top: 46%; left:33.5%;">
		        <div class="genplan__number-icon">
		            <span>6</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_29" style="top: 52.2%; left: 23.1%;">
		        <div class="genplan__number-icon">
		            <span>7</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_30" style="top: 56.4%; left: 21.2%;">
		        <div class="genplan__number-icon">
		            <span>8</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_31" style="top: 52.4%; left: 31.2%;">
		        <div class="genplan__number-icon">
		            <span>9</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_32" style="top: 47.7%; left: 42.2%;">
		        <div class="genplan__number-icon">
		            <span>10</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_33" style="top:44%; left:48.4%;">
		        <div class="genplan__number-icon">
		            <span>11</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_34" style="top:51.6%; left:52.6%;">
		        <div class="genplan__number-icon">
		            <span>12</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_35" style="top:54.7%; left:42.4%;">
		        <div class="genplan__number-icon">
		            <span>13</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_36" style="top:42.2%; left:60.4%;">
		        <div class="genplan__number-icon">
		            <span>14</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_37" style="top: 39%; left: 68.4%;">
		        <div class="genplan__number-icon">
		            <span>15</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_38" style="top: 46.6%; left: 64.6%;">
		        <div class="genplan__number-icon">
		            <span>16</span>
		        </div>
		    </div>
		    <div class="genplan__number" data-id="genplan-object_39" style="top: 34%; left: 75.6%;">
		        <div class="genplan__number-icon">
		            <span>17</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_46" style="top: 34.7%; left: 85%;">{#<div class="genplan__number _new"#}
		        <div class="genplan__number-icon">
		            <span>18</span>
		        </div>
		    </div>
		    <div class="genplan__number _disabled" data-id="genplan-object_47" style="top: 34.3%; left: 88.6%;">
		        <div class="genplan__number-icon">
		            <span>19</span>
		        </div>
		    </div>
		    <div class="genplan__number _long _disabled" data-id="genplan-object_48" data-pos="gpStartEnter">
		        <div class="genplan__number-icon _long">
		            <span>20</span>
		        </div>
		    </div>

		    <div class="genplan__start _enter">
				<img src="img/logo_NewIH.svg" alt="">
				<span>Ввод в эксплуатацию<br>4 квартал 2021 года</span>
			</div>

			<div class="genplan__labels">
			    <div class="genplan__label" data-id="genplan-object_23">
			        <p class="genplan__label-text1">Корпус №1</p>
			        <p class="genplan__label-text2"><span>9</span> квартир свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_24">
			        <p class="genplan__label-text1">Корпус №2</p>
			        <p class="genplan__label-text2"><span>10</span> квартир свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_25">
			        <p class="genplan__label-text1">Корпус №3</p>
			        <p class="genplan__label-text2"><span>9</span> квартир свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_26">
			        <p class="genplan__label-text1">Корпус №4</p>
			        <p class="genplan__label-text2"><span>2</span> квартиры свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_27">
			        <p class="genplan__label-text1">Корпус №5</p>
			        <p class="genplan__label-text2"><span>2</span> квартиры свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_31">
			        <p class="genplan__label-text1">Корпус №9</p>
			        <p class="genplan__label-text2"><span>5</span> квартир свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_32">
			        <p class="genplan__label-text1">Корпус №10</p>
			        <p class="genplan__label-text2"><span>1</span> квартира свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_36">
			        <p class="genplan__label-text1">Корпус №14</p>
			        <p class="genplan__label-text2"><span>13</span> квартир свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_37">
			        <p class="genplan__label-text1">Корпус №15</p>
			        <p class="genplan__label-text2"><span>14</span> квартир свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_38">
			        <p class="genplan__label-text1">Корпус №16</p>
			        <p class="genplan__label-text2"><span>92</span> квартиры свободно</p>
			        <p class="genplan__label-text3 genplan__label-text3-completed">Дом сдан</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_39">{#<div class="genplan__label _orange"#}
			        <p class="genplan__label-text1">Корпус №17</p>
			        <p class="genplan__label-text2"><span>751</span> квартира свободно</p>
			        <p class="genplan__label-text3">Ввод в эксплуатацию 2 кв 2019</p>
			    </div>

			    {#<div class="genplan__label" data-id="genplan-object_46">
			        <p class="genplan__label-text1">Корпус №18</p>
			        <p class="genplan__label-text2"><span>751</span> квартира свободно</p>
			        <p class="genplan__label-text3">Ввод в эксплуатацию 2 кв 2021</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_47">
			        <p class="genplan__label-text1">Корпус №19</p>
			        <p class="genplan__label-text2"><span>751</span> квартира свободно</p>
			        <p class="genplan__label-text3">Ввод в эксплуатацию 2 кв 2021</p>
			    </div>
			    <div class="genplan__label" data-id="genplan-object_48">
			        <p class="genplan__label-text1">Корпус №20</p>
			        <p class="genplan__label-text2"><span>751</span> квартира свободно</p>
			        <p class="genplan__label-text3">Ввод в эксплуатацию 2 кв 2021</p>
			    </div>#}
			</div>
		</div>
	</div>

	<div class="genplan__btn-call btn-call-inner">
		<button class="btn-call">Заказать звонок</button>
	</div>

</div>
{% endblock %} {% block page_bottom %}
<script src="js/genplan.js"></script>
{% endblock %}
