{% set title = "Главная" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
    <section class="home-banner">
        <div class="home-banner__sticker">5 фев – выходной в офисе продаж</div>
        <a href="https://izumrudnie-holmi.ru/mortgage/" class="home-banner__time-to-buy" title="Время покупать. Пока выгодно!!! Выгодная ипотека от 7.5%"></a>
        {# В атрибуте дата формата UTC: год,месяц,день,час,минуты #}
        <div class="home-banner__timer timer-date" data-timer="2019,00,12,0,0">
            <div class="timer-date__text">Скидки до 7% <span>До конца акции осталось</span></div>
            <div class="timer-date__date">
                <span class="timer-date__hours"></span>
                <span class="timer-date__date-type"></span>
            </div>
        </div>
        <div class="home-banner-list swiper-container" data-test>
            <div class="swiper-wrapper">
                <div class="banner-slide swiper-slide">
                    <div class="banner-slide__col">
                        <div class="banner-slide__img">
                            <div class="banner-slide__title">
                                Праздник продолжается
                            </div>
                        </div>
                    </div>
                    <div class="banner-slide__col">
                        <div class="banner-slide__content">
                            <div class="banner-slide__title banner-slide__title_dark">
                                <span>скидки</span> продлеваются
                            </div>
                            <div class="banner-slide__subtitle">
                                до 7% на квартиры
                            </div>
                        </div>
                    </div>
                    <a href="#" class="home-banner-list__link"></a>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner1.jpg')">
                    <div class="home-banner-list__text">
                        Заселенный микрорайон <br>
                        с готовой инфраструктурой
                        <div class="home-banner-list__textsmall">Скидки на квартиры до 7%</div>
                    </div>
                    <!--<div class="home-banner__date">-->
                        <!--Ввод в эксплуатацию-->
                        <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                    <a href="#" class="home-banner-list__link"></a>
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner2.jpg')">
                    <div class="home-banner-list__text">
                        Свой парк на территории
                        <br> и природные зоны в шаговой доступности
                    </div>
                    <!--<div class="home-banner__date">-->
                    <!--Ввод в эксплуатацию-->
                    <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                </div>
                <div class="home-banner-list__item swiper-slide" style="background-image: url('img/banner3.jpg')">
                    <div class="home-banner-list__text">
                        Подземные паркинги
                        <br> и безопасные дворы без машин
                    </div>
                    <!--<div class="home-banner__date">-->
                    <!--Ввод в эксплуатацию-->
                    <!--<span>4 квартал 2018 года</span>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="home-banner__scrolling"></div>
        <a class="video-about-btn" data-fancybox href="https://www.youtube.com/watch?v=aYKajUypRX0"><span>Видео о проекте</span></a>
    </section>
    <section class="main-about-complex-wrap">
        <div class="container">
            <div class="main-about-complex">
                <div class="main-about-complex__title">
                    Изумрудные холмы
                </div>
                <div class="main-about-complex__subtitle">
                    Готовые дома комфорт-класса в&nbsp;окружении лесопарка
                </div>
                <div class="main-about-complex__text">
                    <div class="main-about-complex__col">
                        <p>Жилой комплекс «Изумрудные холмы» — это полностью обжитой, уже заселенный
                            на 80% микрорайон с полностью функционирующей инфраструктурой, 3 работающими
                            школами, 4&nbsp;детскими садами и включающий в себя Аллею Космонавтов с макетами
                            космических кораблей в натуральную величину. </p>
                    </div>

                    <div class="main-about-complex__col">
                        <p>
                            Дома уже сданы и покупатели могут выбрать подходящую квартиру с отделкой и без.
                            На территории комплекса находятся удобные подземные паркинги, а закрытые
                            дворы без машин с детскими и спортивными площадками представляют собой
                            полностью безопасную среду для жизни комфорт-класса.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_first">
            <div class="main-section__content main-section__content_left">
                <div class="main-section__title">Удобное <span class="br-mobile"></span> расположение</div>
                <ul class="main-section__list">
                    <li>Г. Красногорск, бульвар Космонавтов</li>
                    <li>Скоро открытие легкого метро</li>
                    <li> Рядом остановки 20+ видов общественного транспорта,  	     используя которые можно быстро доехать до станций
                        метро Тушинская и Митино</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_second">
            <div class="main-section__img" style="background-image: url('img/index/sec1.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_second">
            <div class="main-section__content main-section__content_right">
                <div class="main-section__title">Собственный парк <span class="br-desktop br-mobile"></span> на территории</div>
                <ul class="main-section__list">
                    <li>8 га облагороженного парка</li>
                    <li>Спортивные площадки, широкие дорожки для бега и лыж</li>
                    <li>Оборудованные места для пикников</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_first">
            <div class="main-section__img" style="background-image: url('img/index/sec2.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_first">
            <div class="main-section__content main-section__content_left">
                <div class="main-section__title ">В окружении <span class="br-desktop br-mobile"></span> лесопарка</div>
                <ul class="main-section__list ">
                    <li>100 га хвойного леса</li>
                    <li>Идеальная экология</li>
                    <li>Завораживающие виды из окон круглый год</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_second">
            <div class="main-section__img" style="background-image: url('img/index/sec3.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_second">
            <div class="main-section__content main-section__content_right">
                <div class="main-section__title">Территория,<span class="br-desktop br-mobile"></span> полная комфорта</div>
                <ul class="main-section__list">
                    <li>Многочисленные кафе, рестораны, магазины, салоны красоты</li>
                    <li>Поликлиника и медицинский центр</li>
                    <li>Все условия для спорта и отдыха</li>
                    <li>Горнолыжный спуск</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_first">
            <div class="main-section__img" style="background-image: url('img/index/sec4.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_first">
            <div class="main-section__content main-section__content_left">
                <div class="main-section__title">Все необходимое — <span class="br-desktop br-mobile"></span> рядом</div>
                <ul class="main-section__list">
                    <li>Горнолыжный клуб Снеж.Ком, боулинг, гольф-клуб, школа
                        верховой езды недалеко от дома</li>
                    <li>Многочисленные памятники культуры, музеи и усадьбы</li>
                    <li>Торгово-развлекательные центры, супермаркеты и
                        прочая инфраструктура недалеко от дома</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_second">
            <div class="main-section__img" style="background-image: url('img/index/sec5.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_second">
            <div class="main-section__content main-section__content_right">
                <div class="main-section__title">Микрорайон <span class="br-desktop br-mobile"></span> для детей</div>
                <ul class="main-section__list">
                    <li>4 школы, включая художественную</li>
                    <li>7 детских садов</li>
                    <li>Прекрасно оборудованные детские и спортивные площадки</li>
                    <li>Лучшие условия для образования и развития</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_first">
            <div class="main-section__img" style="background-image: url('img/index/sec6.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_first">
            <div class="main-section__content main-section__content_left">
                <div class="main-section__title">Технологии <span class="br-desktop"></span> для <span class="br-mobile"></span> вашего комфорта</div>
                <ul class="main-section__list">
                    <li>Современные безопасные материалы</li>
                    <li>Скоростные лифты</li>
                    <li>Система видеонаблюдения</li>
                    <li>Инженерные системы, созданные по последнему слову техники</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_second">
            <div class="main-section__img" style="background-image: url('img/index/sec7.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_second">
            <div class="main-section__content main-section__content_right">
                <div class="main-section__title">Современная <span class="br-desktop"></span> система <span class="br-desktop"></span> безопасности</div>
                <ul class="main-section__list">
                    <li>Закрытая огороженная территория</li>
                    <li>Система видеонаблюдения</li>
                    <li>Консьержи, домофоны и магнитные замки</li>
                    <li>Дворы без машин и охраняемые подземные паркинги</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_first">
            <div class="main-section__img" style="background-image: url('img/index/security.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_first">
            <div class="main-section__content main-section__content_left">
                <div class="main-section__title">Подземные <span class="br-desktop br-mobile"></span> отапливаемые <span class="br-mobile"></span> паркинги</div>
                <ul class="main-section__list">
                    <li>Полная безопасность для вашего автомобиля</li>
                    <li>Удобство и быстрота парковки </li>
                    <li>Высокие потолки на въезде</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_second">
            <div class="main-section__img" style="background-image: url('img/index/sec8.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_second">
            <div class="main-section__content main-section__content_right">
                <div class="main-section__title">Квартиры <span class="br-desktop br-mobile"></span> с отделкой и без</div>
                <ul class="main-section__list">
                    <li>Тщательно продуманные планировки</li>
                    <li>Прекрасные виды из окон и с лоджий</li>
                    <li>Возможность заселиться сразу или сделать ремонт по своему вкусу</li>
                    <li>2 варианта готовой отделки</li>
                </ul>
                <a href="" class="btn-more btn-more_default">Подробнее</a>
            </div>
        </div>
        <div class="main-section__col main-section__col_first">
            <div class="main-section__img" style="background-image: url('img/index/sec9.jpg')"></div>
        </div>
    </section>

    <section class="main-flatsMinPrices">
        <div class="main-section__title main-section__title_flatsMinPrices">Квартиры</div>
        <div class="main-flatsMinPrices__list">
            <div class="main-flatsMinPrices__listItem">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="#">
                        <img src="https://izumrudnie-holmi.ru/upload/information_system_2/6/8/6/item_6869/information_items_property_63510.png" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">студии</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">2,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">21,8 – 50,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="#">
                        <img src="https://izumrudnie-holmi.ru/upload/information_system_2/8/3/9/item_8394/information_items_property_78466.svg" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">однокомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">3,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">50,8 – 70,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="">
                        <img src="https://izumrudnie-holmi.ru/upload/information_system_2/6/8/8/item_6887/information_items_property_63564.png" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">двухкомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">4,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">71,8 – 90,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem main-flatsMinPrices__listItem_centered">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="">
                        <img src="https://izumrudnie-holmi.ru/upload/information_system_2/8/3/9/item_8394/information_items_property_78466.svg" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">трехкомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">5,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">91,8 – 150,9 м&sup2;</div>
            </div>
            <div class="main-flatsMinPrices__listItem main-flatsMinPrices__listItem_centered">
                <div class="main-flatsMinPrices__listImgBox">
                    <a href="">
                        <img src="https://izumrudnie-holmi.ru/upload/information_system_2/7/6/5/item_7655/information_items_property_71488.svg" alt="" class="main-flatsMinPrices__listImg">
                    </a>
                </div>
                <div class="main-flatsMinPrices__listName">четырехкомнатные</div>
                <div class="main-flatsMinPrices__listPrice">от <span class="main-flatsMinPrices__glow">6,6 млн</span> руб.</div>
                <div class="main-flatsMinPrices__listSqr">121,8 – 150,9 м&sup2;</div>
            </div>
        </div>
    </section>
</div>

<div id="mail-banner" data-banner="v1" style="display: none; padding: 0px; margin: 40px">
    <div class="mail-banner">
        <div class="mail-banner__inner">
            <div class="mail-banner__tlt">Все детали о комплексе на&nbsp;вашу почту</div>
            <p>Подпишитесь, чтобы узнать о важных деталях проекта и вариантах покупки квартир в ЖК «Летний сад»</p>
            <form id="mail-banner-form" action="/" method="post" class="page-form _mail ws-validate">
                <div class="page-form__step">
                    <label class="page-form__lbl">
                        <input type="email" class="page-form__inp" required>
                        <em class="page-form__placeholder">Ваш E-mail</em>
                    </label>
                    <input type="submit" class="button _green" value="подписаться">
                </div>
                <div class="page-form__step">
                    <label class="page-form__lbl checkbox">
                        <input data-errormessage="Пожалуйста, подтвердите согласие на обработку данных." type="checkbox" name="email-agreement" checked required class="checkbox__inp">
                        <div class="checkbox__txt">Я даю согласие не обработку своих <a href="">персональных данных</a></div>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="bn1" class="PBn" data-banner="simple" style="display: none; padding: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;margin: 0 20px;">
    <a href="/choose/?discount=1">
        <img src="/img/banners/d1.png" alt="" class="hidden-xs hidden-sm" style="max-width:100%;height:auto;" />
        <img src="/img/banners/m1.png" alt="" class="hidden-md hidden-lg hidden-xl hidden-xxl" style="max-width:100%;height:auto;max-height: 90vh;" />
    </a>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/index.js"></script>
{% endblock %}
