<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <header class="header">
        <div class="header-container">
            <a href="/" class="header__logo"><img src="img/logo.svg" alt=""></a>
            <nav class="header-menu">
                <div class="header-menu__item ">
                    <a href="javascript:;" class="header-menu__link">Преимущества</a>
                    <div class="header-submenu">
                        <a href="/complex/location/" class="header-submenu__link ">Расположение</a>
                        <a href="/flats/" class="header-submenu__link ">Квартиры</a>
                        <a href="/complex/territory/" class="header-submenu__link ">Территория комфорта</a>
                        <a href="/complex/children/" class="header-submenu__link ">Микрорайон для детей</a>
                        <a href="/complex/security/" class="header-submenu__link ">Безопасность</a>
                        <a href="/complex/forest-yard/" class="header-submenu__link ">Вид на лес и собственный парк</a>
                        <a href="/complex/technologies/" class="header-submenu__link ">Технологии</a>
                        <a href="/autoparking/" class="header-submenu__link ">Подземный паркинг</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="javascript:;" class="header-menu__link">Информация</a>
                    <div class="header-submenu">
                        <a href="/about/gallery/" class="header-submenu__link ">Галерея</a>
                        <a href="/showroom/" class="header-submenu__link ">Шоурум</a>
                        <a href="/about/photos/" class="header-submenu__link ">Фото жителей</a>
                        <a href="/about/diary/" class="header-submenu__link ">Ход строительства</a>
                        <a href="/about/camera/" class="header-submenu__link ">Веб-камеры</a>
                        <a href="/about/developer/" class="header-submenu__link ">О застройщике</a>
                        <a href="http://zatonskoe.ru/" class="header-submenu__link " target="_blank">Документы</a>
                        <a href="http://www.etalon-invest.com/how_to_buy/help/" class="header-submenu__link " target="_blank">Купившим</a>
                        <a href="/payment/" class="header-submenu__link ">Онлайн-оплата</a>
                        <a href="/about/news/" class="header-submenu__link ">Новости</a>
                        <a href="/contacts/" class="header-submenu__link header-submenu__link_contacts">Контакты</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="/genplan/" class="header-menu__link">Выбор квартиры</a>
                </div>
                <div class="header-menu__item header-menu__item_commercial">
                    <a href="javascript:;" class="header-menu__link">Нежилые помещения</a>
                    <div class="header-submenu">
                        <a href="/parking/" class="header-submenu__link ">Паркинг</a>
                        <a href="/commercial/" class="header-submenu__link ">Коммерческая недвижимость</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="/buy/" class="header-menu__link">Как купить</a>
                    <div class="header-submenu">
                        <a href="/mortgage/" class="header-submenu__link ">Ипотека от 8,5%</a>
                        <a href="/buy/trade-in/" class="header-submenu__link ">Trade-In</a>
                        <a href="/buy/installment/" class="header-submenu__link ">Рассрочка</a>
                        <a href="/buy/maternity-capital/" class="header-submenu__link ">Материнский капитал</a>
                        <a href="/buy/military/" class="header-submenu__link ">Военная ипотека</a>
                        <a href="/buy/semejnaya-ipoteka/" class="header-submenu__link ">Семейная ипотека</a>
                    </div>
                </div>
                <div class="header-menu__item ">
                    <a href="/actions/" class="header-menu__link">Акции</a>
                </div>
                <div class="header-menu__item header-menu__item_contacts">
                    <a href="/contacts/" class="header-menu__link">Контакты</a>
                    <span class="header-menu__sticker">5 фев – выходной в офисе продаж</span>
                </div>
            </nav>
            <a href="#" class="LKEnter _header">
                <span class="LKEnter_icon">{% include "includes/svg/icon_lk.svg" %}</span>
            </a>
            <div class="header__phoneLinks">
                <div class="header__phone">
                    <a href="tel:74953244421">
                        <img src="img/icon_phone-black.svg" alt="">
                        <span>+7 495 324-44-21</span>
                    </a>
                </div>
                <a href="" class="header__callMe">Заказать звонок</a>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        <nav class="footer-menu">
            <div class="footer-menu-col">
                <a href="#" class="footer-menu-link">Жилой комплекс</a>
                <a href="#" class="footer-menu-sublink">Двор – парк без машин</a>
                <a href="#" class="footer-menu-sublink">Все для детей любых возрастов</a>
                <a href="#" class="footer-menu-sublink">Город в городе</a>
                <a href="#" class="footer-menu-sublink">Расположение</a>
                <a href="#" class="footer-menu-sublink">Красота и функциональность</a>
                <a href="#" class="footer-menu-sublink">Технология</a>
            </div>
            <div class="footer-menu-col">
                <a href="" class="footer-menu-link">Информация</a>
                <a href="" class="footer-menu-sublink">Галерея</a>
                <a href="" class="footer-menu-sublink">3D тур</a>
                <a href="" class="footer-menu-sublink">Видео о проекте</a>
                <a href="" class="footer-menu-sublink">Ход строительства</a>
                <a href="" class="footer-menu-sublink">О застройщике</a>
                <a href="" class="footer-menu-sublink">Документы</a>
                <a href="" class="footer-menu-sublink">Бюллетень строительства</a>
                <a href="news.html" class="footer-menu-sublink">Новости</a>
                <a  href="http://yk-dmitrovskaya.ru/" target="_blank" class="footer-menu-sublink">Документы</a>

            </div>
            <div class="footer-menu-col">
                <a href="filters.html" class="footer-menu-link">Выбор квартиры</a>
                <a href="#" class="footer-menu-link">Акции</a>
                <a href="#" class="footer-menu-link">Ипотека</a>
                <a href="#" class="footer-menu-link">Рассрочка</a>
                <a href="#" class="footer-menu-link">Нежилые помещения</a>
                <a href="#" class="footer-menu-link">Паркинг</a>
                <a href="contacts.html" class="footer-menu-link">Контакты</a>
            </div>
            <div class="footer-menu-col footer-menu-col_subscribe-wrap">
                {#<div class="footer-menu-other-link-wrap">
                    <a href="#" class="footer-menu-other-link">ДОКУМЕНТЫ</a>
                    <a href="#" class="footer-menu-other-link">Другие Проекты</a>
                    <a href="#" class="footer-menu-other-link">Описание</a>
                </div>#}
                <div class="footer__phone">
                    <a href="tel:74953244421">
                        <img src="img/icon_phone_white.svg" alt="">
                        <span>+7 495 324-44-21</span>
                    </a>
                </div>
                <a href="#" class="LKEnter _footer">
                    <span class="LKEnter_txt">Личный кабинет</span>
                </a>
                <div class="footer-subscribe">
                    <a href="#" class="footer-subscribe__link">Подписаться на рассылку</a>
                    <form action="" class="footer-subscribe__form" data-action="/ajax/form-response.json">
                        <div class="styled-input">
                            <input class="footer-subscribe__input" type="email" required />
                            <label class="footer-subscribe__label">Электронная почта</label>
                            <button class="footer-subscribe__submit" type="submit"></button>
                            <button class="footer-subscribe__reset" type="reset"></button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="footer-bottom">
            <div class="footer-info">
                <div class="footer-copyright">© 2018 ГРУППА ЭТАЛОН</div>
                <div class="footer-text">Любая информация, размещенная на сайте, не является публичной офертой</div>
            </div>
            <div class="footer-socials footer-socials_mobile">
                <span class="footer-socials__item footer-socials__item_share SocShare">
                    <span class="SocShare_toolp">
                        <a href="#" target="_blank" class="SocShare_item _fb"></a>
                        <a href="#" target="_blank" class="SocShare_item _vk"></a>
                    </span>
                </span>
                <a href="https://www.facebook.com/etalonsad" target="_blank" class="footer-socials__item footer-socials__item_fb"></a>
                <a href="https://vk.com/etalonsad" target="_blank" class="footer-socials__item footer-socials__item_vk"></a>
                <a href="https://www.instagram.com/etalonsad/" target="_blank" class="footer-socials__item footer-socials__item_insta"></a>
                <a href="https://www.youtube.com/channel/UCeZOtpDYrBl42sYuL0zxR8Q" target="_blank" class="footer-socials__item footer-socials__item_yt"></a>
                {#<a href="https://telegram.me/EtalonInvest" target="_blank" class="footer-socials__item footer-socials__item_tlg"></a>#}
                {#<a href="https://plus.google.com/u/1/+%D0%AD%D1%82%D0%B0%D0%BB%D0%BE%D0%BD%D0%98%D0%BD%D0%B2%D0%B5%D1%81%D1%822017" target="_blank" class="footer-socials__item footer-socials__item_ggl"></a>#}
            </div>
        </div>
    </footer>
    <div class="full-menu-overlay"></div>
    <div id="full-menu-popup" class="full-menu-popup">
        <nav class="full-menu">
            <div class="full-menu-col">
                <a href="#" class="full-menu-link full-menu-link_disable full-menu-link_active">
                <span>Жилой комплекс</span>
            </a>
                <div class="full-menu_submenu">
                    <a href="#" class="full-menu-sublink">
                    <span>Двор – парк без машин</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Все для детей любых возрастов</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Город в городе</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Расположение</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Красота и функциональность</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Технология</span>
                </a>
                </div>
            </div>
            <div class="full-menu-col">
                <a href="#" class="full-menu-link full-menu-link_disable full-menu-link_active">
                <span>Информация</span>
            </a>
                <div class="full-menu_submenu">
                    <a href="#" class="full-menu-sublink full-menu-sublink_active">
                    <span>Галерея</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>3D тур</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Видео о проекте</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Ход строительства</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>О застройщике</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Документы</span>
                </a>
                    <a href="#" class="full-menu-sublink">
                    <span>Бюллетень строительства</span>
                </a>
                    <a href="news.html" class="full-menu-sublink">

                    <span>Новости</span>
                </a>
                    <a href="http://yk-dmitrovskaya.ru/" target="_blank" class="full-menu-sublink">

                        <span>Документы</span>
                    </a>

                </div>
            </div>
            <div class="full-menu-col">
                <a href="filters.html" class="full-menu-link full-menu-link_select-flat full-menu-link_active">
                <span>Выбор квартиры</span>
            </a>
                <a href="#" class="full-menu-link">
                <span>Акции</span>
            </a>
                <a href="#" class="full-menu-link">
                <span>Ипотека</span>
            </a>
                <a href="#" class="full-menu-link">
                <span>Рассрочка</span>
            </a>
                <a href="#" class="full-menu-link">
                <span>Нежилые помещения</span>
            </a>
                <a href="#" class="full-menu-link">
                <span>Паркинг</span>
            </a>
                <a href="contacts.html" class="full-menu-link">
                <span>Контакты</span>
            </a>
                <a href="#" class="LKEnter _dropMenu">
                    <span class="LKEnter_icon">{% include "includes/svg/icon_lk.svg" %}</span>
                    <span class="LKEnter_txt">Личный кабинет</span>
                </a>
            </div>
            <div class="full-menu-other-link-wrap">
                <a href="#" class="full-menu-other-link full-menu-other-link_active">
                <span>Документы</span>
            </a>
                <a href="#" class="full-menu-other-link">
                <span>Другие проекты</span>
            </a>
                <a href="#" class="full-menu-other-link">
                <span>Описание</span>
            </a>
            </div>
        </nav>
    </div>
    <div style="display: none;" class="modal-banner">
        <div class="modal-banner-inner">
            <div class="modal-banner__bg"></div>
            <div class="modal-banner__content">
                <div class="modal-banner__title">Берите выше!</div>
                <div class="modal-banner__text">Дополнительная
                    <br> скидка 3%</div>
                <div class="modal-banner__subtext">Только в январе!</div>
                <a href="#" class="modal-banner__btn">Подробнее</a>
                <button data-fancybox-close class="modal-banner__close">
                    <img src="img/close-popup-light.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="page-sidebar" data-sidebar>
        <div class="page-sidebar__inner">
            <em class="page-sidebar__close"></em>
        </div>
    </div>

    <div class="CookiesAgree _hide" data-cookiesagree>
        <div class="CookiesAgree_txt">
            Информируем вас о сборе метаданных (cookie, ip-адрес и местоположение) для корректного функционирования сайта.<br>Если вы согласны с нашими способами использования файлов cookie, просто продолжайте пользоваться сайтом.
        </div>
        <button class="CookiesAgree_btn" data-cookiesagree-btn>Соглашаюсь</button>
    </div>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAA-oOFEKzokMQ8TKHlnXGwc872ewvVM40"></script>
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    {% include "includes/blocks/call-form.njk" %}
    {% block page_bottom %}{% endblock %}
</body>

</html>
