{% set title = "Лонгрид расположение" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n7">
    <h1 class="longread-banner__title longread-banner__title_L3">Территория, полная комфорта</h1>
</section>

<div class="wrapper wrapper-forLongread">

    <section class="longread-section">
        <div class="longread-section__containerChildren">
            <header class="longread-section__header">
                <p>ЖК «Изумрудные холмы» — это полностью сформированный и обжитой микрорайон, заселенный на 80%, с развитой функционирующей инфраструктурой. Здесь вы сможете проводить время с пользой и удовольствием, не тратя на дорогу ни одной лишней минуты.</p>
            </header>

            <div class="longread-row">
                <div class="longread-col">
                    <ul class="longread-list">
                        <li class="longread-list__item">
                            Кафе, рестораны и пекарни
                            <span>С разнообразной кухней</span>
                        </li>
                        <li class="longread-list__item _num">
                            <span class="_num">4</span> детских сада
                            <span>Включая сад с углубленным изучением<br> английского языка</span>
                        </li>
                    </ul>

                    <div class="longread-image _absolute _03 _small _pc"></div>
                    <div class="longread-image _absolute _02 _medium _pc"></div>
                    <div class="longread-image _absolute _04 _medium _mob"></div>
                </div>
                <div class="longread-col">
                    <div class="longread-image _absolute _01 _large"></div>
                </div>
            </div>

            <div class="longread-row _last">
                <div class="longread-col">
                    <div class="longread-image _absolute _05 _large"></div>
                    <div class="longread-image _absolute _06 _medium _pc"></div>
                    <div class="longread-image _absolute _04 _medium _tablet _pc"></div>
                    <ul class="longread-list _tablet">
                        <li class="longread-list__item">
                            В ближайшее время
                            <span>Планируется открытие еще 3 детских садов и 2 школ, в том числе балетной</span>
                        </li>
                    </ul>
                </div>
                <div class="longread-col">
                    <div class="longread-image _absolute _04 _medium"></div>
                    <ul class="longread-list _modified">
                        <li class="longread-list__item _num">
                            <span class="_num">3</span> школы
                            <span>Среди которых есть прекрасная художественная школа и общеобразовательная, получившая в 2016 году диплом лучшей школы Подмосковья.</span>
                        </li>
                        <li class="longread-list__item">
                            Отделения поликлиники
                            <span>А также частные медицинские центры и молочная кухня.</span>
                        </li>
                        <li class="longread-list__item _mob">
                            <div class="longread-image _07 _mob _medium"></div>
                        </li>
                        <li class="longread-list__item">
                            На первых этажах домов
                            <span>Расположены магазины, салоны красоты, предприятия бытового обслуживания.</span>
                        </li>
                        <li class="longread-list__item">
                            Магазины
                            <span>Уже работают детские, строительные, продуктовые и другие магазины.</span>
                        </li>
                        <li class="longread-list__item">
                            В ближайшее время
                            <span>Планируется открытие еще 3 детских садов и 2 школ, в том числе балетной</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="longread-links-position-park">
        {% include "./includes/chunks/longread-links.njk" %}
    </div>

</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
{% endblock %}
