{% set title = "Лонгрид паркинг" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n6">
    <h1 class="longread-banner__title longread-banner__title_L3">Паркинг</h1>
</section>

<div class="wrapper wrapper-forLongread">

    <section class="longread-section">
        <div class="longread-section__descr longread-section__descr_L6Sec2">
            <p>Концепция «Дворы без машин» подразумевает отсутствие парковочных мест во
                дворах отдельных корпусов. Вместо них вы сможете оставлять свой автомобиль
                в удобном подземном паркинге.</p>
            <a href="/parking/?parkingChoiceBld=0&sort=&sortdir=&offset=0" class="btn-more btn-more--solid">ВЫБРАТЬ МАШИНОМЕСТО</a>
        </div>
    </section>

    <section class="longread-section">
        <div class="parking-grid-container">
            <div class="parking-grid parking-grid_desktop">
                <div class="parking-grid__item">
                    <div class="parking-grid__text">
                        <span>Паркинг</span> <br>
                        микрорайона вмещает <br>
                        <span>4478</span> автомобилей.
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/01.jpg');"></div>
                </div>
                <div class="parking-grid__item parking-grid__item_center parking-grid__item_top">
                    <div class="parking-grid__text">
                        <span>Отапливаемые помещения</span> <br>
                        с машиноместами разной <br>
                        площади
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/02.jpg');"></div>
                </div>
                <div class="parking-grid__item">
                    <div class="parking-grid__text">
                        <span>Круглосуточная охрана. </span><br>
                        Въезд и выезд осуществляется <br>
                        через шлагбаумы.
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/03.jpg');"></div>
                </div>
            </div>

            <div class="parking-grid parking-grid_desktop">
                <div class="parking-grid__item">
                    <div class="parking-grid__text">
                        <span>Все помещения оснащены</span> <br>
                        системой противопожарной <br>
                        безопасности
                        <br><br>
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/04.jpg');"></div>
                </div>
                <div class="parking-grid__item parking-grid__item_center">
                    <div class="parking-grid__text">
                        <span>Высота потолка</span> при въезде <br>
                        в паркинг — <span>2.66 метра</span>, <br>
                        обеспечивающей проезд даже
                        большого внедорожника <br>
                        с верхним багажником
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/05.jpg');"></div>
                </div>
                <div class="parking-grid__item">
                    <div class="parking-grid__text">
                        <span>Скоростные лифты Otis</span> <br>
                        доставляют жителей многих <br>
                        корпусов от паркинга <br>
                        до собственного этажа.
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/06.jpg');"></div>
                </div>
            </div>

            <div class="parking-grid parking-grid_mobile">
                <div class="parking-grid__item parking-grid__item_left">
                    <div class="parking-grid__text">
                        <span>Паркинг</span> <br>
                        микрорайона вмещает <br>
                        <span>4478</span> автомобилей.
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/01.jpg');"></div>
                </div>
                <div class="parking-grid__item parking-grid__item_right">
                    <div class="parking-grid__text">
                        <span>Отапливаемые помещения</span> <br>
                        с машиноместами разной <br>
                        площади
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/02.jpg');"></div>
                </div>
            </div>

            <div class="parking-grid parking-grid_mobile">
                <div class="parking-grid__item parking-grid__item_left parking-grid__item_leftBottom">
                    <div class="parking-grid__text">
                        <span>Круглосуточная охрана. </span><br>
                        Въезд и выезд осуществляется <br>
                        через шлагбаумы.
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/03.jpg');"></div>
                </div>
                <div class="parking-grid__item parking-grid__item_right parking-grid__item_rightBottom">
                    <div class="parking-grid__text">
                        <span>Все помещения оснащены</span> <br>
                        системой противопожарной <br>
                        безопасности
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/04.jpg');"></div>
                </div>
            </div>

            <div class="parking-grid parking-grid_mobile">
                <div class="parking-grid__item parking-grid__item_left">
                    <div class="parking-grid__text">
                        <span>Высота потолка</span> при въезде <br>
                        в паркинг — <span>2.66 метра</span>, <br>
                        обеспечивающей проезд даже
                        большого внедорожника
                        с верхним багажником
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/05.jpg');"></div>
                </div>
                <div class="parking-grid__item parking-grid__item_right">
                    <div class="parking-grid__text">
                        <span>Скоростные лифты Otis</span> <br>
                        доставляют жителей многих
                        корпусов от&nbsp;паркинга
                        до собственного этажа.
                    </div>
                    <div class="parking-grid__img" style="background-image: url('img/longread-6/06.jpg');"></div>
                </div>
            </div>
        </div>
    </section>




    <div class="longread-links-position-park">
        {% include "./includes/chunks/longread-links.njk" %}
    </div>

</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
{% endblock %}