{% set title = "Лонгрид расположение" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n5">
    <h1 class="longread-banner__title longread-banner__title_L3">Удобное расположение</h1>
</section>

<div class="wrapper wrapper-forLongread">

    <section class="longread-section">
        <div class="longread-section__descr longread-section__descr_L5Sec2">
            <p>Микрорайон находится в 8 километрах от МКАД
                и 22 километрах от центра Москвы по адресу:
                Московская область, г. Красногорск, бульвар Космонавтов.</p>
        </div>
       <div class="metro-info">
           <div class="metro-info__title">
              Теперь вы будете жить
              <span> Еще ближе к Москве</span>
           </div>
           <div class="metro-info__descr">
               <p>Совсем скоро центр Москвы станет намного ближе для жителей «Изумрудных холмов».
                   Ведь непосредственно через Красногорск пройдет одна из линий «наземного метро».</p>
               <p><strong>Его открытие запланировано на середину 2019 года.</strong></p>
           </div>
           <div class="metro-info__descr">
               <p>Быстрые комфортабельные «Ласточки»,
                   отлично известные москвичам благодаря МЦК и аэроэкспрессам, позволят
                   до 2 раз сократить время на дорогу!</p>
           </div>
       </div>
    </section>

    <div class="metro-cols">
        <div class="metro-fast">
            <div class="metro-content">
                <img src="img/longread-5/fast-icon.png" alt="" class="metro-cols__img">
                <div class="metro-cols__title">Быстро</div>
                <p class="metro-cols__text metro-cols__text_desktop">
                    «Ласточки» способны развивать скорость до 160 км/ч, двигаясь плавно
                    и практически бесшумно. Вне зависимости от того, где вы работаете, вы сможете тратить на дорогу намного меньше времени!
                </p>
            </div>
        </div>
        <p class="metro-cols__text metro-cols__text_mobile">
            «Ласточки» способны развивать скорость до 160 км/ч, двигаясь плавно
            и практически бесшумно. Вне зависимости от того, где вы работаете, вы сможете тратить на дорогу намного меньше времени!
        </p>

        <div class="metro-comfort">
            <div class="metro-content">
                <img src="img/longread-5/comfort-icon.png" alt="" class="metro-cols__img">
                <div class="metro-cols__title">Комфортно</div>
                <p class="metro-cols__text metro-cols__text_desktop">Поезда будут ходить каждые несколько минут, так что вы всегда сможете доехать до работы в мягком кресле, с удовольствием читая
                    любимую книгу или слушая музыку.</p>
            </div>
        </div>
        <p class="metro-cols__text metro-cols__text_mobile">Поезда будут ходить каждые несколько минут, так что вы всегда сможете доехать до работы в мягком кресле, с удовольствием читая
            любимую книгу или слушая музыку.</p>
    </div>

    <section class="longread-section">
        <div class="longread-section__road-wrapper">
            <div class="longread-section__road-img">
                <img src="img/longread-5/road.png" alt="">
            </div>
            <div class="longread-section__road-content">
                <div class="longread-section__title longread-section__title_road">Автомобильная развязка</div>
                <div class="longread-section__text">
                    <p>В ближайшее время будет построена многоуровневая
                        развязка, что позволит вдвое увеличить пропускную
                        способность Волоколамского шоссе.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_routes">
        <div class="longread-routes">
            <div class="longread-routes__title">И на общественном транспорте, и на автомобиле</div>
            <div class="longread-routes__subtitle">доехать до комплекса будет легко и удобно.</div>

            <div class="longread-routes-links">
                <a href="" data-route-text="route-auto" class="longread-routes-links__item longread-routes-links__item_auto longread-routes-links__item_active"><span>На автомобиле</span></a>
                <a href="" data-route-text="route-transport" class="longread-routes-links__item longread-routes-links__item_transport"><span>Наземный транспорт</span></a>
                <a href="" data-route-text="route-railway" class="longread-routes-links__item longread-routes-links__item_railway"><span>Железная дорога</span></a>
                <a href="" data-route-text="route-metro" class="longread-routes-links__item longread-routes-links__item_metro"><span>Легкое метро</span></a>

                <div data-route-link="route-auto" class="longread-routes-links__mobileText longread-routes-links__mobileText_active"><span>На автомобиле</span></div>
                <div data-route-link="route-transport" class="longread-routes-links__mobileText"><span>Наземный транспорт</span></div>
                <div data-route-link="route-railway" class="longread-routes-links__mobileText"><span>Железная дорога</span></div>
                <div data-route-link="route-metro" class="longread-routes-links__mobileText"><span>Легкое метро</span></div>

            </div>


            <div id="route-auto" class="longread-routes__descr longread-routes__descr_active">
                Вы сможете доехать до Москвы по любой из ближайших транспортных магистралей:
                Волоколамскому, Ильинскому или Новорижскому шоссе.

                <div class="longread-routes-btns">
                    <a href="" id="route-auto-1" class="longread-routes-btns__item longread-routes-btns__item_active">По Волоколамскому шоссе</a>
                    <a href="" id="route-auto-2" class="longread-routes-btns__item">По Новорижскому шоссе</a>

                </div>
            </div>
            <div id="route-transport" class="longread-routes__descr">
                Рядом с комплексом предусмотрена остановка общественного транспорта, который доставит вас
                к&nbsp;метро Митино, Тушинская и Сходненская.

                <div class="longread-routes-btns">
                    <a href="" id="route-metro-1" class="longread-routes-btns__item longread-routes-btns__item_active">до метро «Митино»</a>
                    <a href="" id="route-metro-2" class="longread-routes-btns__item">до метро «Тушинская»</a>
                    <a href="" id="route-metro-3" class="longread-routes-btns__item">до метро «Сходненская»</a>
                </div>
            </div>
            <div id="route-railway" class="longread-routes__descr">
                С ж/д станции «Опалиха», расположенной в 10 минутах от вашего нового дома, вы можете быстро и&nbsp;удобно добраться
                до центра Москвы, до Курского или Рижского вокзалов.
            </div>
            <div id="route-metro" class="longread-routes__descr">Уже совсем скоро, в 2019 году, вы сможете быстрее добираться до центра Москвы и возвращаться домой
                с&nbsp;помощью легкого метро, линия которого пройдет рядом с&nbsp;ЖК «Изумрудные холмы».
                Скоростные, комфортные поезда будут ходить с&nbsp;интервалом 6 минут.</div>
        </div>

        <div class="longread-routes__map"></div>

    </section>


    <div class="longread-links-position-park">
        {% include "./includes/chunks/longread-links.njk" %}
    </div>

</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
<script src="js/longread-map.js"></script>
{% endblock %}