{% set title = "Лонгрид вид на лес" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n3">
    <h1 class="longread-banner__title longread-banner__title_L3">Вид на лес и&nbsp;собственный парк</h1>
</section>

<div class="wrapper wrapper-forLongread">



    <section class="longread-section">
        <div class="longread-section__descr longread-section__descr_L3Sec2">
            <p>ЖК «Изумрудные холмы» — микрорайон для тех,
                кто любит дышать свободно.</p>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__title longread-section__title_L3Sec3">На прилегающей территории расположен прекрасно оборудованный парк.</div>
        <div class="longread-section__descr longread-section__descr_L3Sec3">
            <p>А чуть дальше любители долгих прогулок найдут для себя 100 га первозданного леса. Практически
                из каждого окна вы сможете круглый год видеть бесконечные зеленые пространства.
                А чтобы получить заряд бодрости и свежего воздуха, достаточно будет просто открыть окно.</p>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_second main-section__col_secondTablet">
            <div class="main-section__content main-section__content_right main-section__content_longread main-section__content_longreadRight">
                <div class="main-section__title main-section__title_longread">Парк внутри</div>
                <ul class="main-section__list main-section__list_circleOrange">
                    <li>Парк-победитель конкурса лучших девелоперских проектов FIABCI-Россия;</li>
                    <li>8 га облагороженной территории, где вы круглый год сможете проводить время с удовольствием; </li>
                    <li>Широкие дорожки для бега, езды на велосипеде и прогулок с детскими колясками;</li>
                    <li>Современные детские площадки, песочницы, изящные фигуры героев любимых сказок порадуют ваших детей;</li>
                    <li>Оборудованные и безопасные спортивные площадки подойдут и любителям и профессиональным спортсменам;</li>
                    <li>Зоны для шашлыков и барбекю, где так приятно провести целый день с семьей и друзьями.</li>
                </ul>

            </div>
        </div>
        <div class="main-section__col main-section__col_first main-section__col_firstTablet">
            <div class="main-section__img" style="background-image: url('img/longread-3/sec4.jpg')"></div>
        </div>
    </section>

    <section class="main-section">
        <div class="main-section__col main-section__col_first main-section__col_secondTablet">
            <div class="main-section__content main-section__content_left main-section__content_longread main-section__content_longreadLeft">
                <div class="main-section__title main-section__title_longread">Лес снаружи</div>
                <ul class="main-section__list main-section__list_circleOrange">
                    <li>100 га смешанного, преимущественно хвойного леса, который круглый год будет радовать вас зеленым цветом и даст возможность всегда наслаждаться свежим воздухом;</li>
                    <li>Идеальное место для прогулок и походов с детьми в шаговой доступности от дома;</li>
                    <li>Законодательный запрет на вырубку деревьев гарантирует сохранность лесной зоны.</li>
                </ul>
            </div>
        </div>
        <div class="main-section__col main-section__col_second main-section__col_firstTablet">
            <div class="main-section__img" style="background-image: url('img/longread-3/sec5.jpg')"></div>
        </div>
    </section>






    <div class="longread-links-position-park">
        {% include "./includes/chunks/longread-links.njk" %}
    </div>

</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
{% endblock %}