{% set title = "Лонгрид расположение" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n8">
    <h1 class="longread-banner__title longread-banner__title_L3">Квартиры</h1>
</section>

<div class="wrapper wrapper-forLongread longread8">

    <section class="longread-section">
        <div class="longread-section__containerChildren">
            <header class="longread-section__header longread-section__header--fullTablet">
                <p>«Изумрудные холмы» — это большой микрорайон,<br> в котором вы легко<br> найдете для себя подходящее жилье.</p>
                <div class="longread-section__header-controls">
                    <a href="#" class="btn-more btn-more--solid">выбрать квартиру с отделкой</a>
                    <a href="#" data-scrollTo="showroom" class="btn-more">Прогулка по шоуруму</a>
                </div>
            </header>

            <div class="longread8-row">
                <div class="longread8-col">
                    <div class="longread8__tlt _green">Сейчас вы можете выбрать <strong>квартиру от небольшой, 21.8&nbsp;м<sup>2</sup> студии до <nobr>4&ndash;комнатной</nobr> квартиры площадью 128.7&nbsp;м<sup>2</sup></strong></div>
                    <p><em>Почти все квартиры находится в сданных корпусах.</em></p>
                    <div class="longread8__descr">В каждой есть застекленная лоджия или балкон без остекления. Широкие и высокие окна вместе с потолками высотой 2,72&nbsp;м подарят вам пространство, наполненной светом и лесным воздухом. На балконах и лоджиях предусмотрены специальные места для кондиционеров с вентиляционными решетками.</div>
                    <blockquote>Внутри квартир уже есть межкомнатные перегородки, которые вы сможете сохранить или снести, если пожелаете изменить внутреннее пространство под себя.</blockquote>
                </div>
                <div class="longread8-col">
                    <div class="longread8__square">квартиры от
                        <div>21.8&nbsp;м<sup>2</sup><br> до 128.7&nbsp;м<sup>2</sup></div>
                    </div>
                    <div class="longread8-image _large"></div>
                    <div class="longread8-image _small"></div>
                </div>
            </div>
            <div class="longread8-row">
                <div class="longread8-col">
                    <div class="longread8-image _medium"></div>
                </div>
                <div class="longread8-col">
                    <div class="longread8-text">
                        <div class="longread8-text__tlt">Квартиры с отделкой</div>
                        <p>Для тех, кто не желает тратить свое время и силы на ремонт, мы подготовили исключительное предложение — квартиры с отделкой.</p>
                        <p class="_green"><em>Выбрав этот вариант, вы сможете заехать сразу же после получения ключей.</em></p>
                        <p>При этом, зная избирательность вкуса наших клиентов, мы предлагаем вам две разные концепции отделки.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="longread-section">
        <div class="longread-section__containerChildren">
            <header class="longread-section__header _bottom">
                <p>Выбирайте, заказывайте мебель<br> и добро пожаловать в ваше новое готовое жилье!</p>
            </header>
        </div>
    </section>

    <section class="longread-slider">
        <div class="swiper-container" data-longread-slider>
            <div class="swiper-wrapper">
                <div class="slider-months-slide swiper-slide">
                    <div class="slider-months-slide__content" style="background-image: url('/img/longread-8/gallery1.jpg')">
                        <div class="slider-months-fraction">
                            <span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">5</span>
                        </div>
                    </div>
                </div>
                <div class="slider-months-slide swiper-slide">
                    <div class="slider-months-slide__content" style="background-image: url('/img/longread-8/gallery2.jpg')">
                        <div class="slider-months-fraction">
                            <span class="swiper-pagination-current">2</span> / <span class="swiper-pagination-total">5</span>
                        </div>
                    </div>
                </div>
                <div class="slider-months-slide swiper-slide">
                    <div class="slider-months-slide__content" style="background-image: url('/img/longread-8/gallery3.jpg')">
                        <div class="slider-months-fraction">
                            <span class="swiper-pagination-current">3</span> / <span class="swiper-pagination-total">5</span>
                        </div>
                    </div>
                </div>
                <div class="slider-months-slide swiper-slide">
                    <div class="slider-months-slide__content" style="background-image: url('/img/longread-8/gallery2.jpg')">
                        <div class="slider-months-fraction">
                            <span class="swiper-pagination-current">4</span> / <span class="swiper-pagination-total">5</span>
                        </div>
                    </div>
                </div>
                <div class="slider-months-slide swiper-slide">
                    <div class="slider-months-slide__content" style="background-image: url('/img/longread-8/gallery3.jpg')">
                        <div class="slider-months-fraction">
                            <span class="swiper-pagination-current">5</span> / <span class="swiper-pagination-total">5</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <div class="longread-links-position-park">
        {% include "./includes/chunks/longread-links.njk" %}
    </div>

</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
{% endblock %}
