{% set title = "Лонгрид Микрорайон для детей" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n4">
    <h1 class="longread-banner__title longread-banner__title_L3">Микрорайон для&nbsp;детей</h1>
</section>

<div class="wrapper wrapper-forLongread">

    <section class="longread-section longread-section_L4Sec1">
        <div class="longread-section__containerChildren">
            <div class="longread-section__col6 longread-section__col12-md longread-section__col_centerContent longread-section__col_order1">
                <div class="longread-section__content">
                    <div class="longread-section__title longread-section__title_L4Sec1">Жилой Комплекс «Изумрудные холмы»</div>
                    <div class="longread-section__descr longread-section__descr_L4Sec1">
                        <p>— это комплекс, в котором реализованы все возможности для развития детей, начиная с самого
                            раннего возраста. Здесь у вас точно не возникнет сложностей с тем, чтобы обучить и развлечь
                            маленьких жителей микрорайона. Ведь все, что для этого нужно, находится в шаговой
                            доступности.</p>
                    </div>
                </div>
            </div>
            <div class="longread-section__col6 longread-section__col12-md longread-section__col_order2">
                <div class="longread-section__img longread-section__img_L4Sec1 longread-section__img_border1"></div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_L4Sec2">
        <div class="longread-section__containerChildren">
            <div class="longread-section__col6 longread-section__col12-md longread-section__col_centerContent longread-section__col_order2 longread-section__col_orderTablet1">
                <div class="longread-section__content">
                    <div class="longread-section__title longread-section__title_L4Sec2">Здоровая атмосфера для новорожденных</div>
                    <div class="longread-section__descr longread-section__descr_L4Sec2">
                        <p>Известно, что для малышей нет ничего более полезного, чем свежий воздух. В прилегающем
                            парке предусмотрено все, чтобы вы смогли гулять с коляской и получать от этого удовольствие.
                            Широкие дорожки, скамейки, на которых вы сможете отдохнуть, песочницы, где детям так весело
                            играть, освещение, которое позволит вам не беспокоиться, даже если вы задержитесь на прогулке
                            позже обычного — все это создано для комфорта и удовольствия молодых мам.</p>
                    </div>
                </div>
            </div>
            <div class="longread-section__col6 longread-section__col12-md longread-section__col_order1 longread-section__col_orderTablet2">
                <div class="longread-section__img longread-section__img_L4Sec2"></div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_L4Sec3">
        <div class="longread-section__containerChildren">
            <div class="longread-section__col6 longread-section__col12-md longread-section__col_centerContent longread-section__col_order1">
                <div class="longread-section__content">
                    <div class="longread-section__title longread-section__title_L4Sec3">Условия для развития самых маленьких</div>
                    <div class="longread-section__descr longread-section__descr_L4Sec3">
                        <p>Непосредственно на территории «Изумрудных холмов» уже работают 2 встроенных и 1 отдельно
                            стоящий детский сад, так что места здесь хватит всем детям. А в детском саду № 8,
                            также на территории микрорайона, дети смогут учиться плавать в небольшом бассейне.
                            В пешей доступности расположены частные детские сады <span style="color:#f79719">«Абрикос»</span> и <span style="color:#1d8e62">«Sun School»</span>
                            с углубленным изучением английского языка. Занятия здесь ведут в том числе носители языка.</p>

                        <p class="p-line">Начальная школа № 17, открытая в 2013 году, предоставляет отличные возможности для обучения
                            детей с первого по четвертый класс. При школе действуют музыкальные и другие
                            кружки и секции.</p>

                        <p class="p-line">Многочисленные детские и спортивные площадки на территории «Изумрудных холмов» и
                            прилегающего парка позволят вашим детям играть и заниматься спортом в отличных условиях
                            и полной безопасности.</p>
                    </div>
                </div>
            </div>
            <div class="longread-section__col6 longread-section__col12-md longread-section__col_order2">
                <div class="longread-section__img longread-section__img_L4Sec3 longread-section__img_border2"></div>
            </div>
        </div>
    </section>

    <section class="longread-section longread-section_L4Sec4">
        <div class="longread-section__title longread-section__title_L4Sec4">Образование для тех, кто заботится о будущем</div>
        <div class="longread-section__containerChildren longread-section__containerChildren_nopadding">
            <div class="longread-section__col6 longread-section__col12-md">
                <div class="longread-section__descr longread-section__descr_L4Sec4 longread-section__descr_L4Sec4-n1">
                    <p>Ваши дети смогут посещать школу № 18, известную прежде всего тем, что в 2016 году была признана
                        лучшим реализованным проектом строительства объекта образования в России.</p>
                    <p class="p-line">Кроме того, здесь вы найдете прекрасную муниципальную художественную школу,
                        в которой дети старше 11 лет смогут попробовать себя в разных направления искусства.
                        В скором времени планируется открытие балетной и еще одной общеобразовательной школы.</p>
                </div>
            </div>
            <div class="longread-section__col6 longread-section__col12-md">
                <div class="longread-section__descr longread-section__descr_L4Sec4 longread-section__descr_L4Sec4-n2">
                    <p>Также в районе «Изумрудных холмов» представлено множество учреждений, предоставляющих все
                        возможности для получения образования и занятий спортом. Здесь вы найдете:</p>

                    <ul class="list list_circleGreen list_L4Sec4">
                        <li>Спортивно-патриотический клуб Сокол</li>
                        <li>Секции борьбы и бокса</li>
                        <li>Академию большого тенниса</li>
                        <li>Семейный центр «Улей»<span style="color:#f69220;">*</span></li>
                    </ul>
                </div>
            </div>
            <div class="longread-section__footNote">
                <span style="color:#f69220; font-size:16px;">*</span> Уникальный объект, объединивший детский сад и детский клуб раннего развития, танцы и фитнес, детский футбол и ушу, студию иностранных языков, академию ментальной арифметики, шахматный клуб и многое-многое другое.
            </div>
        </div>
    </section>






    <div class="longread-links-position-park">
        {% include "./includes/chunks/longread-links.njk" %}
    </div>

</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
{% endblock %}