{% set title = "Лонгрид безопасность" %}
{% extends "layout.njk" %}
{% block content %}

<section class="longread-banner longread-banner_n1">
    <h1 class="longread-banner__title">Безопасность</h1>
</section>

<div class="wrapper wrapper-forLongread">



    <section class="longread-section">
        <div class="">
            <div class="longread-section__descr longread-section__descr_L1Sec2">
                <p>Микрорайон «Изумрудные холмы» — это ваш новый дом,
                    в котором так легко чувствовать себя в полной безопасности и
                    спокойно отпускать детей гулять на детских площадках.</p>
            </div>
        </div>
    </section>

    <div class="longread-section">
        <div class="longread-section__container longread-section__container_L1Sec3">
            <div class="longread-section__col7 longread-section__col6-md longread-section__col12-xs">
                <div class="longread-section__img longread-section__img_L1Sec3"></div>
            </div>
            <div class="longread-section__col5 longread-section__col6-md longread-section__col12-xs">
                <div class="longread-section__title longread-section__title_L1Sec3">Закрытая территория</div>
                <div class="longread-section__descr longread-section__descr_L1Sec3">
                    <p>По границам территории дворов
                        установлены ограждения с&nbsp;кодовыми
                        замками.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="longread-section">
        <div class="longread-section__container longread-section__container_L1Sec4">
            <div class="longread-section__col5 longread-section__col6-md longread-section__col12-xs longread-section__col_order2 longread-section__col_orderMobile1">
                <div class="longread-section__img longread-section__img_L1Sec4"></div>
            </div>
            <div class="longread-section__col7 longread-section__col6-md longread-section__col12-xs longread-section__col_order1 longread-section__col_orderMobile2 longread-section__col_L1Sec4 longread-section__col_L1Sec4">
                <div class="longread-section__content longread-section__content_L1Sec4">
                    <div class="longread-section__title">Видеонаблюдение</div>
                    <div class="longread-section__descr">
                        <p>На территории микрорайона.</p>
                    </div>
                </div>

                <div class="longread-section__content longread-section__content_L1Sec4">
                    <div class="longread-section__title">Домофоны и консьержи</div>
                    <div class="longread-section__descr">
                        <p>Безопасность входных групп обеспечивают
                            домофонные системы и консьержи в каждом подъезде.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="longread-section">
        <div class="longread-section__container">
            <div class="longread-section__col7 longread-section__col6-md longread-section__col12-xs">
                <div class="longread-section__img longread-section__img_L1Sec5"></div>
            </div>
            <div class="longread-section__col5 longread-section__col6-md longread-section__col12-xs">
                <div class="longread-section__title longread-section__title_L1Sec5">Охраняемый паркинг</div>
                <div class="longread-section__descr longread-section__descr_L1Sec5">
                    <p>Доступ в паркинг осуществляется
                        по пропускам и находится под&nbsp;охраной.</p>
                </div>
            </div>
        </div>
    </div>







    {% include "./includes/chunks/longread-links.njk" %}


</div>


{% endblock %}

{% block page_bottom %}
<script src="js/longread.js"></script>
{% endblock %}