{% set title = "Материнский капитал" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header _simple">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="mar-cap.html" class="breadcrumbs__item breadcrumbs__item_active">Материнский капитал</a>
            </div>
            <div class="title-page">Материнский капитал</div>
        </div>
    </section>

    <div class="mat-cap">
        <section class="page__section _banner">
            <div class="container">
                <div class="page__banner" style="background-image: url('img/banner5.jpg')"></div>

                <div class="mat-cap__content">
                    <p>Вы получили или в ближайшее время планируете получить материнский капитал? Используйте его, чтобы приобрести квартиру в ЖК «Летний сад».</p>

                    <p><strong>Тем более, что это так просто!</strong></p>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <div class="page-steps">
                    <div class="page-steps__item" data-index="1.">
                        <strong>Выберите квартиру</strong>
                    </div>
                    <div class="page-steps__item" data-index="2.">
                        <p><strong>Предоставьте</strong> в офис продаж необходимый пакет документов:</p>
                        <ul class="page-steps-list">
                            <li class="page-steps-list__item"><span>паспорт;</span></li>
                            <li class="page-steps-list__item"><span>государственный сертификат на материнский (семейный) капитал;</span></li>
                            <li class="page-steps-list__item"><span>список документов от Пенсионного фонда для перечисления материнского капитала.</span></li>
                        </ul>
                    </div>
                    <div class="page-steps__item" data-index="3.">
                        <strong>Заключите договор</strong>
                    </div>
                    <div class="page-steps__item" data-index="4.">
                        <strong>Предоставьте</strong><br> в территориальный орган Пенсионного фонда пакет документов для перечисления средств материнского капитала на счет застройщика.
                    </div>
                </div>
            </div>
        </section>

        <section class="page__section">
            <div class="container">
                <div class="content">
                    <p>Вы можете использовать материнский капитал следующими способами:</p>
                    <ul>
                        <li><div>Перечисление в счет погашения рассрочки по договору на квартиру на этапе строительства дома.</div></li>
                        <li><div>Перечисление в погашение последнего платежа по договору на квартиру на этапе строительства дома.</div></li>
                        <li><div>Погашение ипотечного кредита, предоставленного одним из банков-партнеров, после регистрации права собственности на квартиру.</div></li>
                    </ul>
                    <p><em>Обратите внимание:<br>
                        Перечисление средств материнского капитала на договор возможно после достижения вашим вторым ребенком возраста 3-х лет.<br>
                        Срок рассмотрения заявления и перечисления средств на банковский счет застройщика составит до двух месяцев.</em></p>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}

{% endblock %}
