{% set title = "Ипотека" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
  <section class="page-header">
    <div class="container">
      <div class="breadcrumbs">
        <a href="#" class="breadcrumbs__item">Главная</a>
        <a href="#" class="breadcrumbs__item">Как купить</a>
        <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Ипотека</a>
      </div>
      <div class="sub-menu">
        <a href="#" class="sub-menu__item _active">Все банки</a>
        <a href="calculator.html" class="sub-menu__item"><span>Ипотечный</span> калькулятор</a>
        <a href="#" class="sub-menu__item" data-sidebar-toggle="form-mortgage"><span>Оформить заявку</span> <span>заявка</span></a>
      </div>
      <div class="title-page">Ипотека</div>
    </div>
  </section>

  <div class="mortgage">
    <section class="page__section">
      <div class="container">
        <h2>Полное сопровождение сделки</h2>

        <div class="mortgage-accomp">
          <div class="mortgage-accomp__item _broker">
            <strong>Персональный брокер</strong> Подберет лучшую программу от 20+ банков
          </div>
          <div class="mortgage-accomp__item _docs">
            <strong>Сбор документов за вас</strong> Вам нужно только приехать в банк на подписание.
          </div>
          <div class="mortgage-accomp__item _decision">
            <strong>Решение через 36 часов</strong> Благодаря долгосрочным отношениям с банками
          </div>
          <div class="mortgage-accomp__item _rate">
            <strong>Ставка от 7,4%</strong> Действительно от 7,4%!
          </div>
        </div>
        <div class="mortgage-btn">
          <a href="" class="mortgage-btn__item mortgage-btn__item_desktop">Ипотека со ставкой 6%? Реально с Группой «Эталон»!</a>
          <a href="" class="mortgage-btn__item mortgage-btn__item_mobile">Ипотека со ставкой 6%</a>
        </div>

      </div>
    </section>

    <section class="page__section">
      <div class="container">
        <h2>5 шагов до покупки квартиры</h2>

        <div class="page-steps">
          <div class="page-steps__item" data-index="1.">
            <strong>Обратитесь</strong> к вашему персональному ипотечному брокеру в офисе продаж
          </div>
          <div class="page-steps__item" data-index="2.">
            <strong>Предоставьте</strong> ему минимальный комплект  документов и одну анкету
          </div>
          <div class="page-steps__item" data-index="3.">
            <strong>Брокер самостоятельно</strong> подготовит документы, заполнит анкеты и найдет лучшие варианты ипотеки на текущий день.
          </div>
          <div class="page-steps__item" data-index="4.">
            <strong>Через 36 часов</strong> получите приглашение в банк и подпишите договор на самых выгодных условиях.
          </div>
          <div class="page-steps__item" data-index="5.">
            <strong>Квартира — ваша!</strong>
          </div>
        </div>
      </div>
    </section>

    <section class="page__section">
      <div class="container">
        <div class="mortgage-banks">
            <header class="mortgage-banks__header">
                <div class="mortgage-banks__row" data-mortgage-sorter data-ajax="/ajax/banks_mortgage.json">
                    <div class="mortgage-banks__col">Банк</div>
                    <div class="mortgage-banks__col _sorter" data-sort="firstPayPercent"><span class="hidden-mdMinus">Первоначальный взнос</span><span class="hidden-tabletPlus">Взнос</span></div>
                    <div class="mortgage-banks__col _sorter" data-sort="years"><span class="hidden-mdMinus">Срок кредитования</span><span class="hidden-tabletPlus">Срок</span></div>
                    <div class="mortgage-banks__col _sorter" data-sort="rateBefore">Ставка</div>
                    {#<div class="mortgage-banks__col _sorter" data-sort="rateBefore"><span class="hidden-mdMinus">Ставка до оформления права собственности</span><span class="hidden-tabletPlus">Ставка до</span></div>
                    <div class="mortgage-banks__col _sorter" data-sort="rateAfter"><span class="hidden-mdMinus">Ставка после оформления права собственности</span><span class="hidden-tabletPlus">Ставка после</span></div>#}
                </div>
            </header>
            <div class="mortgage-banks__body" data-mortgage-body>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div id="form-mortgage" class="page-sidebar__wrapper">
  <div class="page-sidebar__tlt">Заявка на ипотеку</div>
  <form action="#" method="get" class="page-form ws-validate" data-action="/ajax/form-response.json">
    <div class="page-form__step">
      <label class="page-form__lbl">
        <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required="" name="name" />
        <em class="page-form__placeholder">Имя</em>
      </label>
    </div>
    <div class="page-form__step _double">
      <div class="page-form__lbl">
        <label>
          <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required="" name="phone" />
          <em class="page-form__placeholder">Телефон</em>
        </label>
      </div>
      <div class="page-form__lbl">
        <label>
          <input type="text" class="page-form__inp" data-mask="time" required="" data-errormessage="Заполните поле" name="time" />
          <em class="page-form__placeholder">Время для звонка</em>
        </label>
      </div>
    </div>
    <div class="page-form__step">
      <label class="page-form__lbl">
        <input type="text" class="page-form__inp" name="email" />
        <em class="page-form__placeholder">Электронная почта</em>
        <em class="page-form__require">не обязательно</em>
      </label>
    </div>
    <div class="page-form__step">
      <label class="page-form__lbl">
        <input id="mortgage-price-input" type="text" class="page-form__inp _slide _large _active" data-step="10" data-max-range="10666907" data-min-range="2052153" value="6359530" name="summ" />
        <em class="page-form__placeholder">Запрашиваемая сумма (руб.)</em>
        <div id="mortgage-price" class="slider-range" data-slider=""></div>
      </label>
    </div>
    <div class="page-form__step">
      <label class="page-form__lbl">
        <input id="mortgage-fee-input" type="text" class="page-form__inp _slide _small _active" data-step="10" data-max-range="9600216.3" data-min-range="0" value="4800108" name="summfirst" />
        <em class="page-form__placeholder">Первоначальный взнос (руб.)</em>
        <div id="mortgage-fee" class="slider-range" data-slider=""></div>
      </label>
    </div>
    <div class="page-form__step">
      <label class="page-form__lbl">
        <input id="mortgage-age-input" type="text" class="page-form__inp _slide _small _age _active" data-step="1" data-max-range="30" data-min-range="1" value="30" name="years" />
        <em class="page-form__placeholder">Срок кредитования</em>
        <span class="page-form__age">лет</span>
        <div id="mortgage-age" class="slider-range" data-slider=""></div>
      </label>
    </div>
    <div class="page-form__step">
      <div class="SubCheckboxes__item SubCheckboxes__item--form">
        <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-mortgage" class="SubCheckboxes__input" name="privacy-mortgage" value=1/>
        <label for="privacy-mortgage">
          <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
        </label>
      </div>
    </div>
    <div class="page-form__step">
      <input type="submit" value="отправить заявку" class="page-form__sbt button _orange" />
    </div>
    <div class="page-form__step">
      <div class="page-form__btn">или использовать<br /><a href="/mortgage/calculator/">ипотечный калькулятор</a></div>
    </div>
  </form>
</div>

<div class="mortgage-modal" style="display: none;"></div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/mortgage.js"></script>
{% endblock %}
