{% set title = "«Новые изумрудные»" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">

    <section class="NewEmerald_top">
        <img src="/img/newEmerald/logo.svg" alt="">
    </section>

    <div class="NewEmerald_container">
        <section class="NewEmerald_adv">
            <div class="NewEmerald_tlt">Знаменитый жилой комплекс стал еще комфортнее</div>
            <p>«Новые изумрудные» — это финальная очередь строительства микрорайона «Изумрудные холмы». После сдачи этих корпусов, которые станут еще более комфортными, строительство жилого комплекса со всей образовательной, социальной и коммерческой инфраструктурой полностью завершится.</p>
        </section>
        <section class="NewEmerald_infoList">
            <div class="NewEmerald_info NewEmeraldInfo _block1">
                <div class="NewEmeraldInfo_txt">
                    <div class="NewEmerald_tlt">Еще качественнее</div>
                    <ul class="NewEmeraldInfo_list">
                        <li>Облагороженная территория с&nbsp;озеленением</li>
                        <li>Дизайнерские места общего пользования</li>
                        <li>Закрытые дворы без машин</li>
                    </ul>
                </div>
                <div class="NewEmeraldInfo_img"><img src="/img/newEmerald/1.jpg" alt=""></div>
            </div>
            <div class="NewEmerald_info NewEmeraldInfo _block2">
                <div class="NewEmeraldInfo_txt">
                    <div class="NewEmerald_tlt">Еще комфортнее</div>
                    <ul class="NewEmeraldInfo_list">
                        <li>К вашему заселению инфраструктура будет готова на 100%
                            </li>
                        <li>Станция МЦД будет открыта, и дорога в Москву займет в&nbsp;1,5-2&nbsp;раза меньше времени</li>
                    </ul>
                </div>
                <div class="NewEmeraldInfo_img"><img src="/img/newEmerald/2.jpg" alt=""></div>
            </div>
            <div class="NewEmerald_info NewEmeraldInfo _block3">
                <div class="NewEmeraldInfo_txt">
                    <div class="NewEmerald_tlt">Еще выгоднее</div>
                    <ul class="NewEmeraldInfo_list">
                        <li>Квартиры в видовых корпусах по привлекательным ценам на старте продаж</li>
                        <li>Большой выбор квартир — от уютных однокомнатных до просторных трехкомнатных</li>
                        <li>Квартиры с готовой отделкой комфорт-класса и без отделки на ваш выбор</li>
                    </ul>
                </div>
                <div class="NewEmeraldInfo_img"><img src="/img/newEmerald/3.jpg" alt=""></div>
            </div>
        </section>
    </div>

</div>

{% include "includes/blocks/btn-call.njk" %}


{% endblock %}
{% block page_bottom %}

{% endblock %}