{% set title = "Статья" %}
{% extends "layout.njk" %}

{% block content %}
<div class="news-detail news-detail--noimage">
  <div class="news-detail__wrp">
    <div class="news-detail__head">
      <div class="news-detail__date">09 января 2018</div>
      <a href="news.html" class="news-detail__back">
        <div class="news-detail__back-arrow"></div>
        <span>Вернуться</span>
      </a>
    </div>
    <div class="news-detail__content">
      <h1>Военная ипотека</h1>
      <p><span style="font-weight: 400;">Вы являйтесь участником накопительно-ипотечной системы военнослужащих и&nbsp;имеете право на&nbsp;получение целевого жилищного займа для&nbsp;приобретения жилья? ЖК<span style="margin-right: 0.3em;"> </span> <span style="margin-left: -0.3em;">«Летний</span> сад»&nbsp;— это&nbsp;не&nbsp;просто прекрасные квартиры, развитая инфраструктура и&nbsp;отличная экология, но&nbsp;и&nbsp;простой и&nbsp;быстрый способ воспользоваться военной ипотекой. Всего 5 шагов отделяют вас&nbsp;от&nbsp;нового жилья высокого класса.</span></p>
      <ol>
      <li><span style="font-weight: 400;"> Встаньте на&nbsp;учет в<span style="margin-right: 0.3em;"> </span> <span style="margin-left: -0.3em;">(ФГКУ</span>) Росвоенипотека, где&nbsp;вы&nbsp;получите свидетельство на&nbsp;право использования военной ипотеки.</span></li>
      <li><span style="font-weight: 400;"> Обратитесь в&nbsp;отдел продаж ЖК<span style="margin-right: 0.3em;"> </span> <span style="margin-left: -0.3em;">«Летний</span> сад», и&nbsp;мы&nbsp;немедленно поставим резерв на&nbsp;выбранную вами квартиру. Теперь вам&nbsp;гарантирована покупка по&nbsp;заявленной цене!</span></li>
      <li><span style="font-weight: 400;"> Соберите документы, пока наш&nbsp;специалист подбирает для&nbsp;вас&nbsp;самую выгодную ипотечную программу от&nbsp;банков-партнеров.</span></li>
      <li><span style="font-weight: 400;"> Подпишите договор приобретения квартиры.</span></li>
      <li><span style="font-weight: 400;"> Получите у&nbsp;менеджера Группы<span style="margin-right: 0.3em;"> </span> <span style="margin-left: -0.3em;">«Эталон</span>» зарегистрированный в&nbsp;Росреестре договор и&nbsp;передайте его&nbsp;в&nbsp;банк.</span></li>
      </ol>
      <p><span style="font-weight: 400;">Обратитесь к&nbsp;вашему личному менеджеру Группы<span style="margin-right: 0.3em;"> </span> <span style="margin-left: -0.3em;">«Эталон</span>», и&nbsp;получите: </span></p>
      <ul>
      <li><span style="font-weight: 400;">Зафиксированную стоимость квартиры</span></li>
      <li><span style="font-weight: 400;">Полное сопровождение сделки</span></li>
      <li><span style="font-weight: 400;">Бесплатную регистрацию в&nbsp;Росреестре</span></li>
      <li><span style="font-weight: 400;">Дистанционное оформление для&nbsp;иногородних</span></li>
      <li><span style="font-weight: 400;">Юридическую помощь на&nbsp;всех этапах</span><span style="font-weight: 400;"></span></li>
      </ul>
      <p><span style="font-weight: 400;"></span></p>
      <p><span style="font-weight: 400;"></span></p>      
    </div>
  </div>
</div>
{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
{# <script src="js/script_for_this_page.js"></script> #}
{% endblock %}