{% set title = "Новости" %}
{% extends "layout.njk" %}

{% block content %}
<div class="news-detail">
  <div class="news-detail__wrp">
    <div class="news-detail__head">
      <div class="news-detail__date">09 января 2018</div>
      <a href="news.html" class="news-detail__back">
        <div class="news-detail__back-arrow"></div>
        <span>Вернуться</span>
      </a>
    </div>
    <div class="news-detail__content">
      <h1>Субсидированная ипотека с господдержкой</h1>
      <p><a href="/choose/"><img src="https://izumrudnie-holmi.ru/upload/5_1.jpg" alt=""></a></p>
      <p>Уважаемые покупатели!</p>
      <p>Группа «Эталон» совместно с&nbsp;банками-партнерами рада предложить Вам субсидированную ипотеку с&nbsp;господдержкой по&nbsp;ставке до&nbsp;6,5% годовых.</p>
      <p>Максимальная сумма кредита для объектов в&nbsp;Москве и&nbsp;Московской области составляет 8&nbsp;млн. рублей, минимальный первоначальный взнос&nbsp;— 20% от&nbsp;стоимости квартиры.</p>
      <p>Сниженная процентная ставка действует в&nbsp;течение всего срока кредитования. Оформить ипотеку на&nbsp;льготных условиях можно будет вплоть до&nbsp;ноября 2020&nbsp;года.</p>
      <style>
        .news-detail-table {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;
          margin-top: 15px;
        }
        .news-detail-table__item {
          width: 25%;
          padding: 25px 30px;
        }
        @media (max-width: 1023px) {
          .news-detail-table__item {
            width: 33%;
            padding: 15px 30px;
          }
        }
        @media (max-width: 575px) {
          .news-detail-table__item {
            width: 50%;
            padding: 15px 20px;
          }
        }
        .news-detail-table__item img {
            width: 100%;
            max-width: none;
        }
      </style>
      <div class="news-detail-table">
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/sber.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/vtb.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/reiff.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/absolut.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/uralsib.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/RosBank.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/MTS.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/rosselhoz.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/domrf.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/akbars.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/metalinvest.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/sovkom.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/Vozrogdenie.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/otkrytie.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/rosbank.png" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/alfa.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/gazprom.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/SMP.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/MKB.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/UniKredit.svg" alt=""></div>
        <div class="news-detail-table__item"><img src="https://izumrudnie-holmi.ru/upload/Rossia_bank.svg" alt=""></div>
      </div>
    </div>
  </div>
</div>
{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
{# <script src="js/script_for_this_page.js"></script> #}
{% endblock %}