{% set title = "Онлайн-оплата паркинга" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Онлайн-оплата паркинга</a>
            </div>
            <div class="sub-menu">
                <a href="#" class="sub-menu__item" data-sidebar-toggle="parking-inner">Проблемы с оплатой?</a>
            </div>
            <div class="title-page">Онлайн-оплата</div>
        </div>
    </section>

    <div class="parking">
        <section class="page__section">
            <div class="container">
                <div class="parking__text">
                    <p>На этой странице вы можете быстро и без комиссии осуществить платеж по любому договору на покупку квартиры, машиноместа в паркинге или коммерческого помещения в ЖК «Золотая звезда» с помощью банковской карты. Срок зачисления денежных средств составляет до 3 банковских дней.</p>
                </div>
                {% include "includes/blocks/payment-form.njk" %}
            </div>
        </section>
    </div>
</div>

<div id="parking-inner" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Сообщить о проблеме</div>

    <form data-action="/ajax/parking-payment-response.json" method="GET" class="page-form ws-validate" autocomplete="off">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="parking-inner-name">
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" required name="parking-inner-email">
                <em class="page-form__placeholder">Электронная почта</em>
            </label>
        </div>
        <div class="page-form__step _date">
            <div class="page-form__lbl">
                <label>
                    <input type="tel" class="page-form__inp" data-mask="date" data-errormessage="&nbsp;" required name="parking-inner-date">
                    <em class="page-form__placeholder">Дата и время попытки оплатить</em>
                </label>
            </div>
            <div class="page-form__lbl">
                <label>
                    <input type="text" class="page-form__inp" data-mask="time-simple" required data-errormessage="&nbsp;" name="parking-inner-time">
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <div class="page-form__lbl">
                <label>
                    <textarea class="page-form__txtarea" data-textarea data-errormessage="Заполните поле" required name="parking-inner-comment"></textarea>
                    <em class="page-form__placeholder">Комментарий</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить" class="page-form__sbt button _orange">
        </div>
    </form>
</div>

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}
