{% set title = "Паркинг" %}
{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Как купить</a>
                <a href="mortgage.html" class="breadcrumbs__item breadcrumbs__item_active">Паркинг</a>
            </div>
            <div class="sub-menu">
                <a href="#" class="sub-menu__item" data-sidebar-toggle="form-parking">Заявка на паркинг</a>
                <a href="/parking-inner.html" class="sub-menu__item">Онлайн-оплата паркинга</a>
            </div>
            <h1 class="title-page">Паркинг</h1>
        </div>
    </section>
    <div class="parking">
        <section class="page__section">
            <div class="container">
                <div class="parking-section">
                    <div class="parking-section__block">
                        <div class="parking__tlt">Преимущества подземного паркинга</div>
                        <div class="swiper-container parking-slider-thumbs">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">Надёжно</div>
                                <div class="swiper-slide">Экологично</div>
                                <div class="swiper-slide">Удобно</div>
                                <div class="swiper-slide">Вариативно</div>
                            </div>
                        </div>
                        <div class="swiper-container parking-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <p>Паркинг расположен на&nbsp;уровне первого и&nbsp;цокольного этажей жилого дома и&nbsp;представляет собой открытую площадку с&nbsp;нанесенной разметкой мест. Въезды на&nbsp;территорию паркинга будут оборудованы воротами с&nbsp;дистанционным управлением. Безопасность паркинга обеспечена системой пожарной сигнализации и&nbsp;пожаротушения. Наличие круглосуточной охраны позволит жителям не&nbsp;волноваться за&nbsp;сохранность своего автотранспорта.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p>Обустройство крытого паркинга решает сразу две проблемы: жителям нет нужды оставлять автомобили на&nbsp;улице, а&nbsp;у&nbsp;застройщика появляется больше места и&nbsp;возможностей для благоустройства и&nbsp;озеленения придомовой территории.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p>Многие паркинги формата open space не&nbsp;предусматривают возможности хранить такую малогабаритную собственность, как велосипеды, коляски, снегокаты, лыжи, сноуборды, сменную резину и&nbsp;т.&nbsp;п. Мы&nbsp;позаботились об&nbsp;этом! По&nbsp;периметру подземной парковки расположены так называемые &laquo;кладовые&raquo;, которые вы&nbsp;можете использовать для размещения всех вышеперечисленных предметов, освободив тем самым лоджии, балконы и&nbsp;комнаты.</p>
                                </div>
                                <div class="swiper-slide">
                                    <p>В&nbsp;зависимости от&nbsp;конструктивных особенностей парковочные места распределяются на&nbsp;три типа: стандартные, нестандартные и&nbsp;семейные. Стандартные и&nbsp;нестандартные машиноместа вмещают один автомобиль, семейное машиноместо рассчитано на&nbsp;два автомобиля. По&nbsp;размеру вмещаемого автомобиля машиноместа делятся на&nbsp;малый и&nbsp;средний класс.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="parking-section__block">
                        <div class="parking__img" style="background-image: url('/img/parking/parking1.jpg');"></div>
                        <div class="parking__img _small" style="background-image: url('/img/parking/parking2.jpg');"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <div class="parking-banner">
                    <div class="parking-banner__tlt">Условия покупки подземного паркинга</div>
                    <div class="parking-benefits">
                        <div class="parking-benefits__item">
                            <div class="parking-benefits__val">0<span class="parking-benefits__percent">%</span></div>
                            <div class="parking-benefits__key">минимальный первый взнос</div>
                        </div>
                        <div class="parking-benefits__item">
                            <div class="parking-benefits__val">0<span class="parking-benefits__percent">%</span></div>
                            <div class="parking-benefits__key">рассрочка до 2023 года</div>
                        </div>
                        <div class="parking-benefits__item">
                            <div class="parking-benefits__val">7<span class="parking-benefits__percent">%</span></div>
                            <div class="parking-benefits__key">cкидка с первого взноса</div>
                        </div>
                    </div>
                    <footer class="parking-banner__footer">Более подробную информацию можно узнать по телефону: <a href="tel:+74951320826" class="parking-banner__link">+7 495 132-08-26</a></footer>
                </div>
            </div>
        </section>
        <section class="page__section _button">
            <div class="parking-button">
                <a href="/parking-inner.html" class="button _green" target="_blank">Онлайн-оплата паркинга</a>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <form id="parkingFilter" class="parking-filter" autocomplete="off" method="GET" target="/ajax/parking.json">
                    <div class="parking-choiceBld">
                        <label for="parkingChoiceBld" class="parking-choiceBld__label">Выбрать корпус</label>
                        <select name="parkingChoiceBld" id="parkingChoiceBld">
                            <option value="0" selected>Все</option>
                            <option value="1">1, 2</option>
                            <option value="2">7, 8</option>
                            <option value="3">9</option>
                            <option value="4">10, 11</option>
                            <option value="5">14, 15</option>
                            <option value="6">16</option>
                            <option value="7">17</option>
                            <option value="8">18, 19, 20</option>
                        </select>
                    </div>
                    <div class="parking-sorter">
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="section">№</button>
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="bld">
                                Корпус
                            </button>
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="floor">
                                Этаж
                            </button>
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl" data-val="price">Стоимость</button>
                            <input type="hidden" form="parkingFilter" name="sort" value="">
                            <input type="hidden" form="parkingFilter" name="sortdir" value="">
                        </div>
                        <div class="parking-sorter__item">
                            <button type="button" class="Sorter_lbl">Планировка</button>
                        </div>
                    </div>

                    <div class="parking-preloader">
                        <div class="parking-preloader__ring">
                            <div></div><div></div>
                        </div>
                    </div>
                    <div id="parkingResult" class="parking-result">

                    </div>
                    <div class="parking-pagination"></div>
                </form>
            </div>
        </section>
    </div>
</div>

<div id="form-parking" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Заявка на паркинг</div>

    <form data-action="/ajax/form-response.json" method="get" class="page-form ws-validate" autocomplete="off">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" class="page-form__inp" data-errormessage="Заполните поле" required name="parking-name">
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <div class="page-form__lbl">
                <label>
                    <input type="tel" class="page-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="parking-phone">
                    <em class="page-form__placeholder">Телефон</em>
                </label>
            </div>
        </div>
        <div class="page-form__step">
            <div class="page-form__stepTitle">Корпус</div>
            <div class="parkingCheckboxes">
                <div class="FilterForm_checkboxesRow">
                    {% for bld in [
                        {label: "1,2", id: "49"},
                        {label: "3,4", id: "50"},
                        {label: "5,6", id: "51"},
                        {label: "7,8", id: "52"},
                        {label: "9", id: "53"},
                        {label: "10, 11", id: "54"},
                        {label: "12, 13", id: "55"},
                        {label: "14, 15", id: "56"},
                        {label: "16", id: "57"},
                        {label: "17", id: "58"},
                        {label: "18, 19, 20", id: "59"}
                    ] %}
                    <div class="BigCheckbox">
                        <label class="BigCheckbox_label">
                            <input class="BigCheckbox_input" type="checkbox" name="house_{{bld.id}}" data-persist-id="bld_{{bld.id}}" value="{{bld.label}}"><span class="BigCheckbox_view BigCheckbox_view-light">{{bld.label}}</span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-form__step">
            <input type="submit" value="отправить" class="page-form__sbt button _orange">
        </div>
    </form>
</div>

{% include "includes/blocks/btn-call.njk" %}
{% endblock %}

{% block page_bottom %}
<script src="js/parking.js"></script>
{% endblock %}
