{% set title = "Фото жителей" %}
{% extends "layout.njk" %}
{% block content %}
<div class="wrapper">
    <section class="gallery-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">Главная</a>
                <a href="#" class="breadcrumbs__item">Информация</a>
                <a href="#" class="breadcrumbs__item breadcrumbs__item_active">Фото жителей</a>
            </div>
            <div class="title-page">Фото жителей</div>
        </div>
    </section>
    <section class="photos-residents" data-photos-residents="/ajax/photos-residents.json">
        <div class="photos-residents__container">
            <div class="photos-residents__col"></div>
            <div class="photos-residents__col"></div>
        </div>
        <a href="" class="photos-residents__btn">Показать еще</a>
    </section>
</div>

{% include "includes/blocks/call-form.njk" %}

{% include "includes/blocks/btn-call.njk" %}

{% endblock %}

{% block page_bottom %}
<script src="js/photos-residents.js"></script>
{% endblock %}