{% set title = "Trade-in" %}
{% extends "layout.njk" %}
{% block content %}

<div class="wrapper">
    <section class="page-header">
        <div class="container">
            <div class="breadcrumbs">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="/buy/" class="breadcrumbs__item">Как купить</a>
                <a href="/buy/trade-in/" class="breadcrumbs__item breadcrumbs__item_active">Trade-In</a>
            </div>
            <div class="sub-menu">
                <a href="#" data-sidebar-toggle="form-tradein" class="sub-menu__item">Заявка на trade-in</a>
            </div>
            <div class="title-page">Trade-In</div>
        </div>
    </section>

    <div class="mat-cap">
        <section class="page__section _banner">
            <div class="container">
                <div class="page__banner" style="background-image: url('/img/banner4.jpg');"></div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <h2>Trade-in&nbsp;— это&nbsp;просто!</h2>
                <div class="page-steps">
                    <div class="page-steps__item" data-index="1."><strong>Запишитесь на&nbsp;консультацию</strong> к&nbsp;менеджеру отдела продаж ЖК<span style="margin-right: 0.3em;"> </span><span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em;"><span style="margin-left: -0.3em">«Летний</span></span>
                        сад» и&nbsp;подберите подходящую квартиру из&nbsp;списка программы TRADE-IN.</div>
                    <div class="page-steps__item" data-index="2."><strong>Согласуйте</strong> с&nbsp;нашими специалистами условия сотрудничества<span style="margin-right: 0.3em;"> </span> <span style="margin-left: -0.3em;"><span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em">(сроки</span></span>,
                        стоимость) по&nbsp;продаже вашей квартиры.</div>
                    <div class="page-steps__item" data-index="3."><strong>Заключите</strong> Агентский договор на&nbsp;реализацию вашей квартиры, получите бронь на&nbsp;квартиру в&nbsp;ЖК<span style="margin-right: 0.3em;"> </span><span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em;"><span style="margin-left: -0.3em">«Летний</span></span>
                        сад» с&nbsp;фиксацией ее&nbsp;стоимости</div>
                    <div class="page-steps__item" data-index="4."><strong>Дождитесь звонка</strong>
                        <br> с&nbsp;сообщением, что&nbsp;покупатель на&nbsp;вашу недвижимость найден.</div>
                    <div class="page-steps__item" data-index="5."><strong>Назначьте дату</strong> подписания договора купли-продажи вашей квартиры и&nbsp;заключения договора о&nbsp;покупке квартиры. Мы&nbsp;проведем обе&nbsp;сделки для&nbsp;вас&nbsp;за&nbsp;один день.</div>
                </div>
            </div>
        </section>
        <section class="page__section">
            <div class="container">
                <div class="content">
                    <h2>Что мы&nbsp;предлагаем для&nbsp;вашего комфорта</h2>
                    <ul class="large">
                        <li>
                            <div>
                                <h3>СОПРОВОЖДЕНИЕ СДЕЛКИ</h3>
                                <p>Наши специалисты будут сопровождать сделку на&nbsp;всех этапах: от&nbsp;первого обращения до&nbsp;получения права собственности.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>ПРАКТИЧНОСТЬ</h3>
                                <p>Trade-in – один из&nbsp;самых востребованных инструментов при&nbsp;покупке нового жилья, позволяющий улучшить жилищные условия с&nbsp;выгодой для&nbsp;себя.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>БЫСТРЫЙ РЕЗУЛЬТАТ</h3>
                                <p>Вам не&nbsp;придется тратить время и&nbsp;средства на&nbsp;поиски покупателя, мы&nbsp;окажем максимальную помощь, в&nbsp;проведении удачной сделки с&nbsp;учетом всех ваших интересов.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>ФИКСАЦИЯ ЦЕНЫ</h3>
                                <p>Колебания цен&nbsp;не&nbsp;коснутся вас, т.к. стоимость квартиры в&nbsp;ЖК<span style="margin-right: 0.3em;"> </span><span style="margin-right: 0.3em"> </span> <span style="margin-left: -0.3em;"><span style="margin-left: -0.3em">«Летний</span></span>
                                    сад» будет зафиксирована.</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>НАДЕЖНЫЙ ВЫБОР</h3>
                                <p>Вы будете уверены, что&nbsp;выбранная по&nbsp;программе TRADE-IN квартира недоступна другим покупателям и&nbsp;ждет вас.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

{% include "includes/blocks/btn-call.njk" %}

<div id="form-tradein" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Заявка на Trade-In</div>
    <form action="#" method="get" data-action="ajax/form-response.json" class="page-form ws-validate">
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="text" name="name" value="" class="page-form__inp" data-errormessage="Заполните поле" required="required" minlength="1" />
                <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
                <input type="tel" name="phone" value="" class="page-form__inp" data-errormessage="Заполните поле" required="required" minlength="1" data-mask="phone" />
                <em class="page-form__placeholder">Телефон</em>
            </label>
        </div>
        <div class="page-form__step">
            <div class="SubCheckboxes__item SubCheckboxes__item--form">
                <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-tradein" class="SubCheckboxes__input" name="privacy-tradein" value=1/>
                <label for="privacy-tradein">
                    <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                </label>
            </div>
        </div>
        <input type="hidden" name="url" value="" />
        <div class="page-form__step">
            <input type="submit" name="Submit" value="Отправить" class="page-form__sbt button _orange" />
        </div>
    </form>
</div>

{% endblock %}

{% block page_bottom %}{% endblock %}
