.hidden-xs {
    @media (--xs) {
        display: none !important;
    }
}

.hidden-sm {
    @media (--sm) {
        display: none !important;
    }
}

.hidden-md {
    @media (--md) {
        display: none !important;
    }
}

.hidden-lg {
    @media (--lg) {
        display: none !important;
    }
}

.hidden-xl {
    @media (--xl) {
        display: none !important;
    }
}

.hidden-xxl {
    @media (--xxl) {
        display: none !important;
    }
}

.hidden-mdPlus {
    @media (--mdPlus) {
        display: none !important;
    }
}
.hidden-lgMinus {
    @media (--lgMinus) {
        display: none !important;
    }
}

.hidden-mdMinus {
    @media (--mdMinus) {
        display: none !important;
    }
}

.hidden-tabletPlus {
    @media (--tabletPlus) {
        display: none !important;
    }
}

.hidden-smMinus {
    @media (--smMinus) {
        display: none !important;
    }
}

.hidden-640 {
    @media (--640) {
        display: none !important;
    }
}