* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    min-height: 100%;
}

body{
    font-family: "Gilroy";

    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    max-width: 100%;
}

a {
    color: #19191a;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    flex-grow: 1;
    margin-top: 70px;
    &-forLongread {
        background: #fff;
        margin-top: 400px;
        position: relative;
        z-index: 100;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 100007;
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.header-container {
    display: flex;
    align-items: stretch;
    padding: 0 55px;
    width: 100%;
}

.header__burger {
    width: 24px;
    height: 70px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    position: fixed;
    top: 0px;
    left: 55px;
    z-index: 100009;
}

.header__burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.header__burger span:nth-child(1) {
    top: 27px;
    transform-origin: left center;
}

.header__burger span:nth-child(2) {
    top: 33px;
    transform-origin: left center;
    width: 75%;
    right: 0;
    left: initial;
}

.header__burger span:nth-child(3) {
    top: 39px;
    transform-origin: left center;
}

.header__burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 22px;
    left: 0px;
}

.header__burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.header__burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 0px;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 30px;
}

.header__logo img {
    width: 163px;
    height: 34px;
}

.header-menu {
    padding-left: 80px;
    flex-grow: 1;
    display: flex;

    &__sticker {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -15px);
        background-color: #016d39;
        color: #fff;
        font-size: 15px;
        line-height: 27px;
        padding: 0 15px;
        white-space: nowrap;
        border-radius: 1px;
        font-family: 'Proxima Nova Regular';
        font-weight: 300;
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -4.5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4.5px 8px 4.5px;
            border-color: transparent transparent #016d39 transparent;
        }
    }
}

.header-menu__item {
    position: relative;
    &_contacts {
        @media (max-width: 1340px) {
            display: none;
        }
    }
    &_commercial {
        @media(max-width: 1549px) {
            display:none;
        }
    }
}

.header-menu__link {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #19191a;
    padding: 22px 15px 0 15px;
    text-decoration: none;
    position: relative;
    display: block;
    height: 100%;
}

.header-menu__link:after {
    content: "";
    background: #028862;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 22px;
    left: 15px;
    transition: width 0.2s ease-in-out;
}

.header-menu__link:hover::after {
    width: calc(100% - 30px);
    transition-delay: 0.2s;
}

.header-submenu {
    position: absolute;
    left: 50%;
    background: #2b2634;
    display: block;
    padding: 40px 0px;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -20px);
    transition: all 0.3s ease-in-out;
}

.header-submenu__link {
    color: #fefefe;
    text-decoration: none;
    display: block;
    padding: 5px 50px;
    font-family: "Proxima Nova Light";
    font-size: 16px;
    line-height: 26px;
    white-space: nowrap;

    &_contacts {
        display: none;
        @media (max-width: 1340px) {
            display: block;
        }
    }
}

.header-submenu__link:hover {
    color: #fbfb75;
}

.header-menu__item:hover > .header-submenu {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
    transform: translate(-50%, -1px);
}

.header-menu__item:hover > .header-submenu:before {
    opacity: 1;
    visibility: visible;
}

.header-submenu:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 12;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom: 8px solid #2b2634;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-menu__item:hover:before {
    opacity: 1;
}

.header {
    &__phoneLinks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /*@media(--lgMinus) {
            padding-right: 20px;
            margin-right: 44px;
        }*/
    }
    &__callMe {
        height: 35px;
        font-size: 13px;
        line-height: 1;
        font-weight: 400;
        color: #8e8e8e;
        text-align: right;
        transition: color .3s ease;
        @media(--lgMinus) {
            padding-right: 20px;
            margin-right: 44px;
        }
        @media(--smMinus) {
            display: none
        }
        &:hover {
            color: #016d39;
        }
    }
}

.header__phone {
    display: flex;
    align-items: center;
}

.header__phone a {
    padding-top: 16px;
    text-decoration: none;
    color: #19191a;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /*background: url("../img/icon_phone-black.svg") no-repeat left center;
    padding-left: 35px;*/
    transition: opacity 0.2s;

    & img {
        position: relative;
        top: 1px;
        @media(--smMinus) {
            top: 0;
        }
    }
}

.header__phone a span {
    padding-left: 5px;
}

.header__phone a:hover {
    opacity: 0.7;
}

.container {
    max-width: 1170px;
    margin: auto;
}

@media (--lgMinus) {
    .container {
        max-width: 100%;
        padding: 0 55px;
    }
}

@media (--mdMinus) {
    .container {
        max-width: 100%;
        padding: 0 40px;
    }
}

@media (--smMinus) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (--lgMinus) {
    .container {
        max-width: 100%;
        /*margin: 0 55px;*/
    }
}

@media (--mdMinus) {
    .container {
        max-width: 100%;
        margin: auto;
    }
}

.container-full {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (--mdMinus) {
    .container-mobile {
        padding: 0 40px;
    }
}

@media (--smMinus) {
    .container-mobile {
        padding: 0 20px;
    }
}

.col-6 {
    width: 50%;
    /*position: relative;*/
}

.col-7 {
    width: 58.3333333%;
    /*position: relative;*/
}

.col-5 {
    width: 41.6666667%;
    /*position: relative;*/
}

.btn-call-inner {
    text-align: center;
    position: relative;
    padding: 40px 0;
    &-gray {
        background: #f6f6f6;
    }
    &-gray-longread {
       &:after {
            background:#f6f6f6;
       }
    }
}

.btn-call-inner-gray:after {
    background: #f6f6f6;
}



.btn-call-inner:before {
    content: "";
    background: #319b6b;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 40;
}

.btn-call {
    background: #2b2634;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 14px;
    border: none;
    outline: none;
    box-shadow: 0px 20px 30px 0px rgba(43, 38, 52, 0.4);
    transition: all 0.3s ease;
    height: 50px;
    width: 206px;
    position: relative;
    z-index: 50;
}

.btn-call:before {
    content: "";
    background: #319b6b;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
    z-index: -1;
}

.btn-call:hover,
.btn-call:active {
    color: #ffffff;
}

.btn-call:hover::before,
.btn-call:active::before {
    height: 100%;
}

.btn-call-inner:after {
    content: "";
    background: #ffffff;
    width: 246px;
    height: 50px;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -123px;
    top: 50%;
    margin-top: -25px;
    z-index: 41;
}

.btn-call:hover {
    cursor: pointer;
}

.btn-call-inner-gray-longread:after {
    background: #f6f6f6;
}

.btn-call-inner-gray:after {
    background: #f6f6f6;
}

.footer {
    background: #222128;
    padding: 49px 0px 0;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0 55px 40px;
    border-bottom: 1px solid #403b48;
}

.footer-menu-col {
    width: 25%;
}

.footer-menu-link {
    color: #ffffff;
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: block;
    text-decoration: none;
    padding-bottom: 15px;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
    max-width: 250px;
}

.footer-menu-sublink {
    font-family: "Gilroy";
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    color: #97969a;
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
}

@media (--mdMinus) {
    .footer-menu-sublink {
        font-size: 14px;
    }
}

.footer-menu-link:hover,
.footer-menu-sublink:hover,
.footer-menu-other-link:hover {
    color: #f7941e;
}

.footer-menu-other-link {
    font-family: "Proxima Nova Regular";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
    /*-webkit-transition: color 0.2s ease-in-out;*/
    /*-moz-transition: color 0.2s ease-in-out;*/
    /*-ms-transition: color 0.2s ease-in-out;*/
    /*-o-transition: color 0.2s ease-in-out;*/
    /*transition: color 0.2s ease-in-out;*/
}

.footer-bottom {
    padding: 30px 55px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-info {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
}

.footer-text {
    opacity: 0.5;
}

.footer__phone {
    /*margin-top: 65px;*/
    transition: transform 0.4s ease;
    transition-delay: 0.7s;
    padding-left: 17px;
}

.footer__phone a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova Semibold";
    font-size: 16px;
    line-height: 26px;
}

.footer__phone a span {
    padding-left: 5px;
}

.footer-subscribe {
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 0 0 20px 17px;
    transition: background 2s ease;
}

@media (--mdMinus) {
    .footer-subscribe {
        padding: 0;
    }
}

.footer-subscribe_bg {
    background: #2b2634;
}

@media (--mdMinus) {
    .footer-subscribe_bg {
        background: transparent;
    }
}

.footer-subscribe__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 27px;
    font-family: "Proxima Nova Regular";
    color: #f7941e;
    transition: opacity 0.4s ease;
}

.footer-socials {
    display: flex;
    align-items: center;
    margin-right: 75px;
}

@media (--mdMinus) {
    .footer-socials {
        /*margin-left: -10px;*/
        margin-right: 10px;
    }
}

@media (--smMinus) {
    .footer-socials {
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-socials__item {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center center;
    transition: background 0.2s;
    margin-right: 10px;
    position: relative;
}

@media (--smMinus) {
    .footer-socials__item {
        margin: 0 5px;
    }
}

.footer-socials__item:after {
    opacity: 0;
    transition: opacity 0.4s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
}

.footer-socials__item:hover:after {
    opacity: 1;
}

.footer-socials__item_fb {
    background: url("../img/socials/icon_facebook.svg") no-repeat;
}

.footer-socials__item_fb:after {
    background: url("../img/socials/icon_facebook_hover.svg") no-repeat;
}

.footer-socials__item_vk {
    background: url("../img/socials/icon_vk.svg") no-repeat;
}

.footer-socials__item_vk:after {
    background: url("../img/socials/icon_vk_hover.svg") no-repeat;
}

.footer-socials__item_insta {
    background: url("../img/socials/icon_insta.svg") no-repeat;
}

.footer-socials__item_insta:after {
    background: url("../img/socials/icon_insta_hover.svg") no-repeat;
}

.footer-socials__item_yt {
    background: url("../img/socials/icon_youtube.svg") no-repeat;
}

.footer-socials__item_yt:after {
    background: url("../img/socials/icon_youtube_hover.svg") no-repeat;
}

.footer-socials__item_tlg {
    background: url("../img/socials/icon_telegram.svg") no-repeat;
}

.footer-socials__item_tlg:after {
    background: url("../img/socials/icon_telegram_hover.svg") no-repeat;
}

.footer-socials__item_ggl {
    background: url("../img/socials/icon_google.svg") no-repeat;
}

.footer-socials__item_ggl:after {
    background: url("../img/socials/icon_google_hover.svg") no-repeat;
}

.footer-socials__item_share {
    background: url("../img/socials/icon_share.svg") center 10px no-repeat;
    cursor: pointer;
}
.SocShare {
    position: relative;
    &_toolp {
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);
        background: #299968;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        &:after {
            content:'';
            position: absolute;
            left: 50%;
            top: 100%;
            margin-left: -2px;
            border: 4px solid transparent;
            border-top: 4px solid #299968;
        }
    }
    &_item {
        width: 34px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        &._fb {
            background-image: url("../img/socials/icon_facebook.svg");
        }
        &._vk {
            background-image: url("../img/socials/icon_vk.svg");
        }
    }
    &:hover &_toolp {
        opacity: 1;
        visibility: visible;
    }
}

.full-menu-popup {
    position: fixed;
    z-index: 100007;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    margin: 0;
    padding: 0 55px;
    display: none;
    transition: top 0.4s, visibility 0.4s;
    overflow-y: auto;
    visibility: hidden;
}

.full-menu-popup_open {
    z-index: 100008;
    opacity: 1;
    visibility: visible;
}

.full-menu-popup .fancybox-close-small {
    left: 63px;
    top: 23px;
    width: 19px;
    height: 18px;
    outline: none;
}

.full-menu-popup .fancybox-close-small:after {
    content: "";
    background: url("../img/close-menu.svg") no-repeat;
    width: 19px;
    height: 18px;
    outline: none;
}

.full-menu {
    display: flex;
    padding: 60px 0 60px 97px;
}

.full-menu-col {
    width: 25%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
}

.full-menu-link {
    text-decoration: none;
    display: block;
    font-family: "Proxima Nova Regular";
    font-size: 17px;
    line-height: 26px;
    color: #19191a;
    padding-bottom: 15px;
    transition: color 0.2s ease-in-out;
}

.full-menu-sublink {
    text-decoration: none;
    display: block;
    font-family: "Proxima Nova Light";
    font-size: 16px;
    line-height: 1.4;
    padding: 8px 0;
    color: #616162;
}

.full-menu-sublink span {
    position: relative;
}

.full-menu-link:hover,
.full-menu-sublink:hover {
    color: #028862;
    opacity: 1;
}

.footer-menu-col_subscribe-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.footer-menu-other-link-wrap {
    flex-grow: 1;
    padding-left: 17px;
}

.footer-subscribe__form {
    display: flex;
    align-items: flex-end;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: all 2s ease;
}

@media (--smMinus) {
    .footer-subscribe__form {
        max-width: 280px;
        margin: auto;
    }
}

.footer-subscribe__form_visible {
    opacity: 1;
    visibility: visible;
    /*height: auto;*/
    max-height: 500px;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 230px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 10px 0;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #ffffff;
    font-size: 16px;
    font-family: "Proxima Nova Regular";
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    user-select: none;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    color: #a7a6a8;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

/* Yoshiko */

.input__field--yoshiko {
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    transition: background-color 0.25s, border-color 0.25s;
}

.input__label--yoshiko {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    overflow: hidden;
    padding: 0;
    transform: translate3d(0, 30px, 0);
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko {
    color: #8b8c8b;
    padding: 0.25em 0;
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
}

.input__label-content--yoshiko::after {
    content: attr(data-content);
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
    transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
    transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
    background-color: transparent;
}

.footer-subscribe__submit {
    border: none;
    outline: none;
    width: 31px;
    height: 31px;
    background: url("../img/icon_mail_send.svg") no-repeat center center;
    transition: background 0.2s;
    margin-left: 10px;
}

.footer-subscribe__submit:hover {
    cursor: pointer;
    background: url("../img/icon_mail_send_hover.svg") no-repeat center center;
}

.footer-subscribe__reset {
    border: none;
    outline: none;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #ffffff url("../img/close-popup-dark.svg") no-repeat center center;
    transition: background 0.2s;
    margin-left: 10px;
    display: none;
}

@media (--smMinus) {
    .footer-subscribe__reset {
        display: block;
    }
}

.full-menu-other-link-wrap {
    display: none;
}

.full-menu-other-link span {
    position: relative;
}

.full-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /*
    -webkit-animation-name: overlay-bg;
    animation-name: overlay-bg;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    */
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
}

.full-menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

@keyframes overlay-bg {
    from {
        background: transparent;
    }
    to {
        background: rgba(0, 0, 0, 0.4);
    }
}

.footer-subscribe__input:focus ~ .footer-subscribe__label,
.footer-subscribe__input:valid ~ .footer-subscribe__label {
    font-size: 12px;
    color: #a7a6a8;
    top: -20px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
    width: 100%;
    position: relative;
    display: flex;
}

.footer-subscribe__label {
    color: #a7a6a8;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    font-size: 16px;
    font-family: "Proxima Nova Regular";
}

.footer-subscribe__input {
    padding: 1rem 1rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
}

.footer-subscribe__input:focus {
    outline: 0;
}

.footer-subscribe__input {
    position: relative;
    display: block;
    float: right;
    padding: 10px 0;
    width: 230px;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    font-family: "Proxima Nova Regular";
    -webkit-appearance: none;
    border-bottom: 2px solid #fff;
    flex-grow: 1;
}

@media (--mdMinus) {
    .footer-subscribe__input {
        flex-grow: 1;
    }
}

@media (--smMinus) {
    .footer-subscribe__input {
        width: auto;
    }
}

.not-empty {
    font-size: 12px;
    color: #a7a6a8;
    top: -20px;
    transition: all 0.4s cubic-bezier(0.2, 0, 0.03, 1);
}

.footer-subscribe__link_hidden {
    opacity: 0;
    visibility: hidden;
}

.modal-banner {
    padding: 0;
    width: 960px;
    margin: 70px 0 0;
}

.modal-banner-inner {
    background: #2b2634;
    display: flex;
    flex-wrap: wrap;
    height: 525px;
    overflow: hidden;
}

@media (--mdMinus) {
    .modal-banner {
        width: 688px;
        max-width: 100%;
    }

    .modal-banner-inner {
        height: 378px;
    }
}

@media (--smMinus) {
    .modal-banner {
        width: 100%;
        max-width: 485px;
    }

    .modal-banner-inner {
        height: 265px;
    }
}

@media (--xs) {
    .modal-banner {
        /*width: calc(100% - 40px);*/
        max-width: 283px;
        width: 100%;
    }

    .modal-banner-inner {
        height: auto;
    }
}

.modal-banner__bg {
    background: url("../img/banners/banner-bg-desktop.png") no-repeat;
    /*width:378px;*/
    width: 40%;
    height: 100%;
}

@media (--mdMinus) {
    .modal-banner__bg {
        width: 40%;
        background-size: contain;
    }
}

@media (--xs) {
    .modal-banner__bg {
        width: 100%;
        height: 136px;
        background: url("../img/banners/banner-bg-mobile.jpg") no-repeat center bottom;
        background-size: cover;
    }
}

.modal-banner__content {
    padding: 80px 80px 80px 70px;
    /*width: 582px;*/
    width: 60%;
}

@media (--mdMinus) {
    .modal-banner__content {
        width: 60%;
        padding: 50px 50px 50px 40px;
    }
}

@media (--smMinus) {
    .modal-banner__content {
        padding: 30px 30px 30px 20px;
    }
}

@media (--xs) {
    .modal-banner__content {
        padding: 40px 40px 50px 30px;
        width: 100%;
    }
}

.modal-banner__title {
    font-family: "GeometriaHeavy";
    font-size: 55px;
    color: #f7941e;
    text-align: center;
}

@media (--mdMinus) {
    .modal-banner__title {
        font-size: 40px;
    }
}

@media (--smMinus) {
    .modal-banner__title {
        font-size: 25px;
    }
}

@media (--xs) {
    .modal-banner__title {
        font-size: 25px;
    }
}

.modal-banner__text {
    font-family: "GeometriaLight";
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

@media (--mdMinus) {
    .modal-banner__text {
        font-size: 28px;
        margin-top: 15px;
    }
}

@media (--smMinus) {
    .modal-banner__text {
        font-size: 20px;
        margin-top: 15px;
    }
}

@media (--xs) {
    .modal-banner__text {
        font-size: 20px;
    }
}

.modal-banner__subtext {
    font-family: "GeometriaMedium";
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

@media (--mdMinus) {
    .modal-banner__subtext {
        margin-top: 15px;
    }
}

@media (--xs) {
    .modal-banner__subtext {
        font-size: 17px;
        margin-top: 25px;
    }
}

.modal-banner__btn {
    text-decoration: none;
    border: 1px solid #f7941e;
    background: transparent;
    color: #f7941e;
    text-transform: uppercase;
    font-family: "Proxima Nova Regular";
    font-size: 14px;
    outline: none;
    width: 240px;
    padding: 15px 0;
    text-align: center;
    transition: background 0.4s ease, color 0.4s ease;
    height: 50px;
    margin: 60px auto 0;
    display: block;
}

.modal-banner__btn:hover {
    cursor: pointer;
    color: #ffffff;
    background: #f7941e;
}

@media (--mdMinus) {
    .modal-banner__btn {
        margin: 55px auto 0;
    }
}

@media (--mdMinus) {
    .modal-banner__btn {
        margin: 20px auto 0;
    }
}

@media (--xs) {
    .modal-banner__btn {
        max-width: 240px;
        width: 100%;
        margin-top: 25px;
    }
}

.modal-banner__close {
    background: transparent;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: none;
    transition: opacity 0.4s ease;
}

.modal-banner__close:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media (--smMinus) {
    .modal-banner__close {
        padding: 10px;
    }
}

@media (--xs) {
    .modal-banner__close {
        /*display: none;*/
    }
}

body.modal-banner-scrolling {
    overflow: auto;
}

.fancybox-container {
    top: 70px;
    height: calc(100% - 70px);
}

.fancybox-bg {
    background: #000000;
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.6;
}

.compensate-for-scrollbar {
    margin-right: 0;
}

.title-page {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 40px;
    position: relative;
    margin-top: 20px;
    display: inline-block;
}

@media (--smMinus) {
    .title-page {
        display: block;
        margin-top: 0;
        font-size: 29px;
    }
}

.title-page:after {
    content: "";
    background: #319b6b;
    width: 80px;
    height: 1px;
    position: absolute;
    right: -100px;
    bottom: 10px;
}

@media (--smMinus) {
    .title-page:after {
        content: "";
        background: #319b6b;
        width: 80px;
        height: 1px;
        position: static;
        display: block;
        margin-top: 20px;
    }
}

.close-gallery {
    position: absolute;
    top: 35px;
    right: 55px;
    background: transparent;
    outline: none;
    border: none;
    z-index: 100;
    width: 32px;
    height: 16px;
}

@media (--mdMinus) {
    .close-gallery {
        right: 40px;
    }
}

@media (--smMinus) {
    .close-gallery {
        right: 20px;
    }
}

.close-gallery:hover {
    cursor: pointer;
}

p {
    font-family: "Proxima";
    font-size: 17px;
    color: #19191a;
    line-height: 1.5;
    margin: 5px 0;
}

ul {
    margin: 0;
    padding: 0;
}

.estate-container__table {
    width: 100%;
    border-spacing: 0;
}

.estate-container__table tr {
    background: #f4f4f5;
    padding: 15px 0;
}

.estate-container__table tr:nth-child(2n) {
    background: #ffffff;
}

.estate-container__table thead tr {
    background: #ffffff;
}

.estate-container__table thead td {
    font-size: 13px;
    opacity: 0.5;
}

.estate-container__table td {
    padding: 15px 0px;
    font-size: 15px;
    color: #19191a;
    font-family: "Proxima";
    font-weight: 300;
}

@media (--smMinus) {
    .estate-container__table td {
        font-size: 12px;
    }
}

.estate-container__table td:first-child {
    padding: 15px 30px;
}

@media (--smMinus) {
    .estate-container__table td:first-child {
        padding: 15px 0px;
    }
}

.estate-container__table {
    margin: 20px 0 40px;
}

.estate-container__table thead td:nth-child(1) {
    width: 15%;
}

@media (--smMinus) {
    .estate-container__table thead td:nth-child(1) {
        width: 15%;
    }
}

.estate-container__table thead td:nth-child(2) {
    width: 13%;
}

@media (--smMinus) {
    .estate-container__table thead td:nth-child(2) {
        width: 15%;
    }
}

.estate-container__table thead td:nth-child(3) {
    width: 14%;
}

.estate-container__table thead td:nth-child(4) {
    width: 18%;
}

.estate-container__table thead td:nth-child(5) {
    width: 20%;
}

@media (--smMinus) {
    .estate-container__table thead td:nth-child(5) {
        width: 25%;
    }
}

.estate-container__table thead td:nth-child(6) {
    width: 20%;
}

.footer-subscribe__form .Form_hint-error {
    display: none !important;
}

.footer-subscribe__input.error {
    border-bottom: 2px solid #ff0000;
}

.footer-subscribe__text {
    font-family: "Proxima";
    font-weight: 300;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}