@media (--lgMinus) {

    .header-menu {
        display: none;
    }

    .header__burger {
        order:3;
        padding-left: 20px;
        right: 55px;
        left: initial;
        padding-right: 0;

    }

    .header__burger.open span {
        background: #ffffff;
    }

    .header__logo {
        padding-left: 0;
        flex-grow: 1;
        margin-left: 0;
    }

    .header__phone {
        padding-right: 20px;
        margin-right: 24px;
    }


    .home-banner {
        height: calc(100vh - 110px);
    }


    .full-menu-popup {
        background: #2b2634;
        height: 100%;
    }

    .full-menu-popup .fancybox-close-small {
        left: unset;
        right: 40px;
        top:25px;
    }

    .full-menu-popup .fancybox-close-small:after {
        background: url("../img/close-menu-white.svg");
    }

    .full-menu-col {
        max-width: 100%;
    }

    .full-menu-link {
        color:#ffffff;
        font-size: 20px;
        padding: 15px 0;
        position: relative;
    }

    .full-menu-sublink {
        font-size: 16px;
        color:#a7a6a8;
        padding: 8px 0;
    }

    .full-menu-link:hover {
        color:#ffffff;
    }

    .full-menu-sublink:hover {
        color:#a7a6a8;
    }

    .full-menu-link span {
        position: relative;
    }

    .full-menu-link_active span:after {
        content: '';
        background: #f7941e;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }

    .full-menu-sublink_active span:after {
        content: '';
        background: #c0bec2;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }

    .full-menu-other-link_active span:after {
        content: '';
        background: #f7941e;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.2s ease-in-out;
    }

    .full-menu-link_active:active span::after,
    .full-menu-link_active:hover span::after {
        width: 100%;
    }

    .full-menu_submenu {
        /*display: none;*/
    }

    .full-menu {
        display: block;
        text-align: center;
        padding: 50px 0 0 0;
    }

    .full-menu-col {
        width: auto;
    }


    .full-menu-link_select-flat {
        color:#f7941e;
        text-transform: uppercase;
        font-family: 'Proxima Nova Semibold';
    }


    .full-menu-link_select-flat:hover {
        color:#f7941e;
    }

    .full-menu-other-link-wrap {
        display: block;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .full-menu-other-link {
        font-size: 14px;
        font-family: 'Proxima Nova Regular';
        color: #f7941e;
        text-transform: uppercase;
        line-height: 2.5;
        text-decoration: none;
        margin: 0 18px;
    }

    .col-md-12 {
        width: 100%;
    }


    .btn-more_sec1,
    .btn-more_sec2,
    .btn-more_sec3,
    .btn-more_sec4,
    .btn-more_sec5,
    .btn-more_sec6 {
        bottom:-40px;
        right:168px;
        top:inherit;
    }




    .list_sec3 {
        margin-top: 70px;
        max-width: 330px;
    }

    .list_sec3 li {
        display: flex;
    }


    .home-banner__date {
        right: 0;
        border-radius: 30px 0 0 30px;
    }

    .footer-menu {
        padding-bottom: 20px;
    }

    .footer-menu-other-link-wrap {
        display: none;
    }

    .footer-menu-col {
        width: 33.3%;
    }

    .footer-menu-col_subscribe-wrap {
        width: 100%;
    }

    .footer__phone {
        /*Когда ссылок станет больше вернуть margin*/
        /*margin:-30px 0 50px;*/
        margin: 20px 0;
        order:1;
        width: 33.3%;
    }

    .footer-socials_mobile {
        order:3;
        width: 33.3%;
        margin-right: 0;
    }

    .footer-subscribe {
        order: 4;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0;
        width: 66.66%;
    }

    .footer-menu-col_subscribe-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-subscribe__form {
        margin-top: 0;
    }


    .left-container {
        width: 50%;
        padding-right: 20px;
        padding-left: 127px;
    }

    .right-container {
        width: 50%;
    }
}

@media screen and (--mdMinus) {

    .header-container {
        padding: 0 40px;
    }



    .main-content-img__text {
        opacity: 1;
        padding: 370px 200px 0 40px;
    }

    .left-container {
        padding-left: 0;
    }

    .footer-menu {
        padding: 0 40px 40px;
    }

    .footer-bottom {
        padding: 30px 40px 10px;
    }


    .footer-socials__item {
        /*margin-right: 0;*/
        /*margin: 0 10px;*/
    }

    .footer-socials__item:after {
        display: none;
    }


    .header__burger {
        right: 40px;
    }

}

@media screen and (--smMinus) {

    .header__phone a {
        padding-top: 0;
    }

    .header-container {
        padding: 0 20px;
    }

    .header__burger {
        right: 20px;
    }

    .header__phone a span {
        display: none;
    }


    .home-banner-list__text {
        font-size: 30px;
        line-height: 30px;
    }

    .full-menu-popup {
        padding: 0 20px;
    }

    .full-menu-other-link {
        margin: 0 3px;
        font-size: 12px;
    }

    .full-menu-link {
        font-size: 16px;
        padding: 10px 0;
    }


    .footer-menu-col {
        display: none;
    }

    .footer-menu-col_subscribe-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        display: flex;
    }

    .footer-socials_mobile {
        width: 100%;
        justify-content: center;
    }

    .footer {
        padding: 30px 20px 0;
    }

    .footer-info {
        opacity: 1;
    }

    .footer-text {
        line-height: 1;
        text-align: center;
        color:#a7a6a8;
    }

    .footer-copyright {
        color:#ffffff;
        text-align: center;
    }

    .footer-subscribe {
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }

    .footer-menu {
        border:none;
        padding: 0;
    }

    .footer__phone {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
        width: 100%;
        padding: 0;
    }

    .footer__phone a {
        padding-left: 0;
    }

    .footer-bottom {
        padding: 20px 0 60px 0 ;
        justify-content: center;
    }

    .home-banner__date {
        padding: 10px 20px 10px 30px;
    }

    .full-menu-popup .fancybox-close-small {
        top:20px;
        right: 15px;
    }


    .left-container {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .list_sec6 {
        width: 100%;
    }

    .list li span {
        margin-right: 10px;
    }

    .col-12_order-first {
        order:1;
    }

    .col-12_order-second {
        order:2;
    }

    .btn-more_sec2,
    .btn-more_sec4 {
        top:-40px;
        left:20px;
    }

    .btn-more_sec6 {
        left:20px;
    }



    .main-content-img__text_sec4:before {
        content: '';
        width: 75px;
        height: 1px;
        background: #f8b470;
        position: absolute;
        left:0;
        bottom: -20px;
    }

    .btn-call-inner {
        padding: 40px 0 40px;
    }

}

@media screen and (--xl) {
    .footer-menu-col {
        width: auto;
    }

    .footer-menu-col:nth-child(1) {
        margin-right: 80px;
    }

    .footer-menu-col:nth-child(2) {
        margin-right: 100px;
    }

    .footer-menu-col:nth-child(3) {

    }

    .footer-menu-col:nth-child(4) {
        flex-basis: 16%;
        margin-left: auto;
    }
}

