/*=require includes/vars.css */
/*=require includes/fonts.css */
/*=require includes/helpers.css */
/*=require includes/main.css */
/*=require includes/media.css */

/*=require includes/blocks/*.css */
/*=require includes/pages/*.css */

.action-card-content{
    &>ul,
    &>ol,
    &>p{
        margin-bottom: 15px;
    }
}

.fancybox-close-small {

}

.fancybox-close-small {
    right: 0;
    top: 0;
    width: 5.5%;
    background: #016d39;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    width: 46px;
    height: 46px
}

.fancybox-close-small,
.fancybox-close-small:after {
    position: absolute;
}

.fancybox-close-small:after {
    transition: ease .3s all;
    content: '×';
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 32px;
    pointer-events: none;
    display: block;
}

.fancybox-close-small:hover:after {
    transform: translate(-50%, -55%) rotate(180deg);
}
