<div class="longread-links">
    <div class="longread-links__inner">
        <div class="longread-links__title">Смотрите также</div>
        <div class="longread-links__list">
            <a href="" class="longread-links__item">Квартиры</a>
            <a href="" class="longread-links__item">Территория</a>
            <a href="" class="longread-links__item">Паркинг</a>
            <a href="" class="longread-links__item longread-links__item_active">Безопасность</a>
            <a href="" class="longread-links__item">Расположение</a>
            <a href="" class="longread-links__item">Вид на лес</a>
            <a href="" class="longread-links__item">Технологии</a>
        </div>
    </div>
    {% include "includes/blocks/btn-call-longread.njk" %}
</div>