.BigCheckbox {
    user-select: none;
}

.BigCheckbox_input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.BigCheckbox_view {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(43, 38, 52, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #19191a;
    font-family: "Proxima Nova Light", Arial, Helvetica;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
}

.BigCheckbox_input:checked+.BigCheckbox_view {
    background: #f7941e;
    border-color: #f7941e;
    color: #fff;
}

.BigCheckbox_input:focus+.BigCheckbox_view {
    box-shadow: 0 0 0 1px rgba(247, 148, 30, 0.3);
}

.parkingCheckboxes .BigCheckbox_view {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}
