.call-form-sidebar {
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(43, 38, 52, .8);
    overflow-y: auto;
    transition: all 0.4s ease;
}

@media (--smMinus) {
    .call-form-sidebar {
        top: 0;
        z-index: 501;
    }
}

.call-form-sidebar__inner {
    transition: ease .3s all;
    transform: translateX(-100%);
    width: 440px;
    padding: 100px 55px 20px;
    background-color: #2b2634;
    min-height: 100%;
    display: flex;
    align-items: center;
}

@media (--mdMinus) {
    .call-form-sidebar__inner {
        width: 400px;
        padding: 100px 40px 20px;
    }
}

@media (--smMinus) {
    .call-form-sidebar__inner {
        width: 100%;
        padding: 100px 20px 20px;
    }
}

.call-form-inner {
    width: 100%;
}

.call-form-sidebar__close {
    transition: ease .3s all;
    display: block;
    position: absolute;
    top: 37px;
    right: 20px;
    width: 18px;
    height: 18px;
    background: transparent url('../img/mortgage/close.png');
    cursor: pointer;
}

@media (--smMinus) {
    .call-form-sidebar__close {
        top: 20px;
        right: 20px;
    }
}

.call-form-sidebar__close:hover {
    transform: rotate(180deg);
}

.call-form-sidebar__tlt {
    color: #fff;
    font-size: 30px;
    font-family: 'Proxima Nova Regular';
    line-height: 36px;
    margin-bottom: 40px;
}

.call-form-sidebar._active {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
}

.call-form-sidebar._active .call-form-sidebar__inner {
    transform: translateX(0);
}

.call-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.call-form__step {
    margin-bottom: 35px;
    width: 100%;
}

.ccall-form__step:last-child {
    margin-bottom: 0;
}

.call-form__step._double {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.call-form__step._double .call-form__lbl:first-child {
    margin-right: 40px;
}

.call-form__lbl {
    display: block;
    position: relative;
}

.call-form__inp {
    transition: ease .3s all;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #fff;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    font-family: 'Proxima Nova Light';
}

.call-form__inp.user-error {
    border-bottom-color: #c80a18;
}

.call-form__inp:focus,
.call-form__inp:invalid {
    outline: 0 !important;
    box-shadow: none !important;
}

.call-form__inp._slide {
    border: none;
}

.call-form__inp._age {
    width: 22px;
}

.call-form__inp._small {
    font-size: 16px;
}

.call-form__inp._large {
    font-size: 30px;
    height: 60px;
    line-height: 60px;
}

.call-form__placeholder,
.call-form__require {
    transition: ease .3s all;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 17px;
    color: #a7a6a8;
    font-style: normal;
    font-family: 'Proxima Nova Regular';
    cursor: text;
}

.call-form__require {
    left: auto;
    right: 0;
    font-size: 14px;
    color: #6b6871;
    font-family: 'Proxima Nova Light';
}

.call-form__inp._active+.call-form__placeholder {
    font-size: 14px;
    line-height: 14px;
    top: -14px;
}

.call-form__inp._active+.call-form__placeholder+.call-form__require {
    line-height: 14px;
    right: 85px;
    top: -14px;
}

.call-form__btn {
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-family: 'Proxima Nova Light';
}

.call-form__btn a {
    transition: ease .3s all;
    color: #f7941e;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: solid 1px #6c472f;
    font-family: 'Proxima Nova Regular';
}

.call-form__btn a:hover {
    border-bottom-color: transparent;
    color: #fca742;
}

.call-form__age {
    color: #fff;
    font-family: 'Proxima Nova Regular';
    size: 16px;
}

.call-form__sbt:focus {
    outline: none;
}

.ws-invalid {
    position: relative;
}

.ws-invalid._double .call-form-sidebar__lbl {
    position: relative;
}

.ws-errorbox {
    position: absolute;
    bottom: 100%;
    right: 0;
}

.ws-errorbox .ws-errormessage {
    padding: 0;
    margin: 0;
    color: #c80a18;
    font-size: 14px;
    line-height: 14px;
}

.call-form__sbt {
    background: transparent;
    border: 1px solid #dc8521;
    color: #dc8521;
    transition: ease .3s all;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Proxima Nova Regular';
    line-height: 100%;
    text-transform: uppercase;
    height: 50px;
    cursor: pointer;
}

.call-form__sbt:hover {
    background: #dc8521;
    color: #ffffff;
}

.call-form-inner_enable {
    display: block;
}

.call-form-inner_disable {
    display: none;
}

.call-form-inner_enable:before {
    content: '';
    background: url("../img/phone.svg") no-repeat;
    width: 98px;
    height: 75px;
    display: block;
    margin: 0 auto 30px;
}

.call-form-sidebar__btn {
    font-family: 'Proxima';
    font-weight: 400;
    color: #ffffff;
    background: #f7941e;
    outline: none;
    border: 1px solid #f7941e;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    display: block;
    text-align: center;
    transition: background-color 0.4s ease, color 0.4s ease;
    margin: 50px auto 0;
}

.call-form-sidebar__btn:hover {
    background: transparent;
    cursor: pointer;
}

.call-form-sidebar__text {
    font-family: 'Proxima';
    font-weight: 300;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
}

.call-form-sidebar__tlt_ok {
    text-align: center;
    margin-bottom: 10px;
}