.CookiesAgree {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 50px 8px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #212028;
    font: 500 14px/18px 'Gilroy';
    color: #B2B2B2;
    z-index: 1001;
    transition: all .3s ease;
    @media (--lgMinus) {
        padding: 8px 40px;
    }
    @media (--smMinus) {
        flex-direction: column;
        padding: 18px 20px 32px;
    }
    &_txt {
        padding: 7px 50px 7px 0;
        @media (--smMinus) {
            padding: 0;
        }
    }
    &_btn {
        min-width: 206px;
        height: 50px;
        padding-top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid #fff;
        font: 500 14px/1 'Gilroy';
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        transition: border .5s ease;
        @media (--smMinus) {
            min-width: 280px;
            height: 40px;
            margin-top: 20px;
        }
        &:before {
            content: "";
            background: #319b6b;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            transition: all 0.3s ease;
            z-index: -1;
        }
        &:hover {
             border-color: #319b6b;

            &:before {
                height: 100%;
            }
        }
    }
    &._hide {
        opacity: 0;
        visibility: hidden;
        z-index: -1001;
    }
}