.FlatCard {
    display: block;
    position: relative;
    background: #fff;
    @media (--mdMinus) {
        padding: 22px;
    }
    @media (--lgPlus) {
        padding: 28px;
    }

    &-discount,
    &-light {
        background-color: #feeedf;
        &:hover {
            background-color: #ffffff;
        }
    }

    @media (--mdPlus) {
        border-right: 1px solid #eaeaeb;
        border-bottom: 1px solid #eaeaeb;
    }

    &:before {
        content: "";
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 4px solid #028862;
        pointer-events: none;
    }
    &:hover {
        box-shadow: 0 10px 25px rgba(43, 38, 52, 0.25);
        border-color: #028862;
        z-index: 10;
        &:before {
            display: block;
        }
    }

    &_picWrap {
        padding: 0 24px;
    }

    &_pic {
        display: block;
        background: center no-repeat;
        background-size: contain;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    &_details {
        color: #19191a;
        width: 100%;
        margin-top: 10px;
    }

    &_param {
        font-family: "Proxima Nova Light";
        overflow: hidden;
        font-size: 12px;
        @media (--lgPlus) {
            font-size: 13px;
        }
        @media (--xlPlus) {
            font-size: 15px;
        }
        &:last-child {
            text-align: right;
        }
        & > strong {
            font-family: "Proxima Nova Bold";
            color: #f7941e;
            white-space: nowrap;
        }
    }

    &_iconsWrap {
        position: absolute;
        padding-top: 17px;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (--mdMinus) {
            right: 12px;
        }
        @media (--lgPlus) {
            right: 16px;
        }
    }

    &_ico {
        color: #4b4b4b;
        margin-bottom: 12px;
        cursor: help;

        &-active {
            color: #f7941e;
        }

        &-control {
            &:hover {
                color: #939393;
            }
        }

        & > .SvgIco {
            height: 17px;
        }
        & .actionIcon {
              margin-right: 0;
        }
    }
    &-promo {
        padding:0;

        &:hover {
            box-shadow: none;
            border-color:#eaeaeb;
            z-index: 10;

            &:before {
                 display: none;
            }
        }
    }

    &__promo {
         height:100%;
         position: relative;
         background-position: center;
         background-size: 100% 100%;
         background-repeat: no-repeat;

        &:after {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    &__promoLink {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
}
