.genplan {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
    visibility: hidden;
    z-index: 4;

    &__start {
        position: absolute;
        padding: 10px 20px;
        background-color: #f59331;
        color: #fff;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.2;
        border-radius: 5px;
        right: 7%;
        top: 25%;

        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 4px 0 4px;
            border-color: #f59331 transparent transparent transparent;
        }

        @media (max-width: 1600px) {
            top: 18%;
        }
        &._enter {
            right: auto;
            bottom: auto;
            width: 220px;
            height: auto;
            padding: 16px 27px 14px;
            opacity: 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #19191a;
            background: #fff;
            z-index: 1050;
            @media (--smMinus) {
                width: 160px;
                padding: 14px 15px 11px;
                font-size: 12px;
                line-height: 16px;
            }
            &:before {
                border-width: 16px 6px 0;
                border-color: #fff transparent transparent transparent;
                margin: -1px 0 0 -6px;
            }
            & img {
                display: block;
                margin: 0 0 9px;
                @media (--smMinus) {
                    margin: 0 0 1px;
                }
            }
        }
    }

    @media (--smMinus) {
        overflow-x: auto;
    }

    &__content {
        position: relative;
        width: auto;
        height: auto;
    }

    &__img-common {
        display: block;
        width: 100%;
        height: auto;
    }

    &__renders,
    &__render,
    &__objects,
    &__labels,
    &__numbers,
    &__dev-lebels {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__renders {
        z-index: 1000;
    }

    &__labels {
        z-index: 1010;
    }

    &__compass-line {
        fill: #D7D6D8;
    }

    &__compass {
        position: absolute;
        display: block;
        bottom: 80px;
        left: 60px;
        width: 100px;
        height: 100px;
        z-index: 6;

        @media (--smMinus) {
            display: none;
        }

        /* @media (--smMinus) {
      display: none;
      bottom: 30px;
      left: 30px;
      width: 74px;
      height: 74px;
    } */
        &--south .genplan__compass-line--south {
            fill: #F7941E;
        }

        &--west .genplan__compass-line--west {
            fill: #F7941E;
        }

        &--north .genplan__compass-line--north {
            fill: #F7941E;
        }

        &--east .genplan__compass-line--east {
            fill: #F7941E;
        }
    }

    &__render {
        fill: #2B2634;
        opacity: 0;
        transition: all .3s ease;
        pointer-events: none;
        &[data-id="genplan-object_46-48"] {
             z-index: 1;
             opacity: 1;
         }

        &--active {
            position: relative;
            opacity: 0.7;
            z-index: 2;
            /*&[data-id="genplan-object_46-48"] {
                 opacity: 1;
             }*/
        }
        &._nofill {
            fill: transparent;
        }
    }

    &__objects {
        z-index: 1020;
    }

    &__object {
        /* position: relative; */
        display: block;
        width: 100%;
        height: 100%;
        /* z-index: 2; */
        fill: transparent;
        cursor: pointer;
        &-disable {
            cursor: default;
        }
    }

    &__number {
        position: absolute;
        display: inline-flex;
        align-items: center;
        z-index: 1030;
        transform: translate(-20px, -20px);
        cursor: pointer;

        @media (min-width: 2501px) {
            transform: translate(-20px, 10px);
        }

        @media (min-width: 1900px) and (max-width: 2500px) {
            transform: translate(-20px, -8px);
        }

        @media (min-width: 1600px) and (max-width: 1899px) {
            transform: translate(-20px, -14px);
        }

        @media (--smMinus) {
            transform: translate(-14px, -14px);
        }

        &--active {
            z-index: 3;
        }

        &._long {
            top: 31.6%;
            left: 91.2%;

            @media (max-width: 1600px) {
                top: 30%;
            }
        }

        &._disabled {
            cursor: default;

            .genplan__number-icon {
                background-color: #bbb;
                color: #000;

                &:after {
                    background-color: #bbb;
                }
            }
        }

        &._new {
            .genplan__number-icon {
                background-color: #fff;
                color: #000;

                &:after {
                    background-color: #fff;
                }
            }
        }
    }

    &__number-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        border-radius: 50%;
        background-color: #f7941e;
        font-family: "Proxima Nova Light", sans-serif;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.8);

        @media (--smMinus) {
            width: 28px;
            height: 28px;
            font-size: 12px;
        }

        &::after {
            content: '';
            position: absolute;
            top: -4px;
            left: -4px;
            width: 49px;
            height: 49px;
            border-radius: 50%;
            opacity: 0.5;
            background-color: #f7941e;
            z-index: 3;

            @media (--smMinus) {
                width: 34px;
                height: 34px;
                top: -3px;
                left: -3px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 1px;
            height: 20px;
            background-color: #fff;
            z-index: 4;
            transform: translate(-50%, 0);

            @media (--smMinus) {
                bottom: -14px;
                height: 14px;
            }
        }

        span {
            position: relative;
            z-index: 4;
        }

        &._long {
            &:before {
                height: 50px;
                bottom: -50px;
            }
        }
    }

    &__number-description {
        display: flex;
        align-items: center;
        padding: 0 17px 0 34px;
        height: 30px;
        margin-left: -20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #fff;
        font-family: "Proxima Nova", sans-serif;
        font-size: 14px;

        @media (--smMinus) {
            height: 20px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 10px;
        }
    }

    &__label {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        padding: 5px 20px;
        background-color: #fff;
        border-radius: 6px;
        z-index: 5;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        animation-name: fadeIn;
        pointer-events: none;
        color: #fff;

        &--active {
            display: inline-flex;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            /*border-width: 0 10px 10px 0;
            border-color: transparent #fff transparent transparent;*/
            border-width: 10px 5px 0;
            border-color: #fff transparent transparent transparent;
            position: absolute;
            bottom:-10px;
            left: 50%;
            margin-left: -5px;
        }

        &--active2 {
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 5px 0;
                border-color: #fff transparent transparent transparent;
                position: absolute;
                bottom:-10px;
                left: 20px;
            }
        }

        &._orange {
            background-color: #f7931c;

            .genplan__label-text1,
            .genplan__label-text2,
            .genplan__label-text3 {
                color: #fff;
            }

            .genplan__label-text3 {
                opacity: .5;
            }

            &:after {
                border-color: transparent #f7931c transparent transparent;
            }
        }
    }

    &__label-title,
    &__label-text {
        margin: 0;
        text-align: center;
    }

    &__label-title {
        font-family: "Proxima Nova Semibold", sans-serif;
        font-size: 15px;
        letter-spacing: -0.3px;
        line-height: 1.2;

        @media (--smMinus) {
          font-size: 12px;
        }
    }

    &__label-text {
        @media (--smMinus) {
          font-size: 11px;
        }
    }

    &__label-text1 {
        color:#000;
        font-family: 'Proxima';
        font-weight: 300;
        font-size: 17px;
        line-height: 1.2;
    }

    &__label-text2 {
        color:#000;
        font-family: 'Proxima';
        font-weight: 400;
        font-size: 14px;

        & span {
           font-weight: 600;
        }
    }

    &__label-text3 {
        color:#f7931c;
        font-family: 'Proxima';
        font-weight: 400;
        font-size: 12px;
        line-height: 1;

        &-completed {
           color:#f59332;
        }
     }

    &__dev-lebel {
        position: absolute;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 0 20px;
        font-family: "Proxima Nova", sans-serif;
        font-size: 14px;
        line-height: 1.2;
        background-color: #e8e4d8;
        transform: translate(-20px, -18px);

        @media (min-width: 2501px) {
            transform: translate(-20px, -14px);
        }

        @media (--smMinus) {
            height: 20px;
            padding: 0 16px;
            margin-top: 10px;
            font-size: 10px;
            transform: translate(-20px, -25px);
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -16px;
            border: 6px solid transparent;
            border-top: 16px solid #e8e4d8;
            transform: translate(-50%, 0);
        }

        &--start {
            &::after {
                left: 24px;
                transform: translate(0, 0);
            }
        }
    }

    &__dev-process {
        position: absolute;
        width: 44px;
        height: 44px;
        background-image: url(../img/genplan/gen-process.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);

        @media (--smMinus) {
            width: 32px;
            height: 32px;
        }
    }

    &__btn-call {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 5;
        padding: 0;
        margin: 0 0 40px 0;
        @media (--smMinus) {
            margin:0 0 30px 0;
        }

        &::before {
            width: calc(50% - 124px);
        }

        &::after {
            content: "";
            background: #319b6b;
            height: 1px;
            width: calc(50% - 124px);
            position: absolute;
            left: auto;
            top: 50%;
            right: 0;
            z-index: 40;
            margin-left: 0;
            margin-top: 0;
        }

        .btn-call {
            /* &::after {
        display: none;
      } */
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

/*tmp*/
[data-id="genplan-object_1a"],
[data-id="genplan-object_1b"]{
    display: none!important;
}
