.LKEnter {
    display: flex;
    align-items: center;
    font-size: 0;
    line-height: 0;

    &_icon {
         height: 15px;
         font-size: 0;
         line-height: 0;
        & + .LKEnter_txt {
              margin-left: 9px;
              top: 2px;
              position: relative;
          }
    }
    &_txt {
         font-family: 'Proxima';
     }
    &._header {
         align-items: flex-start;
         margin: 23px 20px 0 0;
        @media (--767) {
            margin: 27px 20px 0 0;
        }
    }
    &._dropMenu {
         padding: 8px 0;
         margin-top: auto;
         font-size: 17px;
         line-height: 26px;
         color: #181819;
        @media (--lgMinus) {
            padding: 15px 0;
            font-size: 20px;
            color: #fff;
            justify-content: center;
        }
        @media (--767) {
            padding: 10px 0;
            font-size: 16px;
        }
        & path {
            @media (--lgMinus) {
                fill: #fff;
            }
        }
    }
    &._footer {
         font-weight: 500;
         font-size: 14px;
         line-height: 17px;
         color: #f3923e;
         text-transform: uppercase;
         white-space: nowrap;
        margin: auto 0 20px 17px;
        @media (--lgMinus) {
            order: 2;
            margin-bottom: 30px;
            margin-left: 0;
            width: 66.66%;
            position: relative;
            top: 5px;
        }
        @media (--767) {
            order: 5;
            top: 0;
            margin: 20px 0 10px;
            justify-content: center;
        }
    }
}