.Multycheckbox {
    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-bottom: 17px;
    &_lbl {
        padding-right: 10px;
        color: #575759;
        display: block;
        border: 0;
        background: none;
        padding: 0;
        margin: 0 left;
        font-size: 14px;
        cursor: pointer;
        font-family: "Proxima Nova Light", sans-serif;
        line-height: 1;
    }

    &_ico {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid #d5d1ce;
        background: transparent;
        cursor: pointer;
        margin-right: 10px;
    }
}


.Multycheckbox_inp[value='1']+.Multycheckbox_ico {
    background: #f7941e center no-repeat;
    background-image: url("checkmark.svg?datauri");
    background-size: 90% auto;
    border-color: #f7941e;
}