.simple-pagination ul {
    text-align: center;
    padding: 0 0 20px;

    &>li {
        margin: 0 5px;

        display: inline-block;
        &>.page-link,
        &>.next,
        &>.prev,
        &>.current {
            font-size: 13px;
            font-family: "GeometriaRegulat";
            text-align: center;
            line-height: 50px;
            vertical-align: middle;
            position: relative;
            text-decoration: none;
            color: #000!important;
            height: 50px;
            width: 50px;
            display: block;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 2px solid #f79149;
                opacity: 0;
                transition: opacity .2s ease;
            }

            &:hover:after {
                opacity: 1;
            }           
        }
        &:before {
                display: none;    
        }




        &>.current {
            background: #ededed;
            pointer-events: none;
        }
        &>.prev {
            background: url("../img/arrow_page_left.svg") no-repeat center / 9px 16px;
        }

        &>.next {
            background: url("../img/arrow_page_right.svg") no-repeat center / 9px 16px;
        }

        &>.prev,
        &>.next {
            &.current {
                opacity: 0.2;
            }
        }
    }
}