.PBn {
    &_closeBtn {
        position: absolute;
        right: 0;
        top: 0;
        width: 5.5%;
        background: #016d39;
        border: 0;
        overflow: hidden;
        cursor: pointer;
        width: 46px;
        height: 46px;

        &:after {
            content: "×";
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
            font-size: 32px;
            pointer-events: none;
            display: block;
        }
    }
}
