.photos-residents {
    padding: 0 55px;
    @media(--mdMinus) {
        padding: 0 40px;
    }
    @media(--smMinus) {
        padding: 0 20px;
    }
    &__container {
        display: flex;
        max-width: 992px;
        margin: 37px auto 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__col {
        width:50%;
        @media(--lgMinus) {
            width: calc(50% - 20px);
        }
        @media(--mdMinus) {
            width: calc(50% - 10px);
        }
        @media(--smMinus) {
            width: 100%;
        }
    }
    &__item {
        max-width: 474px;
        margin-bottom: 42px;
        @media(--lgMinus) {
            margin-bottom: 40px;
        }
        @media(--mdMinus) {
            margin-bottom: 20px;
        }
        @media(--smMinus) {
            display:flex;
            justify-content: center;

            & iframe {
                min-width: auto !important;
                max-width: 100% !important;
                border:none !important;
            }
        }
    }
    &__btn {
        background: #319b6b;
        width: 250px;
        height:50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 28px auto 40px;
        color:#ffffff;
        font-size: 14px;
        text-transform: uppercase;
        &_hidden {
            display:none;
        }
    }
}

