.PickupFlatLayout {
    &_inner {

        /*         @media (--mdPlus) {
    border-bottom: 1px solid #eaeaeb;
} */
        @media (--xlPlus) {
            display: flex;
        }
    }

    &_results {

        flex: 1;
        position: relative;
    }

    &_filter {

        @media (--lgMinus) {
            background: #ededed;
        }
        @media (--xlPlus) {

            width: 347px;
            border-right: 1px solid #eaeaeb;
        }
    }

    /*    &_resultsCont {
        border-bottom: 1px solid #eaeaeb;
    }*/
    &_resultsCont {
         transition: all 0.3s ease;
    &-loading {
         opacity: 0.4;
         pointer-events: none;
     }
    }
    &_topRow {
        padding: 0 23px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        height: 62px;
        border-bottom: 1px solid #eaeaeb;
        color: hsla(240, 2%, 10%, 0.5);
        font-family: "Proxima Nova Light";

        h4 {
            margin-right: 30px;
        }
    }

    &_footer {
        text-align: center;
        padding-top: 26px;
        color: #7F7F7F;
        font-family: "Proxima Nova";
        font-size: 12px;
    }

    &_footerText {
        padding: 0 22px 30px;
    }
    &_progress {
         display: none;
         opacity: 0;
         text-align: center;
         width: 0;
         height: 2px;
         background: #028862;
         position: absolute;
         transform: translateZ(0);
         will-change: opacity, width;
    }
}
