.showroom {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &__main {
        width: 100%;
        height: 530px;
        position: relative;

        @media (--smMinus) {
            height: 407px;
        }

        @media (--xs) {
            height: 220px;
        }

        &:hover {
            & .showroom__overlay {
                background-color: rgba(43, 38, 52, 0);
            }

            & .showroom__zoomDesc {
                opacity: 0;
            }

            & .showroom__zoom svg {
                transform: scale(1.6);

                & g {
                    fill: #319b6b;
                }
            }
        }

        /*&:before {
            content: '';
            display: block;
            background: url('../img/longread-3/arrow.svg') center/contain no-repeat;
            width: 250px;
            height: 6px;
            position: absolute;
            transform: translate(-50%, 0);
            bottom: -100px;
            left: 50%;

            @media (--smMinus) {
                bottom: -80px;
                width: 183px;
            }

            @media (--xs) {
                bottom: -60px;
            }
        }*/
    }

    &__title {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        color: #2a2a2b;
        font-weight: 600;
        margin-bottom: 59px;

        @media (--smMinus) {
            margin-bottom: 40px;
        }

        @media (--xs) {
            margin-bottom: 25px;
            font-size: 15px;
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        border: none;
        background: url('../img/showroom.jpeg') center/cover no-repeat;

        @media (--smMinus) {
            background-image: url('../img/showroom_mob.jpeg');
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
    }

    &__zoom {
        text-align: center;
        color: #fff;
        font-size: 18px;

        @media (--xs) {
            font-size: 14px;
        }
    }

    &__zoom svg {
        margin-bottom: 15px;
        width: 60px;
        height: auto;
        transition: 0.3s;

        @media (--xs) {
            width: 45px;
        }
    }
}

.showroom-fullFrame {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200010;
    display: none;
    &--active {
        height: 100%;
    }

    &__iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 70;
        width: 30px;
        cursor: pointer;
    }
}