
.SubCheckboxes {
    margin: 0 0 20px 0;

    &__item {
         margin: 10px 0;
         color: #575759;
         font-size: 14px;
         font-family: 'Proxima';
         font-weight: 300;

        &--form {
             color:#a7a6a8;
            & label {
                & a {
                    color:#f7941e;

                }
            }

            & .ws-errorbox {
                top:-25px;
                font-weight: 400;
            }

            &.ws-invalid {
                & .SubCheckboxes__input+label:before {
                    border-color: #c80a18;
                }
            }

            @media (--lgPlus) {
                & .SubCheckboxes__input+label:before {
                    margin-top: 3px;
                }
                & .SubCheckboxes__input:checked+label:after {
                    top:3px;
                }
            }
        }

        &--payment {
            color:#3b3b3b;
            position:relative;
            & label {
                & a {
                    color:#f7941e;
                }
            }
            & .ws-errorbox {
                font-weight: 400;
              }

            &.ws-invalid {
                & .SubCheckboxes__input+label:before {
                    border-color: #c80a18;
                }
            }
        }

    }

    &__input {
         position: absolute;
         opacity: 0;
    
        & + label {
              position: relative;
              cursor: pointer;
              padding: 0;
              display: flex;
        }

        & + label:before {
              content: '';
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 14px;
              height: 14px;
              background: transparent;
              border: 1px solid #d5d1ce;
              border-radius: 2px;
              flex-shrink: 0;
        }

        &:checked + label:before {
             background: #f7941e;
        }

        &:disabled + label {
             color: #b8b8b8;
             cursor: auto;
        }


        &:checked + label:after {
             content: '';
             position: absolute;
             left:0px;
             top:0px;
             z-index: 10;
             width: 16px;
             height: 16px;
             background: #f7941e 50% no-repeat;
             background-image: url("checkmark.svg?datauri");
             background-size: 80% auto;
             border-color: #f7941e;
             border-radius: 2px;
        }

        &:checked + label:before {
             border-color:transparent;
        }

    }
}