.ViewSwitch {
    display: inline-block;
    &_list {
        display: flex;
    }
    &_btn {
        margin: 0 5px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        &-active {
            border-color: #BFBDC2;
        }

        padding: 3px;
        line-height: 0;
        outline: 0;

        &>.SvgIco {
            color: #BFBDC2;
            height: 13px;
            width: 13px;
        }
    }
}
