<div id="form-call" class="page-sidebar__wrapper">
    <div class="page-sidebar__tlt">Заказать звонок</div>
    <form action="#" method="GET" data-action="/ajax/form-response.json" class="page-form ws-validate">
        <div class="page-form__step">
            <label class="page-form__lbl">
            <input type="text" name="name" value="" class="page-form__inp" data-errormessage="Заполните поле" required="required" minlength="1" />
            <em class="page-form__placeholder">Имя</em>
            </label>
        </div>
        <div class="page-form__step">
            <label class="page-form__lbl">
            <input type="tel" name="phone" value="" class="page-form__inp" data-errormessage="Заполните поле" required="required" minlength="1" data-mask="phone" />
            <em class="page-form__placeholder">Телефон</em>
            </label>
        </div>
        <div class="page-form__step">
            <div class="SubCheckboxes__item SubCheckboxes__item--form">
                <input data-errormessage="Подтвердите согласие на обработку данных." required type="checkbox" id="privacy-call" class="SubCheckboxes__input" name="privacy-call" value="1"/>
                <label for="privacy-call">
                    <span>Даю согласие на <a href="/privacy">обработку</a> персональных данных</span>
                </label>
            </div>
        </div>
        <input type="hidden" name="url" value="" />
            <div class="page-form__step">
            <input type="submit" name="Submit" value="Перезвоните мне" class="page-form__sbt button _orange" />
        </div>
    </form>
</div>
