<div class="tradein-form-sidebar" data-tradein-form-sidebar>
    <div class="tradein-form-sidebar__inner">
        <div class="tradein-form-inner">
            <em class="tradein-form-sidebar__close"></em>
            <div class="tradein-form-sidebar__tlt">Заявка на trade-in</div>

            <form data-action="/ajax/form-response.json" method="GET" class="tradein-form ws-validate">
                <div class="tradein-form__step">
                    <label class="tradein-form__lbl">
                        <input type="text" class="tradein-form__inp" data-errormessage="Заполните поле" required name="tradein-form-name">
                        <em class="tradein-form__placeholder">Имя</em>
                    </label>
                </div>
                <div class="tradein-form__step">
                    <div class="tradein-form__lbl">
                        <label>
                            <input type="tel" class="tradein-form__inp" data-mask="phone" data-errormessage="Заполните поле" required name="call-form-phone">
                            <em class="tradein-form__placeholder">Телефон</em>
                        </label>
                    </div>
                </div>
                <div class="tradein-form__step">
                    <input type="submit" value="Отправить" class="tradein-form__sbt">
                </div>
            </form>
        </div>
    </div>
</div>

